description = "Feature block"
==
<section class="features">
	<div class="container">
		<div class="block">
			<h2 class="title">Features of NFT Marketplace</h2>
			<div class="secondText">Check the various features that will help your platform users.</div>
			<div class="cardsContainer">
				<div class="card cardHorizontal"><img class="img" src="{{ 'assets/images/site/nft/cardScarcity.svg'| theme }}" alt="Scarcity" />
					<div class="cardInfo">
						<h2 class="cardTitle">Scarcity</h2>
						<div class="cardDescription">The value of the NFTs is always increasing due to their scarce nature. The developers program the platform in a way that only a certain amount of NFTs are produced.</div>
					</div>
				</div>
				<div class="card cardHorizontal"><img class="img" src="{{ 'assets/images/site/nft/cardUniqueness.svg'| theme }}" alt="Uniqueness" />
					<div class="cardInfo">
						<h2 class="cardTitle">Uniqueness</h2>
						<div class="cardDescription">Since NFTs are unique, they are not interchangeable. Thus, the information regarding the NFTs cannot be altered and it provides the certification for the authenticity of the digital assets.</div>
					</div>
				</div>
				<div class="card cardVertical"><img class="img" src="{{ 'assets/images/site/nft/cardTransparency.svg'| theme }}" alt="Transparency" />
					<div class="cardInfo">
						<h2 class="cardTitle">Transparency</h2>
						<div class="cardDescription">Since NFTs are developed on a decentralized ecosystem, the information and data regarding the transactions are verified publicly. Hence NFT provides high-level transparency</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>