description = "Hero block for nft landing"
==
<section class="hero-nft">
	<div class="container">
		<div class="block">
			<h1 class="title">NFT MARKETPLACE Development Services</h1>
			<div class="secondText">We help you launch your own NFT marketplace that gives your customers a seamless buying experience.</div><img class="img" src="{{ 'assets/images/site/nft/redParallelogram.svg'| theme }}" alt="redParallelogram-img" /><a class="button" href="#contact-us">Get free consultation<img loading="lazy" src="{{ 'assets/images/site/icons/icon-arrow-right-mask.svg'| theme }}" alt="arrow right"/></a></div>
	</div>
	<div class="background" style="background-image: url('{{ 'assets/images/site/nft/consultationBG.png'| theme }}');"></div>
	<div class="imgStatue" style="background-image: url('{{ 'assets/images/site/nft/image450.png'| theme }}');"></div>
</section>