description = "Portfolio slider"
==
<section class="portfolio">
	<div class="block">
		<h2 class="title">PORTFOLIO</h2>
		<div class="portfolioSlider">
			<div class="swiper swiper-portfolio">
				<div class="swiper-wrapper">
					<div class="swiper-slide slide"><img src="{{ 'assets/images/site/nft/sliderPortfolio/slide1.png'| theme }}" alt="portfolio" /></div>
					<div class="swiper-slide slide"><img src="{{ 'assets/images/site/nft/sliderPortfolio/slide2.png'| theme }}" alt="portfolio" /></div>
					<div class="swiper-slide slide"><img src="{{ 'assets/images/site/nft/sliderPortfolio/slide3.png'| theme }}" alt="portfolio" /></div>
					<div class="swiper-slide slide"><img src="{{ 'assets/images/site/nft/sliderPortfolio/slide4.png'| theme }}" alt="portfolio" /></div>
					<div class="swiper-slide slide"><img src="{{ 'assets/images/site/nft/sliderPortfolio/slide5.png'| theme }}" alt="portfolio" /></div>
				</div>
			</div>
		</div>
	</div>
</section>