description = "Why choose NFT"
==
<section class="why-choose">
	<div class="block">
		<h2 class="title">Why Choose Rock'n'Block for NFT Marketplace Development?</h2>
		<div class="secondText">Here are your benefits of doing business with us.</div>
		<div class="sliderContainerWrapper">
			<div class="leftShadowBlock"></div>
			<div class="rightShadowBlock"></div>
			<div class="swiper sliderContainer swiper-business">
				<picture class="redLine">
					<source type="image/webp" srcset="{{ 'assets/images/site/nft/Line2.webp'| theme }}" /><img loading="lazy" src="{{ 'assets/images/site/nft/Line2.png'| theme }}" alt="line background" />
				</picture>
				<div class="swiper-wrapper">
					<div class="swiper-slide blockSlide">
						<div class="slideTitle">250+ Projects</div>
						<div class="slideDescription">created on a turn-key basis</div>
					</div>
					<div class="swiper-slide blockSlide">
						<div class="slideTitle">1 Bn+ dollars</div>
						<div class="slideDescription">capitalization of the projects we have built</div>
					</div>
					<div class="swiper-slide blockSlide">
						<div class="slideTitle">15 000+</div>
						<div class="slideDescription">smart contracts deployed</div>
					</div>
					<div class="swiper-slide blockSlide">
						<div class="slideTitle">15+ years</div>
						<div class="slideDescription">of development experience</div>
					</div>
					<div class="swiper-slide blockSlide">
						<div class="slideTitle">100+ Team</div>
						<div class="slideDescription">members (mostly developers)</div>
					</div>
				</div>
				<picture class="redLine">
					<source type="image/webp" srcset="{{ 'assets/images/site/nft/Line16.webp'| theme }}" /><img loading="lazy" src="{{ 'assets/images/site/nft/Line16.png'| theme }}" alt="line background" />
				</picture>
				<div class="navigation"><img class="navIcon nav-prev" src="{{ 'assets/images/site/nft/toLeft.svg'| theme }}" alt="nav left" /><img class="navIcon nav-next" src="{{ 'assets/images/site/nft/toRight.svg'| theme }}" alt="nav right" /></div>
			</div>
		</div>
	</div>
</section>