description = "Working section"
==
<section class="working">
	<div class="block">
		<h2 class="title">Working Of NFT Marketplace</h2>
		<div class="secondText">Our team will help you define a stand-out creative direction and will translate it into visual assets that will resonate with your audience. Package offerings include.</div>
		<div class="cardsContainerWrapper">
			<div class="cardsContainer">
				<div class="card transparentCard">
					<h2 class="cardTitle">Standard</h2><img class="lineIcon" src="{{ 'assets/images/site/nft/Vector66.svg'| theme }}" alt="line icon" />
					<div class="option"><img class="checkIcon" src="{{ 'assets/images/site/nft/Check_fill.svg'| theme }}" alt="checked" />
						<div class="name">Mint 721 NFT-tokens</div>
					</div>
					<div class="option"><img class="checkIcon" src="{{ 'assets/images/site/nft/Check_fill.svg'| theme }}" alt="checked" />
						<div class="name">Mint 1155 NFT-tokens</div>
					</div>
					<div class="option"><img class="checkIcon" src="{{ 'assets/images/site/nft/Check_fill.svg'| theme }}" alt="checked" />
						<div class="name">Sell / Buy / Auction</div>
					</div>
					<div class="option"><img class="checkIcon" src="{{ 'assets/images/site/nft/Check_fill.svg'| theme }}" alt="checked" />
						<div class="name">Likes</div>
					</div>
					<div class="option"><img class="checkIcon" src="{{ 'assets/images/site/nft/Cancel.svg'| theme }}" alt="Cancel" />
						<div class="name">Following</div>
					</div>
					<div class="option"><img class="checkIcon" src="{{ 'assets/images/site/nft/Cancel.svg'| theme }}" alt="Cancel" />
						<div class="name">Stories</div>
					</div>
					<div class="option"><img class="checkIcon" src="{{ 'assets/images/site/nft/Cancel.svg'| theme }}" alt="Cancel" />
						<div class="name">Import from OpenSea</div>
					</div>
					<div class="option"><img class="checkIcon" src="{{ 'assets/images/site/nft/Cancel.svg'| theme }}" alt="Cancel" />
						<div class="name">3d NFTs</div>
					</div>
					<div class="option"><img class="checkIcon" src="{{ 'assets/images/site/nft/Cancel.svg'| theme }}" alt="Cancel" />
						<div class="name">Time Auction</div>
					</div>
					<div class="option"><img class="checkIcon" src="{{ 'assets/images/site/nft/Cancel.svg'| theme }}" alt="Cancel" />
						<div class="name">Import from everywhere</div>
					</div>
					<div class="option"><img class="checkIcon" src="{{ 'assets/images/site/nft/Cancel.svg'| theme }}" alt="Cancel" />
						<div class="name">Perks</div>
					</div>
				</div>
				<div class="card currentCard">
					<h2 class="cardTitle">Advanced</h2><img class="lineIcon" src="{{ 'assets/images/site/nft/line.svg'| theme }}" alt="line icon" />
					<div class="option"><img class="checkIcon" src="{{ 'assets/images/site/nft/Check_fill.svg'| theme }}" alt="checked" />
						<div class="name">Mint 721 NFT-tokens</div>
					</div>
					<div class="option"><img class="checkIcon" src="{{ 'assets/images/site/nft/Check_fill.svg'| theme }}" alt="checked" />
						<div class="name">Mint 1155 NFT-tokens</div>
					</div>
					<div class="option"><img class="checkIcon" src="{{ 'assets/images/site/nft/Check_fill.svg'| theme }}" alt="checked" />
						<div class="name">Sell / Buy / Auction</div>
					</div>
					<div class="option"><img class="checkIcon" src="{{ 'assets/images/site/nft/Check_fill.svg'| theme }}" alt="checked" />
						<div class="name">Likes</div>
					</div>
					<div class="option"><img class="checkIcon" src="{{ 'assets/images/site/nft/Check_fill.svg'| theme }}" alt="checked" />
						<div class="name">Following</div>
					</div>
					<div class="option"><img class="checkIcon" src="{{ 'assets/images/site/nft/Check_fill.svg'| theme }}" alt="checked" />
						<div class="name">Stories</div>
					</div>
					<div class="option"><img class="checkIcon" src="{{ 'assets/images/site/nft/Check_fill.svg'| theme }}" alt="checked" />
						<div class="name">Import from OpenSea</div>
					</div>
					<div class="option"><img class="checkIcon" src="{{ 'assets/images/site/nft/Cancel.svg'| theme }}" alt="Cancel" />
						<div class="name">3d NFTs</div>
					</div>
					<div class="option"><img class="checkIcon" src="{{ 'assets/images/site/nft/Cancel.svg'| theme }}" alt="Cancel" />
						<div class="name">Time Auction</div>
					</div>
					<div class="option"><img class="checkIcon" src="{{ 'assets/images/site/nft/Cancel.svg'| theme }}" alt="Cancel" />
						<div class="name">Import from everywhere</div>
					</div>
					<div class="option"><img class="checkIcon" src="{{ 'assets/images/site/nft/Cancel.svg'| theme }}" alt="Cancel" />
						<div class="name">Perks</div>
					</div>
				</div>
				<div class="card transparentCard">
					<h2 class="cardTitle">Premium</h2><img class="lineIcon" src="{{ 'assets/images/site/nft/Vector66.svg'| theme }}" alt="line icon" />
					<div class="option"><img class="checkIcon" src="{{ 'assets/images/site/nft/Check_fill.svg'| theme }}" alt="checked" />
						<div class="name">Mint 721 NFT-tokens</div>
					</div>
					<div class="option"><img class="checkIcon" src="{{ 'assets/images/site/nft/Check_fill.svg'| theme }}" alt="checked" />
						<div class="name">Mint 1155 NFT-tokens</div>
					</div>
					<div class="option"><img class="checkIcon" src="{{ 'assets/images/site/nft/Check_fill.svg'| theme }}" alt="checked" />
						<div class="name">Sell / Buy / Auction</div>
					</div>
					<div class="option"><img class="checkIcon" src="{{ 'assets/images/site/nft/Check_fill.svg'| theme }}" alt="checked" />
						<div class="name">Likes</div>
					</div>
					<div class="option"><img class="checkIcon" src="{{ 'assets/images/site/nft/Check_fill.svg'| theme }}" alt="checked" />
						<div class="name">Following</div>
					</div>
					<div class="option"><img class="checkIcon" src="{{ 'assets/images/site/nft/Check_fill.svg'| theme }}" alt="checked" />
						<div class="name">Stories</div>
					</div>
					<div class="option"><img class="checkIcon" src="{{ 'assets/images/site/nft/Check_fill.svg'| theme }}" alt="checked" />
						<div class="name">Import from OpenSea</div>
					</div>
					<div class="option"><img class="checkIcon" src="{{ 'assets/images/site/nft/Check_fill.svg'| theme }}" alt="checked" />
						<div class="name">3d NFTs</div>
					</div>
					<div class="option"><img class="checkIcon" src="{{ 'assets/images/site/nft/Check_fill.svg'| theme }}" alt="checked" />
						<div class="name">Time Auction</div>
					</div>
					<div class="option"><img class="checkIcon" src="{{ 'assets/images/site/nft/Check_fill.svg'| theme }}" alt="checked" />
						<div class="name">Import from everywhere</div>
					</div>
					<div class="option"><img class="checkIcon" src="{{ 'assets/images/site/nft/Check_fill.svg'| theme }}" alt="checked" />
						<div class="name">Perks</div>
					</div>
				</div>
			</div>
		</div><a class="button" href="#contact-us">Get expert consultation<img loading="lazy" src="{{ 'assets/images/site/icons/icon-arrow-right-mask.svg'| theme }}" alt="arrow right"/></a></div>
</section>