description = "Business section"
==
<section class="business">
	<div class="block">
		<div class="ellipse"></div>
		<div class="background" style="background-image: url('{{ 'assets/images/site/vesting/bgBusinesses.png'| theme }}');"></div>
		<h2 class="title">기업이 베스팅(VESTING)이 필요한 이유</h2>
		<div class="descriptions">블록체인 공간에서 회수 사기 및 러그풀(rug pulls)이 증가함에 따라 보호할 수 있는 여러 시스템을 개발하였습니다. 투자자를 보호하는 수단 중 하나인 토큰 베스팅을 비롯한 여러 기능을 통합한 유동성 보관함을 사용하는 것입니다. 토큰 베스팅은 특정 디지털 자산을 안정적이며 장기적 가치를 유지하기 위해 일정 기간 동안 투자자의 토큰을 잠그는 것을 의미합니다. 토큰 베스팅은 본질적으로 토큰 보유자가 블록체인 프로젝트의 코인 또는 토큰이 상장된 후 즉시 판매하는 것을 방지하며 시장 가격의 흐름을 원활하게 합니다.</div>
		<div class="businessesImg"></div>
	</div>
</section>