description = "Business section"
==
<section class="business">
	<div class="block">
		<div class="ellipse"></div>
		<div class="background" style="background-image: url('{{ 'assets/images/site/vesting/bgBusinesses.png'| theme }}');"></div>
		<h2 class="title">기업이 베스팅(VESTING)이 필요한 이유</h2>
		<div class="descriptions">블록체인 공간에서 투자 회수 사기 및 러그풀(rug pulls)이 증가함에 따라 개발자는 이러한 사기로부터 투자자를 보호하는 여러 방법을 개발했습니다 투자자를 보호하는 그러한 수단 중 하나는 토큰 베스팅을 비롯한 여러 기능을 통합하는 유동성 보관함을 사용하는 것입니다. 토큰 베스팅은 특정 디지털 자산의 안정적인 장기적 가치를 유지하기 위해 특정 기간 동안 투자자의 토큰을 잠그는 것을 의미합니다. 토큰 베스팅은 본질적으로 토큰 보유자가 블록체인 프로젝트의 코인 또는 토큰이 상장된 후 즉시 토큰을 판매하는 것을 방지하여 시장 가격이 흐름을 원활하게 합니다.</div>
		<div class="businessesImg"></div>
	</div>
</section>