description = "Mean section"
==
<section class="mean">
	<div class="block">
		<h2 class="title">베스팅(VESTING)이 어떤 뜻인가요?</h2>
		<div class="content">
			<div class="description">기본적으로 베스팅은 자산에 대한 소유자의 액세스를 지연시키는 프로세스입니다.
				<br/>
				<br/>블록체인에서의 베스팅 또한 같은 형태이지만 더 폭넓은 방식으로 구현됩니다.</div><img class="img" src="{{ 'assets/images/site/vesting/Group1000001985.png'| theme }}" alt="vesting" />
			<div class="info"><img class="rectangle" src="{{ 'assets/images/site/vesting/Rectangle770.png'| theme }}" alt="vesting" />일반적으로 베스팅(VESTING) 토큰은 팀 구성원, 고문, 파트너, 프로젝트 개발에 기여한 기타 사람 뿐 아니라 일반 판매에 들어가기 전에 토큰을 구매한 투자자에게도 속합니다. 토큰은 점진적으로, 때로는 한 달에 한 번, 일주일에 한 번 또는 프로젝트가 진행됨에 따라 매일 지급하는 것이 매우 일반적입니다.</div>
		</div>
	</div>
</section>