description = "Mean section"
==
<section class="mean">
	<div class="block">
		<h2 class="title">What Does Vesting Mean?</h2>
		<div class="content">
			<div class="description"> Essentially, vesting is the process of delaying an owner’s access to an asset.
				<br/>
				<br/>Vesting in crypto is similar although it is implemented in a broader fashion. </div><img class="img" src="{{ 'assets/images/site/vesting/Group1000001985.png'| theme }}" alt="vesting" />
			<div class="info"><img class="rectangle" src="{{ 'assets/images/site/vesting/Rectangle770.png'| theme }}" alt="vesting" />Usually vested tokens belong to team members, advisors, partners, others who contributed to the development of the project, but also investors who purchased tokens before they went on general sale. It is very common for tokens to be released gradually over the vesting period, sometimes | once a month, once a week, or even daily as the project progresses.</div>
		</div>
	</div>
</section>