description = "Token section"
==
<section class="token">
	<div class="block">
		<div class="ellipse"></div>
		<h2 class="title">토큰 베스팅(VESETING) 옵션:</h2>
		<div class="descriptions">두 가지 주요 토큰 베스팅(VESTING) 옵션이 있습니다:</div>
		<div class="cardContainer">
			<div class="card"><img class="cardImg" src="{{ 'assets/images/site/vesting/optionCard1.png'| theme }}" alt="Reverse Vesting" />
				<div class="cardTitle">리버스 베스팅(REVERSE VESTING)</div>
				<div class="cardDescription">주로 프로젝트 설립자, 팀 및 대규모 투자자가 토큰 매도의 속도 또는 시기를 제한하는 장치입니다. 이러한 토큰 베스팅 옵션에서 프로젝트는 베스팅 기간을 2년으로 단축할 수 있지만 매도 기간을 최대 4년까지 늘릴 수 있습니다.</div>
			</div>
			<div class="card"><img class="cardImg" src="{{ 'assets/images/site/vesting/optionCard2.png'| theme }}" alt="Normal Vesting" />
				<div class="cardTitle">노멀 베스팅(NORMAL VESTING)</div>
				<div class="cardDescription">토큰은 사전에 정해진 기간 동안 스마트 컨트랙트를 통해 잠겨 있습니다. 프로젝트 설립자는 토큰의 특정 비율을 잠그고 주기적으로 지급하는 방향으로 결정할 수 있습니다. 예를 들어 6개월 후 20%, 1년 후 50%, 2년차에 나머지 50%입니다.</div>
			</div>
		</div>
	</div>
</section>