description = "What we gives section"
==
<section class="whatwegives">
	<div class="block">
		<h2 class="title">베스팅(VESTING)의 이점은</h2>
		<div class="thingContainer">
			<div class="thing"><img class="thingImg" src="{{ 'assets/images/site/vesting/stability.png'| theme }}" alt="project stability" />
				<div class="thingLabel">프로젝트 안정성</div>
			</div>
			<div class="thing"><img class="thingImg" src="{{ 'assets/images/site/vesting/viability.png'| theme }}" alt="ecosystem viability " />
				<div class="thingLabel">코인 생태계 선순환</div>
			</div>
			<div class="thing"><img class="thingImg" src="{{ 'assets/images/site/vesting/perspective.png'| theme }}" alt="long-term perspective" />
				<div class="thingLabel">장기적 관점</div>
			</div>
			<div class="thing"><img class="thingImg" src="{{ 'assets/images/site/vesting/secure.png'| theme }}" alt="secure future company" />
				<div class="thingLabel">기업의 신뢰도 상승</div>
			</div>
			<div class="thing"><img class="thingImg" src="{{ 'assets/images/site/vesting/advocacy.png'| theme }}" alt="investor advocacy" />
				<div class="thingLabel">투자자 보호</div>
			</div>
		</div>
	</div>
</section>