description = "Website footer section"
==
<div class="containe footer">
	<nav class="social-links">
		<ul class="social-links__list">
		</ul>
	</nav>
	<div class="bottom">
		<div class="links">
			<p class="bottom__copyright-desktop">© Copyright Rock’n’Block 2022</p> <a href="https://rightful-euphonium-528.notion.site/984697738b1f4899b724881cd52e7834" target="_blank">개인정보처리방침</a><a href="/company" target="_blank">회사</a>
		</div>
		<p class="bottom__copyright-mobile">© Copyright Rock’n’Block 2022</p>
	</div>
	<div class="company-info">
		<ul>
			<li>골든라이온그룹 주식회사</li>
			<li><span class="label">대표자</span><span class="value">최세훈</span></li>
			<li><span class="label">회사 주소</span><span class="value">서울시 강동구 고덕로 40, 5층</span></li>
			<li><span class="label">사업자 등록번호</span><span class="value">869-86-01080</span></li>
			<li><span class="label">개인정보담당자</span><span class="value">김재중</span></li>
			<li><span class="label">대표 전화</span><span class="value">02-2088-8450</span></li>
			<li><span class="label">이메일 문의</span><a class="value">info@rocknblock.co.kr</a></li>
		</ul>
	</div>
</div>

<div id="btnScrollToTop">
	<img src="{{ 'assets/images/site/icons/icon-arrow-top-mask.svg'| theme }}" alt="arrow top">
</div>