description = "Website footer section"
==
<div class="containe footer">
	<nav class="social-links">
		<ul class="social-links__list">
		</ul>
	</nav>
	<div class="bottom">
		<div class="links">
			<p class="bottom__copyright-desktop">© Copyright Rock’n’Block 2022</p> <a href="/privacy-policy" target="_blank">개인정보처리방침</a><a href="/terms-of-service" target="_blank">이용약관</a><a href="/company" target="_blank">회사</a> </div>
		<p class="bottom__copyright-mobile">© Copyright Rock’n’Block 2022</p>
	</div>
</div>

<div id="btnScrollToTop">
	<img src="{{ 'assets/images/site/icons/icon-arrow-top-mask.svg'| theme }}" alt="arrow top">
</div>