description = "Website header section"
==
<?php
function onStart()
{
    $this['backendUrl'] = Backend::url('/');
}
?>
==
<div class="container">
	<nav class="main-nav">
		<section class="main-nav__mobile">
			<a class="logo" href="/">
				<img src="{{ 'assets/images/site/logo.svg'| theme }}" alt="Rock'n'Block logo">
			</a>
			<div class="burger icon">
			    <img class="icon-burger ic-open" src="{{ 'assets/images/site/icons/icon-header-burger-mask.svg'| theme }}" alt="burger menu">
			    <img class="icon-burger ic-close" src="{{ 'assets/images/site/icons/icon-header-burger-close-mask.svg'| theme }}" alt="burger close menu" hidden>
			 </div>
		</section>
		<section class="nav-pages" id="nav-pages">
			<a class="nav-pages__link" href="/#services">서비스</a>
			<a class="nav-pages__link" href="/#cases">포트폴리오</a>
			<a class="nav-pages__link" href="/#team">팀</a>
			<a class="nav-pages__link" href="/#partners">파트너</a>
			<a class="nav-pages__contact-button nav-pages__link__contact-us" href="#contact-us">문의하기</a>
		</section>
	</nav>
</div>