description = "Blockchains block"
==
<section class="blockchains" id="blockchains">
	<h2 class="title">지원가능 블록체인(BLOCKCHAIN)</h2>
	<div class="blockchains__items">
		<div class="blockchains__item">
		    <img class="blockchains__img" src="{{'assets/images/site/bridge/blockchains/ethereum.svg' | theme }}" alt="Ethereum" />
			<p class="blockchains__title">Ethereum</p>
		</div>
		<div class="blockchains__item">
		    <img class="blockchains__img" src="{{'assets/images/site/bridge/blockchains/neo.svg' | theme }}" alt="NEO" />
			<p class="blockchains__title">NEO</p>
		</div>
		<div class="blockchains__item">
		    <img class="blockchains__img" src="{{'assets/images/site/bridge/blockchains/tron.svg' | theme }}" alt="Tron" />
			<p class="blockchains__title">Tron</p>
		</div>
		<div class="blockchains__item">
		    <img class="blockchains__img" src="{{'assets/images/site/bridge/blockchains/polygon.svg' | theme }}" alt="Polygon" />
			<p class="blockchains__title">Polygon</p>
		</div>
		<div class="blockchains__item">
		    <img class="blockchains__img" src="{{'assets/images/site/bridge/blockchains/moonriver.svg' | theme }}" alt="Moonriver" />
			<p class="blockchains__title">Moonriver</p>
		</div>
		<div class="blockchains__item">
		    <img class="blockchains__img" src="{{'assets/images/site/bridge/blockchains/eos.svg' | theme }}" alt="EOS" />
			<p class="blockchains__title">EOS</p>
		</div>
		<div class="blockchains__item">
		    <img class="blockchains__img" src="{{'assets/images/site/bridge/blockchains/binance.svg' | theme }}" alt="Binance Smart Chain" />
			<p class="blockchains__title">Binance Smart Chain</p>
		</div>
		<div class="blockchains__item">
		    <img class="blockchains__img" src="{{'assets/images/site/bridge/blockchains/xinfin.svg' | theme }}" alt="XinFin" />
			<p class="blockchains__title">XinFin</p>
		</div>
		<div class="blockchains__item">
		    <img class="blockchains__img" src="{{'assets/images/site/bridge/blockchains/heco.svg' | theme }}" alt="Heco" />
			<p class="blockchains__title">Heco</p>
		</div>
		<div class="blockchains__item">
		    <img class="blockchains__img" src="{{'assets/images/site/bridge/blockchains/waves.svg' | theme }}" alt="Waves" />
			<p class="blockchains__title">Waves</p>
		</div>
		<div class="blockchains__item">
		    <img class="blockchains__img" src="{{'assets/images/site/bridge/blockchains/solana.svg' | theme }}" alt="Solana" />
			<p class="blockchains__title">Solana</p>
		</div>
		<div class="blockchains__item">
		    <img class="blockchains__img" src="{{'assets/images/site/bridge/blockchains/elrond.svg' | theme }}" alt="elrond" />
			<p class="blockchains__title">elrond</p>
		</div>
	</div>
</section>