description = "Hero block"
==
<section class="bridge-hero hero" style="background-image: url('{{'assets/images/site/bridge/hero/hero-bg.jpg' | theme }}')">
	<div class="hero__container container">
		<div class="hero__content">
			<h1 class="hero__title title">크로스체인(CROSS-CHAIN) 솔루션</h1>
			<p class="hero__subtitle">토큰 브릿지(Token bridges)를 통해 한 체인에서 다른 체인으로 자산을 보낼 수 있으며 역방향으로도 전송이 가능합니다</p><a class="button" href="#contact-us">견적문의<img loading="lazy" src="{{'assets/images/site/icons/icon-arrow-right-mask.svg' | theme }}" alt="arrow right"/></a></div>
		<div class="hero__img">
			<picture>
				<source type="image/webp" srcset="{{'assets/images/site/bridge/hero/hero-form.webp' | theme }}" />
				<img loading="lazy" src="{{'assets/images/site/bridge/hero/hero-form.png' | theme }}" alt="Cross-chain form" /></picture>
		</div>
	</div>
</section>