description = "Hero block"
==
<section class="bridge-hero hero" style="background-image: url('{{'assets/images/site/bridge/hero/hero-bg.jpg' | theme }}')">
	<div class="hero__container container">
		<div class="hero__content">
			<h1 class="hero__title title">Cross-Chain Solutions</h1>
			<p class="hero__subtitle">Token bridges enable the flow of value from one chain to another and back</p><a class="button" href="#contact-us">Apply now<img loading="lazy" src="{{'assets/images/site/icons/icon-arrow-right-mask.svg' | theme }}" alt="arrow right"/></a></div>
		<div class="hero__img">
			<picture>
				<source type="image/webp" srcset="{{'assets/images/site/bridge/hero/hero-form.webp' | theme }}" />
				<img loading="lazy" src="{{'assets/images/site/bridge/hero/hero-form.png' | theme }}" alt="Cross-chain form" /></picture>
		</div>
	</div>
</section>