description = "How it works block"
==
<section class="how" id="how">
	<div class="container how__container">
		<h2 class="how__title title">크로스 체인 브릿지의 역할</h2>
		<div class="how__steps">
			<div class="step">
				<div class="step__circle"><span>1</span></div>
				<p class="step__description">Tx는 사용자로부터 네트워크 A의 스왑 컨트랙트로 전송됩니다</p>
			</div>
			<div class="step">
				<div class="step__circle"><span>2</span></div>
				<p class="step__description">토큰은 네트워크 A에서 스왑 컨트랙트에 따라 잠겨집니다</p>
			</div>
			<div class="step">
				<div class="step__circle"><span>3</span></div>
				<p class="step__description">토큰은 네트워크 B의 스왑 컨트랙트에서 사용자에게 전송됩니다</p>
			</div>
		</div>
		<div class="how__img">
		    <img loading="lazy" src="{{'assets/images/site/bridge/how-it-works/chain-bridge.svg' | theme }}" alt="chain bridge" />
		</div>
	</div>
</section>