description = "Solutions"
==
<section class="what">
	<div class="container what__container">
		<h2 class="what__title title"><span style="color: #DC2C2C; display: block;"><span>크로스체인 브릿지(CROSS-CHAIN BRIDGE)</span>가 무엇인가요?</h2></div>
	<div class="what__img">
		<picture>
			<source type="image/webp" srcset="{{'assets/images/site/bridge/what/what.webp' | theme }}" />
			<img loading="lazy" src="{{'assets/images/site/bridge/what/what.png' | theme }}" alt="cross-chain bridge" /></picture>
	</div>
	<div class="container what__container">
		<p class="what__discription">크로스체인 브릿지를 사용하면 토큰을 다른 블록체인 표준으로 래핑(wrapping)할 수 있으며 서로 다른 네트워크에서 1:1 비율로 토큰을 안전하게 교환할 수 있습니다.</p>
		<p class="what__discription_sub what__discription">더 많은 고객에게 다가가는 것은 물론, 다양한 거래 플랫폼을 늘리고, 토큰 홀더를 위한 경쟁력 있는 거래 조건을 설정해야 하는 프로젝트의 필요성과 함께 크로스체인 브릿지(CROSS-CHAIN BRIDGE)를 구축해야 할 필요성이 높아집니다.</p>
	</div>
</section>