description = "Solutions"
==
<section class="what">
	<div class="container what__container">
		<h2 class="what__title title"><span style="color: #DC2C2C; display: block;">What is </span><span>cross-chain bridge?</span></h2></div>
	<div class="what__img">
		<picture>
			<source type="image/webp" srcset="{{'assets/images/site/bridge/what/what.webp' | theme }}" />
			<img loading="lazy" src="{{'assets/images/site/bridge/what/what.png' | theme }}" alt="cross-chain bridge" /></picture>
	</div>
	<div class="container what__container">
		<p class="what__discription">Cross-chain bridge allows to wrap a token to other blockchain standards and enable secure swap of tokens with 1:1 ratio across different networks.</p>
		<p class="what__discription_sub what__discription">Along with the project's need to reach bigger audiences, increase the variety of trading platforms, and establish competitive transaction terms for holders, the need to establish a cross-chain bridge arises.</p>
	</div>
</section>