description = "Why block"
==
<section class="why" id="why">
	<div class="container why__container">
		<h2 class="why__title title">왜 크로스체인(CROSS-CHAIN)하면, <span style="color: #DC2C2C; display: block;">ROCK'N'BLOCK</span> 인가요?</h2>
		<div class="why__items">
			<div class="item"><img class="item__img" src="{{'assets/images/site/bridge/why/icon-1.svg' | theme }}" alt="Have full control of your bridge" />
				<p class="item__text">사용자의 크로스체인 브릿지의 철처한 관리</p>
			</div>
			<div class="item"><img class="item__img" src="{{'assets/images/site/bridge/why/icon-2.svg' | theme }}" alt="Discover new trading platforms" />
				<p class="item__text">신규 거래 플랫폼 탐지</p>
			</div>
			<div class="item"><img class="item__img" src="{{'assets/images/site/bridge/why/icon-3.svg' | theme }}" alt="Reach new audiences" />
				<p class="item__text">새로운 수용자와 연결</p>
			</div>
			<div class="item"><img class="item__img" src="{{'assets/images/site/bridge/why/icon-4.svg' | theme }}" alt="Escape high gas fees" />
				<p class="item__text">높은 거래 수수료 탈피</p>
			</div>
			<div class="item"><img class="item__img" src="{{'assets/images/site/bridge/why/icon-5.svg' | theme }}" alt="Set your commission" />
				<p class="item__text">사용자 스스로 수수료 설정 가능</p>
			</div>
		</div><a class="button" href="#contact-us">견적문의<img loading="lazy" src="{{'assets/images/site/icons/icon-arrow-right-mask.svg' | theme }}" alt="arrow right"/></a></div>
</section>