description = "About section"
==
<section class="about">
	<h1>크라우드세일(CROWDSALE) 개발</h1>
	<h2>전 세계의 공인 투자자들을 유치하기 위하여 크라우드세일 계약 및 크라우드세일 팩(토큰+크라우드세일 계약) 을 통해 실제 자산을 합법적으로 토큰화 하여 벤처 자금을 조달할 수 있도록 도와드립니다.</h2><a class="button" href="#contact-us">크라우드세일 개발 문의
		<img loading="lazy" src="{{ 'assets/images/site/icons/icon-arrow-right-mask.svg'| theme }}" alt="arrow right" /></a>
	<div class="about__bg">
		<picture>
			<source type="image/webp" srcSet="{{ 'assets/images/site/crowdsale/about-bg-big.webp'| theme }}" media="(min-width: 1440px)" />
			<source type="image/webp" srcSet="{{ 'assets/images/site/crowdsale/about-bg.webp'| theme }}" media="(min-width: 768px)" />
			<source type="image/webp" srcSet="{{ 'assets/images/site/crowdsale/about-bg-mobile.webp'| theme }}" media="(max-width: 768px)" /><img class="about__bg_1" src="{{ 'assets/images/site/crowdsale/about-bg-big.png'| theme }}" alt="about background" />
		</picture><img class="about__bg_2" src="{{ 'assets/images/site/crowdsale/about-bg-2.png'| theme }}" alt="about background" />
	</div>
</section>