description = "About section"
==
<section class="about">
	<h1>Crowdsale Development</h1>
	<h2>We Help You Raise Funds For Your Venture By Legally Tokenizing Your
		Real World Assets Through crowdsale contract Crowdsale pack
		(token+crowdsale contract) - To Attract Accredited Investors Around The
		World.</h2><a class="button" href="#contact-us">Launch your own Crowdsale
		<img loading="lazy" src="{{ 'assets/images/site/icons/icon-arrow-right-mask.svg'| theme }}" alt="arrow right" /></a>
	<div class="about__bg">
		<picture>
			<source type="image/webp" srcSet="{{ 'assets/images/site/crowdsale/about-bg-big.webp'| theme }}" media="(min-width: 1440px)" />
			<source type="image/webp" srcSet="{{ 'assets/images/site/crowdsale/about-bg.webp'| theme }}" media="(min-width: 768px)" />
			<source type="image/webp" srcSet="{{ 'assets/images/site/crowdsale/about-bg-mobile.webp'| theme }}" media="(max-width: 768px)" /><img class="about__bg_1" src="{{ 'assets/images/site/crowdsale/about-bg-big.png'| theme }}" alt="about background" />
		</picture><img class="about__bg_2" src="{{ 'assets/images/site/crowdsale/about-bg-2.png'| theme }}" alt="about background" />
	</div>
</section>