description = "Crowdsale section"
==
<section class="crowdsale">
	<h2 class="crowdsale__title"><span>크라우드세일(CROWDSALE)</span>이 무엇일까요?</h2>
	<h3 class="crowdsale__desc">스타트업이 블록체인을 기반으로 하는 비즈니스를 위한 초기 자본 확충을 위해 가장 많이 쓰는 방법입니다. 블록체인 기술이 갖고 있는 장점이 크라우드세일에 반영되어 있습니다. 이렇게 모여진 자금은 크라우드펀딩을 통해 디지털 자산 프로젝트를 위한 재정적 지원을 하는데 사용됩니다.</h3>
	<div class="crowdsale__img"><img src="{{ 'assets/images/site/crowdsale/what-is-crowdsale-img.png'| theme }}" alt="crowdsale img" />
		<h3>Rock'n'Block은 크라우드세일 개발을 통해 프로젝트의 기금 마련 기회를 늘리는 데 도움이 됩니다. 자사는 크라우드세일 팩, 관리, 백서 제작, 백엔드 관리 및 개발의 모든 단계를 지원합니다. Rock'n'Block은 또한 출시 플랫폼 및 스마트 컨트랙트를 통해 다양한 블록체인 커뮤니티를 사용하여 새로운 토큰을 개발합니다.</h3>
	</div>
	<div class="crowdsale__cards">
		<DIV><img src="{{ 'assets/images/site/icons/shield.svg'| theme }}" alt="shield icon" />
			<h2>확장성</h2>
		</DIV>
		<DIV><img src="{{ 'assets/images/site/icons/fist.svg'| theme }}" alt="fist icon" />
			<h2>신뢰</h2>
		</DIV>
		<DIV><img src="{{ 'assets/images/site/icons/speedometer.svg'| theme }}" alt="speedometer icon" />
			<h2>신속</h2>
		</DIV>
	</div>
</section>