description = "Dev section"
==
<section class="dev">
	<h2 class="dev__title">Rock'n'Block <span>개발</span> 서비스</h2>
	<h3 class="dev__desc">자사는 다양한 크라우드세일 개발 서비스를 제공해드립니다. 서비스 항목은 다음과 같습니다.</h3>
	<div class="dev__cards">
		<div class="dev__cards_item">
			<DIV><img src="{{ 'assets/images/site/icons/icon-card-creation.svg'| theme }}" alt="creation icon" /></DIV>
			<h2>설계</h2>
		</div>
		<div class="dev__cards_item">
			<DIV><img src="{{ 'assets/images/site/icons/icon-card-dashboard.svg'| theme }}" alt="dashboard icon" /></DIV>
			<h2>대시보드</h2>
		</div>
		<div class="dev__cards_item">
			<DIV><img src="{{ 'assets/images/site/icons/icon-card-token.svg'| theme }}" alt="token development icon" /></DIV>
			<h2>토큰 개발</h2>
		</div>
		<div class="dev__cards_item">
			<DIV><img src="{{ 'assets/images/site/icons/icon-card-logic.svg'| theme }}" alt="business logic icon" /></DIV>
			<h2>비즈니스 로직 컨설팅</h2>
		</div>
		<div class="dev__cards_item">
			<DIV><img src="{{ 'assets/images/site/icons/icon-card-paper-consulting.svg'| theme }}" alt="White paper &amp; Light paper Consulting icon" /></DIV>
			<h2>백서 및 라이트 페이퍼(LIGHT PAPER) 컨설팅</h2>
		</div>
		<div class="dev__cards_item">
			<DIV><img src="{{ 'assets/images/site/icons/icon-card-landing-design.svg'| theme }}" alt="business logic icon" /></DIV>
			<h2>랜딩 페이지 설계</h2>
		</div>
		<div class="dev__cards_item">
			<DIV><img src="{{ 'assets/images/site/icons/icon-card-crypto-wallet.svg'| theme }}" alt="Crypto Wallet Development icon" /></DIV>
			<h2>암호화폐 지갑 개발</h2>
		</div>
		<div class="dev__cards_item">
			<DIV><img src="{{ 'assets/images/site/icons/icon-card-blockchain.svg'| theme }}" alt="Blockchain Integration and more icon" /></DIV>
			<h2>블록체인 확장</h2>
		</div>
	</div>
	<div class="dev__mobile">
		<h2>왜 <span>크라우드세일(CROWDSALE)</span> 개발은 ROCK'N'BLOCK인가요?</h2>
		<h3>Rock'n'Block은 귀하의 크라우드세일 개발의 완벽한 파트너입니다. 당사 개발팀은 귀하의 요구 사항에 따라 최적화되고 안정적인 크라우드세일 개발 솔루션을 제공할 수 있는 블록체인 기술 전문가들로 구성되어 있습니다. 또한 크라우드세일 프로세스의 각 단계에서 컨설팅 서비스를 제공하기 위해 헌신적으로 일할 수 있는 전문가가 있습니다.</h3>
	</div>
</section>