description = "Unique section"
==
<section class="unique">
	<h2 class="unique__title">다른 <span>크라우드세일 솔루션</span> 제공업체와 차별화되는 점은 무엇입니까?</h2>
	<h3 class="unique__desc">Rock'n'Block을 사용하면 혁신적인 아이디어로 크라우드세일을 쉽게 시작할 수 있습니다</h3>
	<div class="unique__cards">
		<DIV><img src="{{ 'assets/images/site/icons/icon-card-security.svg'| theme }}" alt="Utmost Security and Confidentiality icon" />
			<h2>최고의 보안 및 기밀성</h2>
			<h3>Rock'n'Block은 당신의 비즈니스의 중요성을 충분히 인지하기에 이에 따른 최고의 보안 솔루션을 제공합니다.</h3></DIV>
		<DIV><img src="{{ 'assets/images/site/icons/icon-card-trading.svg'| theme }}" alt="Trading and liquidity strategies icon" />
			<h2>거래 및 유동성 전략</h2>
			<h3>Rock'n'Block은 프로젝트의 유동성을 일정하게 유지하고 사용자 지정 교환도 제공하므로 코인을 거래할 수 있습니다.</h3></DIV>
		<DIV><img src="{{ 'assets/images/site/icons/icon-card-coins.svg'| theme }}" alt="Protection Against Token loss icon" />
			<h2>토큰 손실에 대한 보호</h2>
			<h3>Rock'n'Block은 토큰 손실로부터 당신의 프로젝트를 보호합니다.</h3></DIV>
		<DIV><img src="{{ 'assets/images/site/icons/icon-card-currency.svg'| theme }}" alt="Multi-Currency Funding icon" />
			<h2>펀딩 시 다중자산 지원</h2>
			<h3>Rock'n'Block은 또한 여러 종류의 자산으로 자금을 지원하고 거래를 보장하는 지갑(Wallet)을 설계합니다.</h3></DIV>
		<DIV><img src="{{ 'assets/images/site/icons/icon-card-verification.svg'| theme }}" alt="KYC Verification icon" />
			<h2>KYC 인증</h2>
			<h3>Rock'n'Block은 보안 충돌을 피하기 위해 사용자 인증 전략을 세심하게 설정합니다.</h3></DIV>
	</div>
</section>