description = "Why us section"
==
<section class="why-us">
	<div class="why-us__block">
		<h2>Why Choose Rock'n'Block For Your <span>Crowdsale Development?</span></h2>
		<h3>Rock'n'Block is the perfect place for your Crowdsale Development, our
team of developers is expertise in blockchain technology that enables
us to provide optimized and stable Crowdsale Development solutions as
per your requirements. We also have an expert who can work dedicatedly
to provide you with consultation services on each step of your
Crowdsale process.</h3></div>
	<div class="why-us__img">
		<picture>
			<source type="image/webp" srcSet="{{ 'assets/images/site/crowdsale/why-choose-bg.webp'| theme }}" /><img class="why-us__img_1" src="{{ 'assets/images/site/crowdsale/why-choose-bg.png'| theme }}" alt="why us bg" /></picture><img class="why-us__img_2" src="{{ 'assets/images/site/crowdsale/why-choose-img.png'| theme }}" alt="why us bg" /></div>
</section>