description = "Bridge landing form"
==
<div class="contact-us container" id="contact-us">
	<div class="background-img">
		<picture>
			<source type="image/webp" srcset="{{ 'assets/images/site/background/partners.webp'| theme }}" />
			<img loading="lazy" src="{{ 'assets/images/site/background/partners.png'| theme }}" alt="partners" />
		</picture>
	</div>
	<div class="background-img">
		<picture>
			<source type="image/webp" srcset="{{ 'assets/images/site/background/contact.webp'| theme }}" />
			<img loading="lazy" src="{{ 'assets/images/site/background/contact.png'| theme }}" alt="contact" />
		</picture>
	</div>

	{% if success_form == "1" %}
		<div style="margin: 0 auto;" class="contact-us__popup popup">
			<h3 class="popup__title">Thank you for your request!</h3>
			<span>We will be in touch with you shortly.</span>
			<button class="btn btn-orange btn-rounded popup__button-ok" data-request="feedback::onFormDone" data-request-update="forms/bridge: '#contact-us'">OK</button>
		</div>
	{% else %}
    	<div class="block-header">
    		<h2 class="primary-header">Estimate your project now!</h2>
    		<h3 class="secondary-header">Get free consultation and build your blockchain project with our highly qualified team!</h3>
    	</div>
    	<div class="form-social-links">
         <a href="https://t.me/AlexRNB" target="_blank" rel="nofollow noreferrer">
             <img src="{{ 'assets/images/site/social/telegram.svg'| theme }}" alt="telegram" />
         </a>
         <a href="https://api.whatsapp.com/send?phone=79119222390" target="_blank" rel="nofollow noreferrer">
             <img src="{{ 'assets/images/site/social/whatsapp.svg'| theme }}" alt="whatsapp" />
         </a>
     </div>
     <div class="form-info-text">
			<span>Start a chat with us or fill this form</span>
     </div>
 	{{ form_ajax('feedback::onForm', {
	    class: 'contact-us__form',
	    "data-request-loading": "#loading-form",
       update: { 'forms/bridge': '#contact-us'},
       'data-request-validate': true
       }) }}
      <div id="loading-form">
      	<div class="load-form">
      		<img class="load-form-icon" src="{{ 'assets/images/site/icon-loader.svg'| theme }}" alt="rocknblock loading" />
      		<span>Please wait...</span>
      	</div>
      </div>
        <input class="contact-us__form__input" id="contact-us-input" type="text" name="id" placeholder="Name" value="bridge" required hidden="hidden" />
		<label class="visually-hidden" hidden="hidden" for="contact-us-input">Enter your name</label>
		<input class="contact-us__form__input" id="contact-us-input" type="text" name="name" placeholder="Name" required />
		<label class="visually-hidden" hidden="hidden" for="contact-us-input">Enter link to your token contract</label>
		<input class="contact-us__form__input" id="contact-us-input" type="text" name="tokenContract" placeholder="Enter link to your token contract" required />
		<label class="visually-hidden" hidden="hidden" for="contact-us-input">What blockchains you're willing to bridge</label>
		<input class="contact-us__form__input" id="contact-us-input" type="text" name="blockchain" placeholder="What blockchains you're willing to bridge" required />
		<div class="form-group">
		    <label hidden="hidden" for="contact-us-input-2">Yout contact</label>
		    <input class="contact-us__form__input" id="contact-us-input-2" name="contact" placeholder="Your contact" required />
    		<div class="select-social">
                <select class="lm_input t-phone" name="type" required>
                    <option value="telegram" default>Telegram</option>
                    <option value="email">E-mail</option>
                    <option value="whatsapp">Whatsapp</option>
                </select>
            </div>
        </div>
        <div class="form-info-text" style="color:red;opacity: 1;" data-validate-for="contact"></div>
        <div class="form-info-text">
			<span>Note. If you choose Whatsapp please write your country code. (Ex: +1-xxxxxxx).</span>
        </div>
		<p class="terms">By using the service, you accept the <a href="/terms-of-service" target="_blank">Terms of Service</a>
		</p>
		<button class="contact-us__form__submit-btn btn btn-orange btn-rounded" type="submit">Submit request</button>
      {{ form_close() }}
    {% endif %}
</div>