description = "Main template"

[SeoCmsPage]
==
<!DOCTYPE html>
<html lang="ru">
	<head>
	    <meta name="title" content="{{ this.page.meta_title }}">
        {% component 'SeoCmsPage' %}
		{% partial "template/meta" %}
		{% partial "template/meta-twitter" %}
        {% placeholder head %}
		{% styles %}
	</head>
	<body>
	<!-- Header -->
		<header id="layout-header">
		{% partial 'site/header' %}
		</header>

		<!-- Content -->
		<main id="layout-content">
		{% page %}
		</main>

		<!-- Footer -->
		<footer id="layout-footer">
		{% partial 'site/footer' %}
		</footer>

		{% partial "template/styles-scripts" %}
		{% partial "template/scripts-seo" %}
		{% scripts %}
	</body>
</html>