==
<section class="create-nft">
	<div class="create-nft__block">
		<div class="create-nft__block_img"><img class="create-nft__block_img_cryptopunk" src="{{ 'assets/images/site/10knft/cryptopank.svg'| theme }}" alt="cryptopunk nft" />
			<div class="create-nft__block_img_bg"></div>
		</div>
		<h2>Create a 10000+ NFT Pixel Art Collection <span>like CryptoPunk</span></h2>
		<div class="create-nft__block_button"><a class="button" href="#contact-us">Order Project<img loading="lazy" src="{{ 'assets/images/site/icons/icon-arrow-right-mask.svg'| theme }}" alt="arrow right"/></a></div>
	</div>
	<div class="create-nft__bg"><img class="create-nft__bg_desktop" src="{{ 'assets/images/site/10knft/background.png'| theme }}" alt="bg" /><img class="create-nft__bg_mobile" src="{{ 'assets/images/site/10knft/background-mobile.png'| theme }}" alt="bg" /></div>
	<div class="create-nft__block-2">
		<div class="create-nft__block-2_img"><img class="create-nft__block-2_img_title-desktop" src="{{ 'assets/images/site/10knft/big-title.svg'| theme }}" alt="nft big title" /><img class="create-nft__block-2_img_title-mobile" src="{{ 'assets/images/site/10knft/big-title-mobile.png'| theme }}" alt="nft big title" /><img class="create-nft__block-2_img_bg" src="{{ 'assets/images/site/10knft/big-title-bg.svg'| theme }}" alt="nft big title bg" /></div>
		<div class="create-nft__block-2_desc">
			<h2>Do you want to create your OWN "<span>10.000 NFT Collection</span>" like Cryptopunks?</h2>
			<h3>The Rock'n'Block team allows you to bring your further ideas and
connections to life by dynamically filtering and sorting your entire
collection in one visually engaging experience. We change the way
you use attribute data, revealing trends that would otherwise be
invisible. Get your own 10k generator.</h3></div>
	</div>
</section>