description = "Nft generator"
==
<section class="nft-generator">
	<h2 class="nft-generator__title">Take the leap towards your NFT business.</h2><a class="button" href="#contact-us">Enroll now<img loading="lazy" src="{{ 'assets/images/site/icons/icon-arrow-right-mask.svg'| theme }}" alt="arrow right"/></a>
	<div class="nft-generator__container">
		<div class="nft-generator__container_titles">
			<div class="nft-generator__container_titles_item">Art</div>
			<div class="nft-generator__container_titles_item">Photo</div>
			<div class="nft-generator__container_titles_item">3D</div>
		</div>
		<div class="nft-generator__container_cards">
			<div class="nft-generator__container_cards_column">
				<div class="nft-generator__container_cards_column_item">Set 1</div>
				<div class="nft-generator__container_cards_column_item">Set 2</div>
				<div class="nft-generator__container_cards_column_item">Set 3</div>
				<div class="nft-generator__container_cards_column_item">Set 4</div>
			</div>
			<div class="nft-generator__container_cards_row">
				<div class="nft-generator__container_cards_row_item">
					<h2>49001</h2><img src="{{ 'assets/images/site/10knft/avatar-1.svg'| theme }}" alt="nft 1" /></div>
				<div class="nft-generator__container_cards_row_item">
					<h2>32125</h2><img src="{{ 'assets/images/site/10knft/avatar-2.svg'| theme }}" alt="nft 2" /></div>
				<div class="nft-generator__container_cards_row_item">
					<h2>28664</h2><img src="{{ 'assets/images/site/10knft/avatar-3.svg'| theme }}" alt="nft 3" /></div>
				<div class="nft-generator__container_cards_row_item">
					<h2>47837</h2><img src="{{ 'assets/images/site/10knft/avatar-4.svg'| theme }}" alt="nft 4" /></div>
				<div class="nft-generator__container_cards_row_item">
					<h2>34523</h2><img src="{{ 'assets/images/site/10knft/avatar-5.svg'| theme }}" alt="nft 5" /></div>
				<div class="nft-generator__container_cards_row_item">
					<h2>40038</h2><img src="{{ 'assets/images/site/10knft/avatar-6.svg'| theme }}" alt="nft 6" /></div>
				<div class="nft-generator__container_cards_row_item">
					<h2>16014</h2><img src="{{ 'assets/images/site/10knft/avatar-7.svg'| theme }}" alt="nft 7" /></div>
				<div class="nft-generator__container_cards_row_item">
					<h2>23457</h2><img src="{{ 'assets/images/site/10knft/avatar-8.svg'| theme }}" alt="nft 8" /></div>
				<div class="nft-generator__container_cards_row_item">
					<h2>44139</h2><img src="{{ 'assets/images/site/10knft/avatar-9.svg'| theme }}" alt="nft 9" /></div>
				<div class="nft-generator__container_cards_row_item">
					<h2>49470</h2><img src="{{ 'assets/images/site/10knft/avatar-10.svg'| theme }}" alt="nft 10" /></div>
				<div class="nft-generator__container_cards_row_item">
					<h2>13883</h2><img src="{{ 'assets/images/site/10knft/avatar-11.svg'| theme }}" alt="nft 11" /></div>
				<div class="nft-generator__container_cards_row_item">
					<h2>40371</h2><img src="{{ 'assets/images/site/10knft/avatar-12.svg'| theme }}" alt="nft 12" /></div>
			</div>
		</div>
	</div>
	<div class="nft-generator__bottom"><img class="img_mobile" src="{{ 'assets/images/site/10knft/collection-art-mobile.png'| theme }}" alt="nft collection" />
		<div class="nft-generator__bottom_block">
			<h2 class="nft-generator__bottom_block_title">Rock'n'Block creates a special type of NFT Collection:</h2>
			<h2 class="nft-generator__bottom_block_subtitle">Algorithmically <span>Generated NFT </span>collections.</h2>
			<h3 class="nft-generator__bottom_block_desc">Algorithmically generated NFTs basically means that no two NFTs will
ever be the same. CryptoPunk, Meebits, VeeFriends, Loot, and Bored
Ape are all Algorithmically Generated NFT collections and have done
really well.</h3></div><img class="img_desktop" src="{{ 'assets/images/site/10knft/collection-art.png'| theme }}" alt="nft collection" /></div>
</section>