description = "Feature block"
==
<section class="features">
	<div class="container">
		<div class="block">
			<h2 class="title">NFT 마켓플레이스의 특징</h2>
			<div class="secondText">플랫폼 이용자를 위한 NFT 마켓플레이스의 다양한 특징을 확인해보세요.</div>
			<div class="cardsContainer">
				<div class="card cardHorizontal"><img class="img" src="{{ 'assets/images/site/nft/cardScarcity.svg'| theme }}" alt="Scarcity" />
					<div class="cardInfo">
						<h2 class="cardTitle">희소성(SCARCITY)</h2>
						<div class="cardDescription">NFT고유의 희소성으로 인해 NFT의 가치는 계속 증가하고 있습니다. 저희 개발팀은 특정 수준의 양으로 NFT가 만들어질 수 있도록 선택형 프로그램을 개발합니다.</div>
					</div>
				</div>
				<div class="card cardHorizontal"><img class="img" src="{{ 'assets/images/site/nft/cardUniqueness.svg'| theme }}" alt="Uniqueness" />
					<div class="cardInfo">
						<h2 class="cardTitle">독창성(UNIQUENESS)</h2>
						<div class="cardDescription">NFT는 유일무이한 화폐 개념으로 대체가 불가능합니다. 따라서 NFT관련 정보는 수정이 불가능 하여, 디지털 자산의 진위여부를 증명해주는 증명서를 제공합니다.</div>
					</div>
				</div>
				<div class="card cardVertical"><img class="img" src="{{ 'assets/images/site/nft/cardTransparency.svg'| theme }}" alt="Transparency" />
					<div class="cardInfo">
						<h2 class="cardTitle">투명성(TRANSPARENCY)</h2>
						<div class="cardDescription">NFT는 탈중앙화 금융환경에서 개발이 됩니다. 따라서 거래관련 정보 및 데이터는 공개적으로 확인이 가능합니다. NFT는 최고의 투명성을 제공됩니다.</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>