description = "Hero block for nft landing"
==
<section class="hero-nft">
	<div class="container">
		<div class="block">
			<h1 class="title">NFT 마켓플레이스 개발 서비스</h1>
			<div class="secondText">고객이 쉽고 편하게 사용할 수 있는 당신만의 NFT 마켓플레이스를 출시할 수 있도록 도와드립니다.</div><img class="img" src="{{ 'assets/images/site/nft/redParallelogram.svg'| theme }}" alt="redParallelogram-img" /><a class="button" href="#contact-us">마켓플레이스 개발 문의<img loading="lazy" src="{{ 'assets/images/site/icons/icon-arrow-right-mask.svg'| theme }}" alt="arrow right"/></a></div>
	</div>
	<div class="background" style="background-image: url('{{ 'assets/images/site/nft/consultationBG.png'| theme }}');"></div>
	<div class="imgStatue" style="background-image: url('{{ 'assets/images/site/nft/image450.png'| theme }}');"></div>
</section>