description = "Order nft"
==
<section class="order">
	<div class="block">
		<div class="imgGroup">
			<div class="ellipse"></div>
			<div class="orderDevelopmentImg" style="background-image: url('{{ 'assets/images/site/nft/orderDevelopmentImg.png'| theme }}');"></div>
		</div>
		<picture class="infoBG">
			<source type="image/webp" srcset="{{ 'assets/images/site/nft/infoBG.webp'| theme }}" /><img loading="lazy" src="{{ 'assets/images/site/nft/infoBG.png'| theme }}" alt="wave background" /></picture>
		<div class="info">
			<h2 class="title">Order development of NFT Marketplace</h2>
			<div class="secondText">Our company develops an NFT marketplace on a turnkey basis. The specialists comprehensively assess the client's needs and create based on the set task a fully ready-to-launch platform with a good design and simple controls that will be understandable even to novice users of the market.
				<br/>
				<br/>We assess the user's needs for a quick payback on the platform and use clear tools to place offers to buy and sell non-mutually exchangeable tokens.</div><a class="button" href="#contact-us">Contact Us<img loading="lazy" src="{{ 'assets/images/site/icons/icon-arrow-right-mask.svg'| theme }}" alt="arrow right"/></a></div>
	</div>
</section>