description = "Order nft"
==
<section class="order">
	<div class="block">
		<div class="imgGroup">
			<div class="ellipse"></div>
			<div class="orderDevelopmentImg" style="background-image: url('{{ 'assets/images/site/nft/orderDevelopmentImg.png'| theme }}');"></div>
		</div>
		<picture class="infoBG">
			<source type="image/webp" srcset="{{ 'assets/images/site/nft/infoBG.webp'| theme }}" /><img loading="lazy" src="{{ 'assets/images/site/nft/infoBG.png'| theme }}" alt="wave background" /></picture>
		<div class="info">
			<h2 class="title">NFT 마켓플레이스 개발 의뢰</h2>
			<div class="secondText">Rock'n'Block은 턴키 방식으로 NFT 마켓플레이스를 개발합니다. 자사의 전문가들은 클라이언트의 요구 사항을 종합적으로 평가하고 시장의 초보 사용자도 충분히 이해할 수 있는 뛰어난 디자인과 간단한 제어 기능을 갖춘 플랫폼으로 언제든 진행이 가능한 환경을 기반으로 NFT를 개발합니다.
				<br/>
				<br/>자사는 플랫폼 상에서 빠른 투자 회수를 원하는 사용자들의 니즈를 분석하여 대체 불가능한 토큰인 NFT의 거래를 할 수 있게 합니다.</div><a class="button" href="#contact-us">개발 문의<img loading="lazy" src="{{ 'assets/images/site/icons/icon-arrow-right-mask.svg'| theme }}" alt="arrow right"/></a></div>
	</div>
</section>