description = "NFT Standarts"
==
<section class="standarts">
	<div class="block">
		<div class="ellipse">ellipse</div>
		<div class="title">표준 NFT</div>
		<div class="cardsContainers">
			<div class="card"><img class="img" src="{{ 'assets/images/site/nft/721.svg'| theme }}" alt="ERC 721" />
				<div class="cardInfo">
					<div class="cardTitle">ERC 721
						<div class="titleRed">Single</div>
					</div>
					<div class="cardDescription">하나의 작품을 단 한개의 NFT로 발행 시</div>
				</div>
			</div>
			<div class="card"><img class="img" src="{{ 'assets/images/site/nft/721.svg'| theme }}" alt="TRC 721" />
				<div class="cardInfo">
					<div class="cardTitle">TRC 721
						<div class="titleRed">Single</div>
					</div>
					<div class="cardDescription">하나의 작품을 단 한개의 NFT로 발행 시</div>
				</div>
			</div>
			<div class="card"><img class="img" src="{{ 'assets/images/site/nft/1155.svg'| theme }}" alt="ERC 1155" />
				<div class="cardInfo">
					<div class="cardTitle">ERC 1155
						<div class="titleRed">Multiple</div>
					</div>
					<div class="cardDescription">하나의 작품을 여러 NFT로 발행 시</div>
				</div>
			</div>
		</div>
		<div class="cardsImg" style="background-image: url('{{ 'assets/images/site/nft/cardGroup.png'| theme }}');"></div>
	</div>
</section>