description = "What is nft"
==
<section class="what-is-nft">
	<div class="block">
		<div class="imgGradient"></div>
		<div class="imgGroup imgGroupLeft" style="background-image: url('{{ 'assets/images/site/nft/groupLeft.png'| theme }}');"></div>
		<picture class="imgGroup imgGroupRight">
			<source type="image/webp" srcset="{{ 'assets/images/site/nft/groupRight.webp'| theme }}" /><img loading="lazy" src="{{ 'assets/images/site/nft/groupRight.png'| theme }}" alt="what is nft" /></picture>
		<div class="title">NFT 마켓플레이스란?
		</div>
		<p class="secondText">NFT 마켓플레이스는 NFT 기술로 구동되며 토큰의 판매 및 구매 제안에 대한 액세스를 제공하는 적응형 온라인 플랫폼입니다. 인기있는 개체에는 다양한 텍스트, 디지털 이미지 및 삽화, 게임 캐릭터, 금융 상품 및 도메인 이름이 포함됩니다. 완벽하게 디자인된 NFT마켓플레이스를 통해 판매자와 이에 관심이 있는 사용자 사이를 한층 더 가까워지게 함으로써 이를 통해 거래 제안을 할 수 있는 장소를 제공합니다. 사용자는 디지털 카탈로그와 개인 계정을 자유롭게 사용할 수 있으며 이를 통해 가장 안전하고 신속한 거래를 수행할 수 있습니다.</p>
		<div class="ellipse">ellipse</div>
		<picture class="imgStatue">
			<source type="image/webp" srcset="{{ 'assets/images/site/nft/image448.webp'| theme }}" /><img loading="lazy" src="{{ 'assets/images/site/nft/image448.png'| theme }}" alt="what is nft" /></picture><img class="redParalleogram" src="{{ 'assets/images/site/nft/redParallelogram.svg'| theme }}" alt="redParallelogram-img" />
		<picture class="imgLaptop">
			<source type="image/webp" srcset="{{ 'assets/images/site/nft/laptop.webp'| theme }}" /><img loading="lazy" src="{{ 'assets/images/site/nft/laptop.png'| theme }}" alt="what is nft" /></picture>
	</div>
</section>