description = "What is nft"
==
<section class="what-is-nft">
	<div class="block">
		<div class="imgGradient"></div>
		<div class="imgGroup imgGroupLeft" style="background-image: url('{{ 'assets/images/site/nft/groupLeft.png'| theme }}');"></div>
		<picture class="imgGroup imgGroupRight">
			<source type="image/webp" srcset="{{ 'assets/images/site/nft/groupRight.webp'| theme }}" /><img loading="lazy" src="{{ 'assets/images/site/nft/groupRight.png'| theme }}" alt="what is nft" /></picture>
		<div class="title">What is an
			<div class="redText">NFT Marketplace?</div>
		</div>
		<p class="secondText">The NFT Marketplace is an adaptive online platform that provides access to offers to sell and buy non-circulating tokens powered by NFT technology. Popular objects include various texts, digital images, and artworks, game characters, financial instruments, and domain names. A competently designed marketplace will enable a close connection between the seller and the interested user, providing a place to place trade offers. Users will have at their disposal a digital catalog and a personal account, with the help of which it will be possible to carry out the most | secure and expedited transactions.</p>
		<div class="ellipse">ellipse</div>
		<picture class="imgStatue">
			<source type="image/webp" srcset="{{ 'assets/images/site/nft/image448.webp'| theme }}" /><img loading="lazy" src="{{ 'assets/images/site/nft/image448.png'| theme }}" alt="what is nft" /></picture><img class="redParalleogram" src="{{ 'assets/images/site/nft/redParallelogram.svg'| theme }}" alt="redParallelogram-img" />
		<picture class="imgLaptop">
			<source type="image/webp" srcset="{{ 'assets/images/site/nft/laptop.webp'| theme }}" /><img loading="lazy" src="{{ 'assets/images/site/nft/laptop.png'| theme }}" alt="what is nft" /></picture>
	</div>
</section>