description = "Why choose NFT"
==
<section class="why-choose">
	<div class="block">
		<h2 class="title">NFT 마켓플레이스 개발, 왜 ROCK'N'BLOCK 인가?</h2>
		<div class="secondText">Rock'n'Block이 드리는 베네핏은 아래와 같습니다.</div>
		<div class="sliderContainerWrapper">
			<div class="leftShadowBlock"></div>
			<div class="rightShadowBlock"></div>
			<div class="swiper sliderContainer swiper-business">
				<picture class="redLine">
					<source type="image/webp" srcset="{{ 'assets/images/site/nft/Line2.webp'| theme }}" /><img loading="lazy" src="{{ 'assets/images/site/nft/Line2.png'| theme }}" alt="line background" />
				</picture>
				<div class="swiper-wrapper">
					<div class="swiper-slide blockSlide">
						<div class="slideTitle">300개 이상</div>
						<div class="slideDescription">턴키(TURN-KEY)기반 프로젝트 진행</div>
					</div>
					<div class="swiper-slide blockSlide">
						<div class="slideTitle">총 10억불 이상</div>
						<div class="slideDescription">자사 고객 자산 관리</div>
					</div>
					<div class="swiper-slide blockSlide">
						<div class="slideTitle">총 15,000건 이상</div>
						<div class="slideDescription">스마트 컨트랙트 배포</div>
					</div>
					<div class="swiper-slide blockSlide">
						<div class="slideTitle">15년 이상</div>
						<div class="slideDescription">개발 경력</div>
					</div>
					<div class="swiper-slide blockSlide">
						<div class="slideTitle">150명 이상</div>
						<div class="slideDescription">대부분 개발자로 구성되어 있는 팀원</div>
					</div>
				</div>
				<picture class="redLine">
					<source type="image/webp" srcset="{{ 'assets/images/site/nft/Line16.webp'| theme }}" /><img loading="lazy" src="{{ 'assets/images/site/nft/Line16.png'| theme }}" alt="line background" />
				</picture>
				<div class="navigation"><img class="navIcon nav-prev" src="{{ 'assets/images/site/nft/toLeft.svg'| theme }}" alt="nav left" /><img class="navIcon nav-next" src="{{ 'assets/images/site/nft/toRight.svg'| theme }}" alt="nav right" /></div>
			</div>
		</div>
	</div>
</section>