description = "Working section"
==
<section class="working">
	<div class="block">
		<h2 class="title">NFT 마켓플레이스 패키지</h2>
		<div class="secondText">Rock'n'Block의 전문가팀은 눈에 띄는 크리에이티브 방향을 정의하고 수용자(Audience)의 공감을 얻을 수 있는 시각적 자산으로 변환하는 데 도움을 줄 것입니다.</div>
		<div class="cardsContainerWrapper">
			<div class="cardsContainer">
				<div class="card transparentCard">
					<h2 class="cardTitle">Standard</h2><img class="lineIcon" src="{{ 'assets/images/site/nft/Vector66.svg'| theme }}" alt="line icon" />
					<div class="option"><img class="checkIcon" src="{{ 'assets/images/site/nft/Check_fill.svg'| theme }}" alt="checked" />
						<div class="name">민팅(Mint) 721 NFT 토큰</div>
					</div>
					<div class="option"><img class="checkIcon" src="{{ 'assets/images/site/nft/Check_fill.svg'| theme }}" alt="checked" />
						<div class="name">민팅(Mint) 1155 NFT 토큰</div>
					</div>
					<div class="option"><img class="checkIcon" src="{{ 'assets/images/site/nft/Check_fill.svg'| theme }}" alt="checked" />
						<div class="name">판매 / 구매 / 경매</div>
					</div>
					<div class="option"><img class="checkIcon" src="{{ 'assets/images/site/nft/Check_fill.svg'| theme }}" alt="checked" />
						<div class="name">좋아요 기능</div>
					</div>
					<div class="option"><img class="checkIcon" src="{{ 'assets/images/site/nft/Cancel.svg'| theme }}" alt="Cancel" />
						<div class="name">팔로우 기능</div>
					</div>
					<div class="option"><img class="checkIcon" src="{{ 'assets/images/site/nft/Cancel.svg'| theme }}" alt="Cancel" />
						<div class="name">상점 기능</div>
					</div>
					<div class="option"><img class="checkIcon" src="{{ 'assets/images/site/nft/Cancel.svg'| theme }}" alt="Cancel" />
						<div class="name">오픈씨(OpenSea)등록 NFT 연동</div>
					</div>
					<div class="option"><img class="checkIcon" src="{{ 'assets/images/site/nft/Cancel.svg'| theme }}" alt="Cancel" />
						<div class="name">3d NFTs</div>
					</div>
					<div class="option"><img class="checkIcon" src="{{ 'assets/images/site/nft/Cancel.svg'| theme }}" alt="Cancel" />
						<div class="name">시간제 경매</div>
					</div>
					<div class="option"><img class="checkIcon" src="{{ 'assets/images/site/nft/Cancel.svg'| theme }}" alt="Cancel" />
						<div class="name">타 거래소 등록 NFT 연동</div>
					</div>
					<div class="option"><img class="checkIcon" src="{{ 'assets/images/site/nft/Cancel.svg'| theme }}" alt="Cancel" />
						<div class="name">베네핏</div>
					</div>
				</div>
				<div class="card currentCard">
					<h2 class="cardTitle">Advanced</h2><img class="lineIcon" src="{{ 'assets/images/site/nft/line.svg'| theme }}" alt="line icon" />
					<div class="option"><img class="checkIcon" src="{{ 'assets/images/site/nft/Check_fill.svg'| theme }}" alt="checked" />
						<div class="name">민팅(Mint) 721 NFT 토큰</div>
					</div>
					<div class="option"><img class="checkIcon" src="{{ 'assets/images/site/nft/Check_fill.svg'| theme }}" alt="checked" />
						<div class="name">민팅(Mint) 1155 NFT 토큰</div>
					</div>
					<div class="option"><img class="checkIcon" src="{{ 'assets/images/site/nft/Check_fill.svg'| theme }}" alt="checked" />
						<div class="name">판매 / 구매 / 경매</div>
					</div>
					<div class="option"><img class="checkIcon" src="{{ 'assets/images/site/nft/Check_fill.svg'| theme }}" alt="checked" />
						<div class="name">좋아요 기능</div>
					</div>
					<div class="option"><img class="checkIcon" src="{{ 'assets/images/site/nft/Check_fill.svg'| theme }}" alt="checked" />
						<div class="name">팔로우 기능</div>
					</div>
					<div class="option"><img class="checkIcon" src="{{ 'assets/images/site/nft/Check_fill.svg'| theme }}" alt="checked" />
						<div class="name">상점 기능</div>
					</div>
					<div class="option"><img class="checkIcon" src="{{ 'assets/images/site/nft/Check_fill.svg'| theme }}" alt="checked" />
						<div class="name">오픈씨(OpenSea)등록 NFT 연동</div>
					</div>
					<div class="option"><img class="checkIcon" src="{{ 'assets/images/site/nft/Cancel.svg'| theme }}" alt="Cancel" />
						<div class="name">3d NFTs</div>
					</div>
					<div class="option"><img class="checkIcon" src="{{ 'assets/images/site/nft/Cancel.svg'| theme }}" alt="Cancel" />
						<div class="name">시간제 경매</div>
					</div>
					<div class="option"><img class="checkIcon" src="{{ 'assets/images/site/nft/Cancel.svg'| theme }}" alt="Cancel" />
						<div class="name">타 거래소 등록 NFT 연동</div>
					</div>
					<div class="option"><img class="checkIcon" src="{{ 'assets/images/site/nft/Cancel.svg'| theme }}" alt="Cancel" />
						<div class="name">베네핏</div>
					</div>
				</div>
				<div class="card transparentCard">
					<h2 class="cardTitle">Premium</h2><img class="lineIcon" src="{{ 'assets/images/site/nft/Vector66.svg'| theme }}" alt="line icon" />
					<div class="option"><img class="checkIcon" src="{{ 'assets/images/site/nft/Check_fill.svg'| theme }}" alt="checked" />
						<div class="name">민팅(Mint) 721 NFT 토큰</div>
					</div>
					<div class="option"><img class="checkIcon" src="{{ 'assets/images/site/nft/Check_fill.svg'| theme }}" alt="checked" />
						<div class="name">민팅(Mint) 1155 NFT 토큰</div>
					</div>
					<div class="option"><img class="checkIcon" src="{{ 'assets/images/site/nft/Check_fill.svg'| theme }}" alt="checked" />
						<div class="name">판매 / 구매 / 경매</div>
					</div>
					<div class="option"><img class="checkIcon" src="{{ 'assets/images/site/nft/Check_fill.svg'| theme }}" alt="checked" />
						<div class="name">좋아요 기능</div>
					</div>
					<div class="option"><img class="checkIcon" src="{{ 'assets/images/site/nft/Check_fill.svg'| theme }}" alt="checked" />
						<div class="name">팔로우 기능</div>
					</div>
					<div class="option"><img class="checkIcon" src="{{ 'assets/images/site/nft/Check_fill.svg'| theme }}" alt="checked" />
						<div class="name">상점 기능</div>
					</div>
					<div class="option"><img class="checkIcon" src="{{ 'assets/images/site/nft/Check_fill.svg'| theme }}" alt="checked" />
						<div class="name">오픈씨(OpenSea)등록 NFT 연동</div>
					</div>
					<div class="option"><img class="checkIcon" src="{{ 'assets/images/site/nft/Check_fill.svg'| theme }}" alt="checked" />
						<div class="name">3d NFTs</div>
					</div>
					<div class="option"><img class="checkIcon" src="{{ 'assets/images/site/nft/Check_fill.svg'| theme }}" alt="checked" />
						<div class="name">시간제 경매</div>
					</div>
					<div class="option"><img class="checkIcon" src="{{ 'assets/images/site/nft/Check_fill.svg'| theme }}" alt="checked" />
						<div class="name">타 거래소 등록 NFT 연동</div>
					</div>
					<div class="option"><img class="checkIcon" src="{{ 'assets/images/site/nft/Check_fill.svg'| theme }}" alt="checked" />
						<div class="name">베네핏</div>
					</div>
				</div>
			</div>
		</div><a class="button" href="#contact-us">마켓플레이스 개발 문의<img loading="lazy" src="{{ 'assets/images/site/icons/icon-arrow-right-mask.svg'| theme }}" alt="arrow right" /></a>
	</div>
</section>