description = "Hero block for 1knft"
==
<section class="hero-10k">
	<div class="about"><img class="about__desc-img" src="{{ 'assets/images/site/10knft/desc.svg'| theme }}" alt="nft generator" /><img class="about__title-img" src="{{ 'assets/images/site/10knft/title.svg'| theme }}" alt="10k logo" />
		<h2>크립토펑크(CrytoPunks)와 같은 무작위로 생성된 10,000개의 NFT를 만들어 보세요</h2>
		<picture>
			<source type="image/webp" srcSet="{{ 'assets/images/site/10knft/arts-mobile.webp'| theme }}" media="(max-width: 768px)" />
			<source type="image/webp" srcSet="{{ 'assets/images/site/10knft/arts.webp'| theme }}" media="(min-width: 768px)" /><img class="about__art-img" src="{{ 'assets/images/site/10knft/arts.svg'| theme }}" alt="10knft pixel art" /></picture><img class="about__bg" src="{{ 'assets/images/site/10knft/art-bg.svg'| theme }}" alt="10knft pixel art" /></div>
</section>