description = "How it works cards"
==
<section class="how-it-works-cards">
	<h2>Rock'n'Block 은 당신이 단계적으로 차근차근 <br/>당신만의 10K/20K <span>NFT 콜렉션</span> 생성할 수 있도록 도와드립니다</h2>
	<div class="how-it-works-cards_block">
		<div class="how-it-works-cards_block_item">
			<DIV><img src="{{ 'assets/images/site/10knft/icon-card-nft.svg'| theme }}" alt="nft" /></DIV>
			<h3>NFT 디자인 제작: 기본 캐릭터 + 특성 & 속성 제작</h3></div>
		<div class="how-it-works-cards_block_item">
			<DIV><img src="{{ 'assets/images/site/10knft/icon-card-python.svg'| theme }}" alt="python" /></DIV>
			<h3>Python으로 픽셀 아트 소프트웨어 생성</h3></div>
		<div class="how-it-works-cards_block_item">
			<DIV><img src="{{ 'assets/images/site/10knft/icon-card-collection.svg'| theme }}" alt="collection" /></DIV>
			<h3>NFT 10K/20K NFT 콜렉션 생성</h3></div>
	</div>
</section>