description = "How it works cards"
==
<section class="how-it-works-cards">
	<h2>We HELP you step by step into creating<br/>your own 10K/20K <span>NFT Collection</span></h2>
	<div class="how-it-works-cards_block">
		<div class="how-it-works-cards_block_item">
			<DIV><img src="{{ 'assets/images/site/10knft/icon-card-nft.svg'| theme }}" alt="nft" /></DIV>
			<h3>Designing an NFT: Base Characters + Traits & Attributes</h3></div>
		<div class="how-it-works-cards_block_item">
			<DIV><img src="{{ 'assets/images/site/10knft/icon-card-python.svg'| theme }}" alt="python" /></DIV>
			<h3>Creating a Pixel art generator software in Python</h3></div>
		<div class="how-it-works-cards_block_item">
			<DIV><img src="{{ 'assets/images/site/10knft/icon-card-collection.svg'| theme }}" alt="collection" /></DIV>
			<h3>Creating an NFT 10K/20K NFT Collection</h3></div>
	</div>
</section>