description = "Hero section"
==
<section class="w1000px">
	<div class="staking__container_block_1"><img class="bg-1" src="{{ 'assets/images/site/background/header-1.png'| theme }}" alt="bg" /><img class="bg-2" src="{{ 'assets/images/site/background/header-2.png'| theme }}" alt="bg" />
		<div class="pd15px">
			<h1>Staking Platform Development</h1>
			<h2>One-stop to building an exclusive staking solution</h2>
			<section class="staking__buttons"><a class="button" href="#contact-us">ORDER STAKING<img loading="lazy" src="{{ 'assets/images/site/icons/icon-arrow-right-mask.svg'| theme }}" alt="arrow right"/></a></section>
		</div>
		<picture>
			<source srcSet="{{ 'assets/images/site/staking/staking-coins.webp'| theme }}" type="image/webp" /><img src="{{ 'assets/images/site/staking/staking-coins.png'| theme }}" alt="staking coins" /></picture>
	</div>
	<div class="staking__container_block_2 pd15px">
		<picture>
			<source srcSet="{{ 'assets/images/site/staking/staking-tablet.webp'| theme }}" type="image/webp" /><img src="{{ 'assets/images/site/staking/staking-tablet.png'| theme }}" alt="staking tablet" /></picture><img class="staking__container_block_2_bg" src="{{ 'assets/images/site/background/background-2.png'| theme }}" alt="bg" />
		<h2>Help your users unlock the rewards of staking by developing your
staking platform. Though Ethereum is the top network, the DeFi staking
platform can be built on any blockchain network as requested by the
client.</h2></div>
</section>