description = "Info section"
==
<section class="staking__container_info w1000px">
	<div class="staking__container_info_head">
		<p class="staking__container_info_head_title">Unlimited ways to earn rewards for users</p>
		<div class="staking__container_info_head_block">
			<div class="staking__container_info_head_block_card"><img src="{{ 'assets/images/site/icons/icon-card-claim.svg'| theme }}" alt="claim img" />
				<div class="staking__container_info_head_block_card_text-container">
					<h2>Claim</h2>
					<h3>Deposits are spread across unique, individual-dedicated smart contracts. This removes all the vulnerabilities that have caused shared pools to be exploited.</h3>
				</div>
			</div>
			<div class="staking__container_info_head_block_card"><img src="{{ 'assets/images/site/icons/icon-card-delegate.svg'| theme }}" alt="delegate img" />
				<div class="staking__container_info_head_block_card_text-container">
					<h2>Delegate</h2>
					<h3>Real-time price monitoring through distributed oracles makes sure a stop-loss is triggered.</h3>
				</div>
			</div>
			<div class="staking__container_info_head_block_card"><img src="{{ 'assets/images/site/icons/icon-card-validate.svg'| theme }}" alt="validate img" />
				<div class="staking__container_info_head_block_card_text-container">
					<h2>Validate</h2>
					<h3>Built-in codebase assessment tools to recognize and avoid rugpulls, and quality assessment parameters.</h3>
				</div>
			</div>
		</div>
	</div>
	<div class="staking__container_info_head">
		<h2 class="staking__container_info_head_title">Staking Development Flow</h2>
		<h3 class="staking__container_info_head_desc">DeFi staking includes various development criteria that include:</h3>
		<div class="staking__container_info_head_block">
			<div class="staking__container_info_head_block_card">
				<div class="staking__container_info_head_block_card_circle"><img src="{{ 'assets/images/site/icons/icon-card-transparency.svg'| theme }}" alt="Transparency img" /></div>
				<div class="staking__container_info_head_block_card_text-container">
					<h2>Transparency</h2>
					<h3>The Defi staking development platform should be more transparent, where the workflow should be visible in order to ensure privacy and build quality.</h3>
				</div>
			</div>
			<div class="staking__container_info_head_block_card">
				<div class="staking__container_info_head_block_card_circle"><img src="{{ 'assets/images/site/icons/icon-card-liquidity.svg'| theme }}" alt="Liquidity img" /></div>
				<div class="staking__container_info_head_block_card_text-container">
					<h2>Liquidity</h2>
					<h3>The DeFi staking platform should be able to offer very high liquidity to the users.</h3>
				</div>
			</div>
			<div class="staking__container_info_head_block_card">
				<div class="staking__container_info_head_block_card_circle"><img src="{{ 'assets/images/site/icons/icon-card-security.svg'| theme }}" alt="Security img" /></div>
				<div class="staking__container_info_head_block_card_text-container">
					<h2>Security</h2>
					<h3>The security of the DeFi staking platform should be indestructible, and it must be prone to the existing attacks with the exclusive defense script like Anti-DDos, Anti-SSL, etc.</h3>
				</div>
			</div>
		</div>
	</div>
</section>