description = "Section areas of expertise"
==
<div class="areas-of-expertise container" id="services">
	<div class="background-img">
		<picture>
			<source type="image/webp" srcset="{{ 'assets/images/site/background/areas.webp'| theme }}" />
			<img loading="lazy" src="{{ 'assets/images/site/background/areas.png'| theme }}" alt="areas" />
		</picture>
	</div>
	<div class="block-header">
		<h2 class="primary-header">Areas Of Expertise</h2> </div>
	<div class="areas-of-expertise__cards">
		<div class="areas-of-expertise__cards__scroll">
			<div class="areas-of-expertise__card">
				<div class="icon-container">
					<img class="icon" src="{{ 'assets/images/site/icons/icon-area-blockchain-mask.svg'| theme }}" alt="blockchain" />
				</div>
				<h3 class="areas-of-expertise__card-name">BLOCKCHAIN</h3>
				<p class="areas-of-expertise__card-description">
					Smart contracts of any complexity on any blockchain. From custom token creation to decentralized exchange on-a-turn-key basis.
				</p>
			</div>
			<div class="areas-of-expertise__card">
				<div class="icon-container">
					<img class="icon" src="{{ 'assets/images/site/icons/icon-area-bridge-mask.svg'| theme }}" alt="bridge" />
				</div>
				<h3 class="areas-of-expertise__card-name">LAYER TWO</h3>
				<p class="areas-of-expertise__card-description">
					From multiple blockchain bridges to complete Layer 2 solution tailored for your project.
				</p>
			</div>
			<div class="areas-of-expertise__card">
				<div class="icon-container">
					<img class="icon" src="{{ 'assets/images/site/icons/icon-area-mobile-mask.svg'| theme }}" alt="mobile" />
				</div>
				<h3 class="areas-of-expertise__card-name">MOBILE AND WEB</h3>
				<p class="areas-of-expertise__card-description">
					Android/iOS applications, project management interfaces, investors cabinets, top-notch UX/UI, etc.
				</p>
			</div>
			<div class="areas-of-expertise__card">
				<div class="icon-container">
					<img class="icon" src="{{ 'assets/images/site/icons/icon-area-wallet-mask.svg'| theme }}" alt="wallet" />
				</div>
				<h3 class="areas-of-expertise__card-name">WALLETS</h3>
				<p class="areas-of-expertise__card-description">
					High security level browser and mobile crypto wallets with generation system, private keys storage, stable (and other types) coin support and crypto/fiat acquiring.
				</p>
			</div>
			<div class="areas-of-expertise__card">
				<div class="icon-container">
					<img class="icon" src="{{ 'assets/images/site/icons/icon-area-audit-mask.svg'| theme }}" alt="audit" />
				</div>
				<h3 class="areas-of-expertise__card-name">AUDIT</h3>
				<p class="areas-of-expertise__card-description">
					Full review of your system’s architecture and codebase. We make sure, that your distributed systems work as you intended.
				</p>
			</div>
			<div class="areas-of-expertise__card">
				<div class="icon-container">
					<img class="icon" src="{{ 'assets/images/site/icons/icon-area-documentation-mask.svg'| theme }}" alt="documentaton" /> 
				</div>
				<h3 class="areas-of-expertise__card-name">DOCUMENTATION</h3>
				<p class="areas-of-expertise__card-description">
					Project architecture development. Technical specifications and decompositions of your ideas. Whitepapers, lightpapers and etc.
				</p>
			</div>
		</div>
	</div>
</div>