description = "Section cases"
==
<div class="case-studies container" id="cases">
  <div class="block-header">
    <h2 class="primary-header">Case Studies</h2>
  </div>
  <div class="tabs">
    <input id="tab-btn-case-1" type="radio" name="tab-btn-case" checked="checked" />
    <label class="tabs-label" for="tab-btn-case-1">Smart contracts</label>
    <input id="tab-btn-case-2" type="radio" name="tab-btn-case" />
    <label class="tabs-label" for="tab-btn-case-2">Web/mobile development</label>
    <div class="scroll">
      <div class="content-tab content-case-1">
        <div class="tabs-case">
          <input type="radio" name="tab-btn-case-1" id="tab-btn-case-1-1" checked="checked" />
          <label class="content-item" for="tab-btn-case-1-1">
            <img class="content-item__img" src="{{ 'assets/images/site/logo/logo-pion.svg'| theme }}" alt="pion logo" />
            <span class="content-item__name">Pion</span>
          </label>
          <input type="radio" name="tab-btn-case-1" id="tab-btn-case-1-2" />
          <label class="content-item" for="tab-btn-case-1-2">
            <img class="content-item__img" src="{{ 'assets/images/site/logo/logo-inflat.svg'| theme }}" alt="inflat logo" />
            <span class="content-item__name">Inflationary Staking</span>
          </label>
          <input type="radio" name="tab-btn-case-1" id="tab-btn-case-1-3" />
          <label class="content-item" for="tab-btn-case-1-3">
            <img class="content-item__img" src="{{ 'assets/images/site/logo/logo-bitgear.svg'| theme }}" alt="bitgear logo" />
            <span class="content-item__name">Bitgear</span>
          </label>
          <input type="radio" name="tab-btn-case-1" id="tab-btn-case-1-4" />
          <label class="content-item" for="tab-btn-case-1-4">
            <img class="content-item__img" src="{{ 'assets/images/site/logo/logo-minto.svg'| theme }}" alt="minto logo" />
            <span class="content-item__name">Minto</span>
          </label>
          <input type="radio" name="tab-btn-case-1" id="tab-btn-case-1-5" />
          <label class="content-item" for="tab-btn-case-1-5">
            <img class="content-item__img" src="{{ 'assets/images/site/logo/logo-axion.svg'| theme }}" alt="axion logo" />
            <span class="content-item__name">Axion Dashboard</span>
          </label>
          <input type="radio" name="tab-btn-case-1" id="tab-btn-case-1-6" />
          <label class="content-item" for="tab-btn-case-1-6">
            <img class="content-item__img" src="{{ 'assets/images/site/logo/logo-ducatus.svg'| theme }}" alt="ducatus logo" />
            <span class="content-item__name">Ducatus</span>
          </label>
          <div class="scroll">
            <DIV class="content-tab content-case-1-1">
              <div class="case-studies__dropdown dropdown">
                <h3 class="dropdown__title">Pion</h3>
                <div class="dropdown__img">
                  <DIV>
                    <div class="switch">
                      <input type="radio" name="case-1-1-img" id="case-1-1-img-1" checked="checked" />
                      <input type="radio" name="case-1-1-img" id="case-1-1-img-2" />
                      <label class="switchIcon" for="case-1-1-img-1">
                        <img src="{{ 'assets/images/site/icons/icon-switch-left.svg'| theme }}" alt="switch left icon" />
                      </label>
                      <picture class="case-1-1-img-1 case-image">
                        <source type="image/webp" srcset="{{ 'assets/images/site/case/pion-1.webp'| theme }}" />
                        <img loading="lazy" src="{{ 'assets/images/site/case/pion-1.png'| theme }}" alt="Pion 1" />
                      </picture>
                      <picture class="case-1-1-img-2 case-image">
                        <source type="image/webp" srcset="{{ 'assets/images/site/case/pion-2.webp'| theme }}" />
                        <img loading="lazy" src="{{ 'assets/images/site/case/pion-2.png'| theme }}" alt="Pion 2" />
                      </picture>
                      <label class="switchIcon" for="case-1-1-img-2">
                        <img src="{{ 'assets/images/site/icons/icon-switch-right.svg'| theme }}" alt="switch right icon" />
                      </label>
                    </div>
                  </DIV>
                </div>
                <div class="case-studies__description">&lt;p&gt;A stablecoin with a token price of $1 by changing the total supply of tokens through a smart contract by rebase at a random time.&lt;br /&gt;A second token convertible with the stablecoin at rate of 1:1, allows to fix the number of tokens pending the next rebase at a more favorable rate.&lt;br /&gt;Stablecoin can generate income from yield farming by staking the LP2 Uniswap token.&lt;/p&gt; </div>
                <div class="dropdown__insights insight">
                  <div class="dropdown__insights-insight">
                    <span class="insight__title">Features</span>
                    <ul class="gray-list">
                      <li class="gray-list__item">Multicomponent system</li>
                      <li class="gray-list__item">Stablecoin</li>
                      <li class="gray-list__item">Liquidity Pool Staking</li>
                    </ul>
                  </div>
                  <div class="dropdown__insights-insight insight-stacks">
                    <span class="insight__title">Stacks:</span>
                    <ul class="gray-list">
                      <li class="gray-list__item">Solidity</li>
                    </ul>
                  </div>
                </div>
              </div>
            </DIV>
            <DIV class="content-tab content-case-1-2">
              <div class="case-studies__dropdown dropdown">
                <h3 class="dropdown__title">Inflationary Staking</h3>
                <div class="dropdown__img">
                  <DIV>
                    <div class="switch">
                      <input type="radio" name="case-1-2-img" id="case-1-2-img-1" checked="checked" />
                      <input type="radio" name="case-1-2-img" id="case-1-2-img-2" />
                      <label class="switchIcon" for="case-1-2-img-1">
                        <img src="{{ 'assets/images/site/icons/icon-switch-left.svg'| theme }}" alt="switch left icon" />
                      </label>
                      <picture class="case-1-2-img-1 case-image">
                        <source type="image/webp" srcset="{{ 'assets/images/site/case/inflat-1.webp'| theme }}" />
                        <img loading="lazy" src="{{ 'assets/images/site/case/inflat-1.png'| theme }}" alt="Inflationary Staking 1" />
                      </picture>
                      <picture class="case-1-2-img-2 case-image">
                        <source type="image/webp" srcset="{{ 'assets/images/site/case/inflat-2.webp'| theme }}" />
                        <img loading="lazy" src="{{ 'assets/images/site/case/inflat-2.png'| theme }}" alt="Inflationary Staking 2" />
                      </picture>
                      <label class="switchIcon" for="case-1-2-img-2">
                        <img src="{{ 'assets/images/site/icons/icon-switch-right.svg'| theme }}" alt="switch right icon" />
                      </label>
                    </div>
                  </DIV>
                </div>
                <div class="case-studies__description">&lt;p&gt;A project based on complex smart contracts that give users the ability to exchange, purchase and stake the token.&lt;br /&gt; Receiving tokens is implemented in several ways:&lt;br /&gt; • Exchange tokens at the rate of 1:1&lt;br /&gt; • Free issuance of tokens from a snapshot with a Merkle tree check at a rate of 1:1&lt;br /&gt; • Instant Token Buyback Auction with Uniswap to Maintain the Token Price&lt;br /&gt; • Staking and receiving dividends due to token inflation.&lt;/p&gt; </div>
                <div class="dropdown__insights insight">
                  <div class="dropdown__insights-insight">
                    <span class="insight__title">Features</span>
                    <ul class="gray-list">
                      <li class="gray-list__item">No values</li>
                    </ul>
                  </div>
                  <div class="dropdown__insights-insight insight-stacks">
                    <span class="insight__title">Stacks:</span>
                    <ul class="gray-list">
                      <li class="gray-list__item">Solidity</li>
                    </ul>
                  </div>
                </div>
              </div>
            </DIV>
            <DIV class="content-tab content-case-1-3">
              <div class="case-studies__dropdown dropdown">
                <h3 class="dropdown__title">Bitgear</h3>
                <div class="dropdown__img">
                  <DIV>
                    <div class="switch">
                      <input type="radio" name="case-1-3-img" id="case-1-3-img-1" checked="checked" />
                      <input type="radio" name="case-1-3-img" id="case-1-3-img-2" />
                      <label class="switchIcon" for="case-1-3-img-1">
                        <img src="{{ 'assets/images/site/icons/icon-switch-left.svg'| theme }}" alt="switch left icon" />
                      </label>
                      <picture class="case-1-3-img-1 case-image">
                        <source type="image/webp" srcset="{{ 'assets/images/site/case/bitgear-1.webp'| theme }}" />
                        <img loading="lazy" src="{{ 'assets/images/site/case/bitgear-1.png'| theme }}" alt="Bitgear 1" />
                      </picture>
                      <picture class="case-1-3-img-2 case-image">
                        <source type="image/webp" srcset="{{ 'assets/images/site/case/bitgear-2.webp'| theme }}" />
                        <img loading="lazy" src="{{ 'assets/images/site/case/bitgear-2.png'| theme }}" alt="Bitgear 2" />
                      </picture>
                      <label class="switchIcon" for="case-1-3-img-2">
                        <img src="{{ 'assets/images/site/icons/icon-switch-right.svg'| theme }}" alt="switch right icon" />
                      </label>
                    </div>
                  </DIV>
                </div>
                <div class="case-studies__description">By using the Ox protocol, Bitgear helps to find the best prices across exchanges and combines them into one trade. </div>
                <div class="dropdown__insights insight">
                  <div class="dropdown__insights-insight">
                    <span class="insight__title">Features</span>
                    <ul class="gray-list">
                      <li class="gray-list__item">0x protocol integration</li>
                      <li class="gray-list__item">all DEXs trading</li>
                      <li class="gray-list__item">limit orders</li>
                      <li class="gray-list__item">multiple wallets support</li>
                    </ul>
                  </div>
                  <div class="dropdown__insights-insight insight-stacks">
                    <span class="insight__title">Stacks:</span>
                    <ul class="gray-list">
                      <li class="gray-list__item">React</li>
                      <li class="gray-list__item">Web3</li>
                      <li class="gray-list__item">0x protocol</li>
                      <li class="gray-list__item">Solidity</li>
                    </ul>
                  </div>
                </div>
              </div>
            </DIV>
            <DIV class="content-tab content-case-1-4">
              <div class="case-studies__dropdown dropdown">
                <h3 class="dropdown__title">Minto</h3>
                <div class="dropdown__img">
                  <DIV>
                    <div class="switch">
                      <input type="radio" name="case-1-4-img" id="case-1-4-img-1" checked="checked" />
                      <input type="radio" name="case-1-4-img" id="case-1-4-img-2" />
                      <label class="switchIcon" for="case-1-4-img-1">
                        <img src="{{ 'assets/images/site/icons/icon-switch-left.svg'| theme }}" alt="switch left icon" />
                      </label>
                      <picture class="case-1-4-img-1 case-image">
                        <source type="image/webp" srcset="{{ 'assets/images/site/case/minto-1.webp'| theme }}" />
                        <img loading="lazy" src="{{ 'assets/images/site/case/minto-1.png'| theme }}" alt="Minto 1" />
                      </picture>
                      <picture class="case-1-4-img-2 case-image">
                        <source type="image/webp" srcset="{{ 'assets/images/site/case/minto-2.webp'| theme }}" />
                        <img loading="lazy" src="{{ 'assets/images/site/case/minto-2.png'| theme }}" alt="Minto 2" />
                      </picture>
                      <label class="switchIcon" for="case-1-4-img-2">
                        <img src="{{ 'assets/images/site/icons/icon-switch-right.svg'| theme }}" alt="switch right icon" />
                      </label>
                    </div>
                  </DIV>
                </div>
                <div class="case-studies__description">Mine Bitcoin by staking BTCMT tokens. We’ve made smart contracts and crosschain integration between blockchains that helps to make mining easier than getting a BTC wallet. </div>
                <div class="dropdown__insights insight">
                  <div class="dropdown__insights-insight">
                    <span class="insight__title">Features</span>
                    <ul class="gray-list">
                      <li class="gray-list__item">HECO blockchain integration</li>
                      <li class="gray-list__item">staking</li>
                      <li class="gray-list__item">mining tokenization</li>
                    </ul>
                  </div>
                  <div class="dropdown__insights-insight insight-stacks">
                    <span class="insight__title">Stacks:</span>
                    <ul class="gray-list">
                      <li class="gray-list__item">React</li>
                      <li class="gray-list__item">Web3</li>
                      <li class="gray-list__item">Python</li>
                      <li class="gray-list__item">Solidity</li>
                    </ul>
                  </div>
                </div>
              </div>
            </DIV>
            <DIV class="content-tab content-case-1-5">
              <div class="case-studies__dropdown dropdown">
                <h3 class="dropdown__title">Axion Dashboard</h3>
                <div class="dropdown__img">
                  <DIV>
                    <div class="switch">
                      <input type="radio" name="case-1-5-img" id="case-1-5-img-1" checked="checked" />
                      <input type="radio" name="case-1-5-img" id="case-1-5-img-2" />
                      <label class="switchIcon" for="case-1-5-img-1">
                        <img src="{{ 'assets/images/site/icons/icon-switch-left.svg'| theme }}" alt="switch left icon" />
                      </label>
                      <picture class="case-1-5-img-1 case-image">
                        <source type="image/webp" srcset="{{ 'assets/images/site/case/axion-1.webp'| theme }}" />
                        <img loading="lazy" src="{{ 'assets/images/site/case/axion-1.png'| theme }}" alt="Axion Dashboard 1" />
                      </picture>
                      <picture class="case-1-5-img-2 case-image">
                        <source type="image/webp" srcset="{{ 'assets/images/site/case/axion-2.webp'| theme }}" />
                        <img loading="lazy" src="{{ 'assets/images/site/case/axion-2.png'| theme }}" alt="Axion Dashboard 2" />
                      </picture>
                      <label class="switchIcon" for="case-1-5-img-2">
                        <img src="{{ 'assets/images/site/icons/icon-switch-right.svg'| theme }}" alt="switch right icon" />
                      </label>
                    </div>
                  </DIV>
                </div>
                <div class="case-studies__description">&lt;p&gt;The dashboard visualizes financial statistics of the context of individual user wallets and time periods.&lt;br /&gt; To implement instant access to all information on the project, a centralized database was developed that stores all information about events occurring on the contract, received in real time from the Ethereum network.&lt;/p&gt; </div>
                <div class="dropdown__insights insight">
                  <div class="dropdown__insights-insight">
                    <span class="insight__title">Features</span>
                    <ul class="gray-list">
                      <li class="gray-list__item">Staking</li>
                      <li class="gray-list__item">Auction</li>
                      <li class="gray-list__item">H2T token swap</li>
                      <li class="gray-list__item">Uniswap auto-buy</li>
                      <li class="gray-list__item">Dashboard</li>
                    </ul>
                  </div>
                  <div class="dropdown__insights-insight insight-stacks">
                    <span class="insight__title">Stacks:</span>
                    <ul class="gray-list">
                      <li class="gray-list__item">Solidity</li>
                    </ul>
                  </div>
                </div>
              </div>
            </DIV>
            <DIV class="content-tab content-case-1-6">
              <div class="case-studies__dropdown dropdown">
                <h3 class="dropdown__title">Ducatus</h3>
                <div class="dropdown__img">
                  <DIV>
                    <div class="switch">
                      <input type="radio" name="case-1-6-img" id="case-1-6-img-1" checked="checked" />
                      <input type="radio" name="case-1-6-img" id="case-1-6-img-2" />
                      <label class="switchIcon" for="case-1-6-img-1">
                        <img src="{{ 'assets/images/site/icons/icon-switch-left.svg'| theme }}" alt="switch left icon" />
                      </label>
                      <picture class="case-1-6-img-1 case-image">
                        <source type="image/webp" srcset="{{ 'assets/images/site/case/duc-1.webp'| theme }}" />
                        <img loading="lazy" src="{{ 'assets/images/site/case/duc-1.png'| theme }}" alt="Ducatus 1" />
                      </picture>
                      <picture class="case-1-6-img-2 case-image">
                        <source type="image/webp" srcset="{{ 'assets/images/site/case/duc-2.webp'| theme }}" />
                        <img loading="lazy" src="{{ 'assets/images/site/case/duc-2.png'| theme }}" alt="Ducatus 2" />
                      </picture>
                      <label class="switchIcon" for="case-1-6-img-2">
                        <img src="{{ 'assets/images/site/icons/icon-switch-right.svg'| theme }}" alt="switch right icon" />
                      </label>
                    </div>
                  </DIV>
                </div>
                <div class="case-studies__description">Infrastructure creation and deployment of Ducatus and DucatusX blockchains. Blockchain tools development: API, explorer/insight, scanner and wallet. Network and user maintenance support. Application development for created blockchains, integration with exchanges and other blockchains. </div>
                <div class="dropdown__insights insight">
                  <div class="dropdown__insights-insight">
                    <span class="insight__title">Features</span>
                    <ul class="gray-list">
                      <li class="gray-list__item">custom blockchains development</li>
                      <li class="gray-list__item">explorer</li>
                    </ul>
                  </div>
                  <div class="dropdown__insights-insight insight-stacks">
                    <span class="insight__title">Stacks:</span>
                    <ul class="gray-list">
                      <li class="gray-list__item">Angular</li>
                      <li class="gray-list__item">React</li>
                      <li class="gray-list__item">Web3</li>
                      <li class="gray-list__item">Ionic</li>
                      <li class="gray-list__item">Cordova</li>
                      <li class="gray-list__item">Solidity</li>
                    </ul>
                  </div>
                </div>
              </div>
            </DIV>
          </div>
        </div>
      </div>
      <div class="content-tab content-case-2">
        <div class="tabs-case">
          <input type="radio" name="tab-btn-case-2" id="tab-btn-case-2-1" checked="checked" />
          <label class="content-item" for="tab-btn-case-2-1">
            <img class="content-item__img" src="{{ 'assets/images/site/logo/logo-ducatus.svg'| theme }}" alt="ducatus logo" />
            <span class="content-item__name">DUCATUS Wallet</span>
          </label>
          <input type="radio" name="tab-btn-case-2" id="tab-btn-case-2-2" />
          <label class="content-item" for="tab-btn-case-2-2">
            <img class="content-item__img" src="{{ 'assets/images/site/logo/logo-census.svg'| theme }}" alt="census logo" />
            <span class="content-item__name">Census Wallet</span>
          </label>
          <input type="radio" name="tab-btn-case-2" id="tab-btn-case-2-3" />
          <label class="content-item" for="tab-btn-case-2-3">
            <img class="content-item__img" src="{{ 'assets/images/site/logo/logo-quras.svg'| theme }}" alt="quras logo" />
            <span class="content-item__name">QURAS</span>
          </label>
          <input type="radio" name="tab-btn-case-2" id="tab-btn-case-2-4" />
          <label class="content-item" for="tab-btn-case-2-4">
            <img class="content-item__img" src="{{ 'assets/images/site/logo/logo-hex.svg'| theme }}" alt="hex logo" />
            <span class="content-item__name">HEX</span>
          </label>
          <div class="scroll">
            <DIV class="content-tab content-case-2-1">
              <div class="case-studies__dropdown dropdown dropdown-web">
                <h3 class="dropdown__title">DUCATUS Wallet</h3>
                <div class="dropdown__img">
                  <DIV>
                    <div class="noscroll">
                      <picture class="scroll__dev">
                        <source type="image/webp" srcset="{{ 'assets/images/site/case/ducatus-1.webp'| theme }}" />
                        <img loading="lazy" src="{{ 'assets/images/site/case/ducatus-1.png'| theme }}" alt="DUCATUS Wallet 1" />
                      </picture>
                      <picture class="scroll__dev">
                        <source type="image/webp" srcset="{{ 'assets/images/site/case/ducatus-2.webp'| theme }}" />
                        <img loading="lazy" src="{{ 'assets/images/site/case/ducatus-2.png'| theme }}" alt="DUCATUS Wallet 2" />
                      </picture>
                      <picture class="scroll__dev">
                        <source type="image/webp" srcset="{{ 'assets/images/site/case/ducatus-3.webp'| theme }}" />
                        <img loading="lazy" src="{{ 'assets/images/site/case/ducatus-3.png'| theme }}" alt="DUCATUS Wallet 3" />
                      </picture>
                    </div>
                  </DIV>
                </div>
                <div class="case-studies__description">Full functional custodial wallet development for IOS, Android and web, with more than 10,000 installs. </div>
                <div class="dropdown__insights insight">
                  <div class="dropdown__insights-insight">
                    <h5 class="insight__title">Features:</h5>
                    <ul class="gray-list">
                      <li class="gray-list__item">Blockchain development</li>
                      <li class="gray-list__item">Mobile wallet application development</li>
                      <li class="gray-list__item">Crowdfunding platform</li>
                      <li class="gray-list__item">Online stores with crypto support</li>
                    </ul>
                  </div>
                  <div class="dropdown__insights-insight insight-stacks">
                    <h5 class="insight__title">Stacks:</h5>
                    <ul class="gray-list">
                      <li class="gray-list__item">Web3js</li>
                      <li class="gray-list__item">Solidity</li>
                      <li class="gray-list__item">JavaScript</li>
                      <li class="gray-list__item">Openzeppelin</li>
                      <li class="gray-list__item">Truffle</li>
                    </ul>
                  </div>
                </div>
              </div>
            </DIV>
            <DIV class="content-tab content-case-2-2">
              <div class="case-studies__dropdown dropdown dropdown-web">
                <h3 class="dropdown__title">Census Wallet</h3>
                <div class="dropdown__img">
                  <DIV>
                    <div class="noscroll">
                      <picture class="scroll__dev">
                        <source type="image/webp" srcset="{{ 'assets/images/site/case/census-1.webp'| theme }}" />
                        <img loading="lazy" src="{{ 'assets/images/site/case/census-1.png'| theme }}" alt="Census Wallet 1" />
                      </picture>
                      <picture class="scroll__dev">
                        <source type="image/webp" srcset="{{ 'assets/images/site/case/census-2.webp'| theme }}" />
                        <img loading="lazy" src="{{ 'assets/images/site/case/census-2.png'| theme }}" alt="Census Wallet 2" />
                      </picture>
                      <picture class="scroll__dev">
                        <source type="image/webp" srcset="{{ 'assets/images/site/case/census-3.webp'| theme }}" />
                        <img loading="lazy" src="{{ 'assets/images/site/case/census-3.png'| theme }}" alt="Census Wallet 3" />
                      </picture>
                    </div>
                  </DIV>
                </div>
                <div class="case-studies__description">Full functional custodial wallet development for IOS, Android and web, with more than 10,000 installs. </div>
                <div class="dropdown__insights insight">
                  <div class="dropdown__insights-insight">
                    <h5 class="insight__title">Features:</h5>
                    <ul class="gray-list">
                      <li class="gray-list__item">Tangem integration</li>
                      <li class="gray-list__item">Open Finance</li>
                      <li class="gray-list__item">Loans</li>
                      <li class="gray-list__item">Staking</li>
                      <li class="gray-list__item">Digital Assets Investments</li>
                    </ul>
                  </div>
                  <div class="dropdown__insights-insight insight-stacks">
                    <h5 class="insight__title">Stacks:</h5>
                    <ul class="gray-list">
                      <li class="gray-list__item">Web3js</li>
                      <li class="gray-list__item">Solidity</li>
                      <li class="gray-list__item">JavaScript</li>
                      <li class="gray-list__item">Openzeppelin</li>
                      <li class="gray-list__item">Truffle</li>
                    </ul>
                  </div>
                </div>
              </div>
            </DIV>
            <DIV class="content-tab content-case-2-3">
              <div class="case-studies__dropdown dropdown dropdown-web">
                <h3 class="dropdown__title">QURAS wallet</h3>
                <div class="dropdown__img">
                  <DIV>
                    <div class="noscroll">
                      <picture class="scroll__dev">
                        <source type="image/webp" srcset="{{ 'assets/images/site/case/quras-1.webp'| theme }}" />
                        <img loading="lazy" src="{{ 'assets/images/site/case/quras-1.png'| theme }}" alt="QURAS wallet 1" />
                      </picture>
                      <picture class="scroll__dev">
                        <source type="image/webp" srcset="{{ 'assets/images/site/case/quras-2.webp'| theme }}" />
                        <img loading="lazy" src="{{ 'assets/images/site/case/quras-2.png'| theme }}" alt="QURAS wallet 2" />
                      </picture>
                      <picture class="scroll__dev">
                        <source type="image/webp" srcset="{{ 'assets/images/site/case/quras-3.webp'| theme }}" />
                        <img loading="lazy" src="{{ 'assets/images/site/case/quras-3.png'| theme }}" alt="QURAS wallet 3" />
                      </picture>
                    </div>
                  </DIV>
                </div>
                <div class="case-studies__description">Full functional custodial wallet development for IOS, Android and web, with more than 10,000 installs. </div>
                <div class="dropdown__insights insight">
                  <div class="dropdown__insights-insight">
                    <h5 class="insight__title">Features:</h5>
                    <ul class="gray-list">
                      <li class="gray-list__item">Private blockchain integrations</li>
                      <li class="gray-list__item">Cross-blockchain swap</li>
                    </ul>
                  </div>
                  <div class="dropdown__insights-insight insight-stacks">
                    <h5 class="insight__title">Stacks:</h5>
                    <ul class="gray-list">
                      <li class="gray-list__item">Web3js</li>
                      <li class="gray-list__item">Solidity</li>
                      <li class="gray-list__item">JavaScript</li>
                      <li class="gray-list__item">Openzeppelin</li>
                      <li class="gray-list__item">Truffle</li>
                    </ul>
                  </div>
                </div>
              </div>
            </DIV>
            <DIV class="content-tab content-case-2-4">
              <div class="case-studies__dropdown dropdown dropdown-web">
                <h3 class="dropdown__title">HEX</h3>
                <div class="dropdown__img">
                  <DIV>
                    <div class="noscroll">
                      <picture class="scroll__dev">
                        <source type="image/webp" srcset="{{ 'assets/images/site/case/hex-1.webp'| theme }}" />
                        <img loading="lazy" src="{{ 'assets/images/site/case/hex-1.png'| theme }}" alt="HEX 1" />
                      </picture>
                      <picture class="scroll__dev">
                        <source type="image/webp" srcset="{{ 'assets/images/site/case/hex-2.webp'| theme }}" />
                        <img loading="lazy" src="{{ 'assets/images/site/case/hex-2.png'| theme }}" alt="HEX 2" />
                      </picture>
                      <picture class="scroll__dev">
                        <source type="image/webp" srcset="{{ 'assets/images/site/case/hex-3.webp'| theme }}" />
                        <img loading="lazy" src="{{ 'assets/images/site/case/hex-3.png'| theme }}" alt="HEX 3" />
                      </picture>
                    </div>
                  </DIV>
                </div>
                <div class="case-studies__description">Full functional custodial wallet development for IOS, Android and web, with more than 10,000 installs. </div>
                <div class="dropdown__insights insight">
                  <div class="dropdown__insights-insight">
                    <h5 class="insight__title">Features:</h5>
                    <ul class="gray-list">
                      <li class="gray-list__item">QR</li>
                      <li class="gray-list__item">Smart Contract Integration</li>
                    </ul>
                  </div>
                  <div class="dropdown__insights-insight insight-stacks">
                    <h5 class="insight__title">Stacks:</h5>
                    <ul class="gray-list">
                      <li class="gray-list__item">Web3js</li>
                      <li class="gray-list__item">Solidity</li>
                      <li class="gray-list__item">JavaScript</li>
                      <li class="gray-list__item">Openzeppelin</li>
                      <li class="gray-list__item">Truffle</li>
                    </ul>
                  </div>
                </div>
              </div>
            </DIV>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>