description = "Section clients feedback"
==
<div class="clients-feedback container">
	<h2 class="clients-feedback__title">What our clients tell about us</h2>
	<div class="swiper swiper-feedback">
		<div class="swiper-wrapper">
			<div class="swiper-slide clients-feedback__cards">
				<a class="clients-feedback__cards_item" rel="noreferrer nofollow">
					<div class="clients-feedback__cards_item_images">
						<img loading="lazy" src="{{ 'assets/images/site/logo/icon-client-feedback-ducatusx.svg'| theme }}" alt="client feedback" />
						<img loading="lazy" src="{{ 'assets/images/site/social/icon-twitter.svg'| theme }}" alt="twitter" />
					</div>
					<div class="clients-feedback__cards_item_desc">
						<h2>DucatusX</h2>
						<h3>When it comes to the development of our blockchain and smart contracts, we trust only those trusted by experts. Rock’N’Block, developers of the Ducatus wallet and the DucatusX blockchain, recognized by industry experts globally. #blockchain #rocknblock #ducatus #technology </h3>
					</div>
				</a>
			</div>
			<div class="swiper-slide clients-feedback__cards">
				<div class="clients-feedback__cards_item" rel="noreferrer nofollow">
					<div class="clients-feedback__cards_item_images">
						<img loading="lazy" src="{{ 'assets/images/site/logo/icon-client-feedback-kephi.svg'| theme }}" alt="client kephi" />
						<img loading="lazy" src="{{ 'assets/images/site/social/icon-twitter.svg'| theme }}" alt="twitter" />
					</div>
					<div class="clients-feedback__cards_item_desc">
						<h2>Kephi</h2>
						<h3>Con nuestro objetivo de convertirnos en un #NFTmarketplace de última generación, nos hemos asociado con el gigante blockchain @RocknBlock2 que ha crecido hasta convertirse en socio de actores como @binance @0xPolygon @Tronfoundation @Changelly_team </h3>
					</div>
				</div>
			</div>
			<div class="swiper-slide clients-feedback__cards">
				<div class="clients-feedback__cards_item" rel="noreferrer nofollow">
					<div class="clients-feedback__cards_item_images">
						<img loading="lazy" src="{{ 'assets/images/site/logo/icon-client-feedback-mywish.svg'| theme }}" alt="client mywish" />
						<img loading="lazy" src="{{ 'assets/images/site/social/icon-twitter.svg'| theme }}" alt="twitter" />
					</div>
					<div class="clients-feedback__cards_item_desc">
						<h2>MyWish</h2>
						<h3>Make your blockchain project ideas come true! Our friends from @RocknBlock2 do blockchain development of any complexity: from custom token creation to NFT marketplaces and many more 💪 Visit http://rocknblock.io to get a unique solution for your project. </h3>
					</div>
				</div>
			</div>
			<div class="swiper-slide clients-feedback__cards">
				<div class="clients-feedback__cards_item" rel="noreferrer nofollow">
					<div class="clients-feedback__cards_item_images">
						<img loading="lazy" src="{{ 'assets/images/site/logo/icon-client-feedback-stronghands.svg'| theme }}" alt="client stronghands" />
						<img loading="lazy" src="{{ 'assets/images/site/social/icon-twitter.svg'| theme }}" alt="twitter" />
					</div>
					<div class="clients-feedback__cards_item_desc">
						<h2>StrongHands</h2>
						<h3>Did you ever noticed #iSHND is born already audited?Have a look at the@RocknBlockDev report and see how we are starting! https://github.com/stronghands-of... </h3>
					</div>
				</div>
			</div>
		</div>
		<div class="swiper-button-next"></div>
		<div class="swiper-button-prev"></div>
	</div>
</div>