description = "Section about"
==
<section class="about container">
	<div class="background-img background-img-first">
		<picture>
			<source type="image/webp" srcset="{{ 'assets/images/site//background/about-1.webp' | theme }}" />
			<img loading="lazy" src="{{ 'assets/images/site//background/about-1.png' | theme }}" alt="about one" />
		</picture>
	</div>
	<div class="background-img background-img-second">
		<picture>
			<source type="image/webp" srcset="{{ 'assets/images/site//background/about-2.webp' | theme }}" />
			<img loading="lazy" src="{{ 'assets/images/site//background/about-2.png' | theme }}" alt="about two" />
		</picture>
	</div>
	<div class="background-img background-img-third">
		<picture>
			<source type="image/webp" srcset="{{ 'assets/images/site/background/about-3.webp' | theme }}" />
			<img loading="lazy" src="{{ 'assets/images/site//background/about-3.png' | theme }}" alt="about three" />
		</picture>
	</div>
	<h1 class="about__header" sub-text="Your">Blockchain Developers</h1>
	<div class="about__content">
		<div class="about__content-item">
			<p class="about__description">
				Since 2017 Rock&rsquo;n&rsquo;Block developed <b>250+</b> <br>solutions of different complexity. 
				<br>
				Ready to bring your idea to life.
			</p>
			<section class="about__buttons">
				<a class="about__buttons-call btn btn-hollow btn-rounded" href="https://calendly.com/alex-tka" rel="noreferrer nofollow" target="_blank">Book A Call</a>
				<a class="about__buttons-contact btn btn-orange btn-rounded" href="#contact-us">Contact Us
					<img loading="lazy" src="{{ 'assets/images/site/icons/icon-arrow-right-mask.svg'| theme }}" alt="arrow right" />
				</a>
			</section>
		</div>
		<div class="about__achievements">
			<img loading="lazy" src="{{ 'assets/images/site/achievements.svg' | theme }}" alt="our achievements" />
		</div>
	</div>
</section>