description = "Section links slider bootm"
==
<div class="sliderWrapper">
	<div class="swiper swiper-slider">
		<div class="swiper-wrapper">
			<div class="swiper-slide slide">
				<article class="site">
					<figure class="site__imageWrapper">
						<picture class="site__image">
							<source type="image/webp" srcset="{{ 'assets/images/site/farming/icon-site1.webp'| theme }}" />
							<img loading="lazy" src="{{ 'assets/images/site/farming/icon-site1.png'| theme }}" alt="NFT Marketplace" />
						</picture>
					</figure>
					<h4 class="site__title">NFT Marketplace</h4>
					<a class="site__link" href="/marketplace">NFT Marketplace <i class="site__linkIcon">
							<img loading="lazy" src="{{ 'assets/images/site/icons/icon-arrow-right-mask.svg'| theme }}" alt="arrow right" />
						</i>
					</a>
				</article>
			</div>
			<div class="swiper-slide slide">
				<article class="site">
					<figure class="site__imageWrapper">
						<picture class="site__image">
							<source type="image/webp" srcset="{{ 'assets/images/site/farming/icon-site2.webp'| theme }}" />
							<img loading="lazy" src="{{ 'assets/images/site/farming/icon-site2.png'| theme }}" alt="Farming" />
						</picture>
					</figure>
					<h4 class="site__title">Farming</h4>
					<a class="site__link" href="/farming">Farming <i class="site__linkIcon">
							<img loading="lazy" src="{{ 'assets/images/site/icons/icon-arrow-right-mask.svg'| theme }}" alt="arrow right" />
						</i>
					</a>
				</article>
			</div>
			<div class="swiper-slide slide">
				<article class="site">
					<figure class="site__imageWrapper">
						<picture class="site__image">
							<source type="image/webp" srcset="{{ 'assets/images/site/farming/icon-site3.webp'| theme }}" />
							<img loading="lazy" src="{{ 'assets/images/site/farming/icon-site3.png'| theme }}" alt="10k nft generator" />
						</picture>
					</figure>
					<h4 class="site__title">10k nft generator</h4>
					<a class="site__link" href="/10knft">10k nft generator <i class="site__linkIcon">
							<img loading="lazy" src="{{ 'assets/images/site/icons/icon-arrow-right-mask.svg'| theme }}" alt="arrow right" />
						</i>
					</a>
				</article>
			</div>
			<div class="swiper-slide slide">
				<article class="site">
					<figure class="site__imageWrapper">
						<picture class="site__image">
							<source type="image/webp" srcset="{{ 'assets/images/site/farming/icon-site4.webp'| theme }}" />
							<img loading="lazy" src="{{ 'assets/images/site/farming/icon-site4.png'| theme }}" alt="Crowdsale" />
						</picture>
					</figure>
					<h4 class="site__title">Crowdsale</h4>
					<a class="site__link" href="/crowdsale">Crowdsale <i class="site__linkIcon">
							<img loading="lazy" src="{{ 'assets/images/site/icons/icon-arrow-right-mask.svg'| theme }}" alt="arrow right" />
						</i>
					</a>
				</article>
			</div>
			<div class="swiper-slide slide">
				<article class="site">
					<figure class="site__imageWrapper">
						<picture class="site__image">
							<source type="image/webp" srcset="{{ 'assets/images/site/farming/icon-site5.webp'| theme }}" />
							<img loading="lazy" src="{{ 'assets/images/site/farming/icon-site5.png'| theme }}" alt="Vesting" />
						</picture>
					</figure>
					<h4 class="site__title">Vesting</h4>
					<a class="site__link" href="/vesting">Vesting <i class="site__linkIcon">
							<img loading="lazy" src="{{ 'assets/images/site/icons/icon-arrow-right-mask.svg'| theme }}" alt="arrow right" />
						</i>
					</a>
				</article>
			</div>
			<div class="swiper-slide slide">
				<article class="site">
					<figure class="site__imageWrapper">
						<picture class="site__image">
							<source type="image/webp" srcset="{{ 'assets/images/site/farming/icon-site6.webp'| theme }}" />
							<img loading="lazy" src="{{ 'assets/images/site/farming/icon-site6.png'| theme }}" alt="Staking" />
						</picture>
					</figure>
					<h4 class="site__title">Staking</h4>
					<a class="site__link" href="/staking">Staking <i class="site__linkIcon">
							<img loading="lazy" src="{{ 'assets/images/site/icons/icon-arrow-right-mask.svg'| theme }}" alt="arrow right" />
						</i>
					</a>
				</article>
			</div>
		</div>
	</div>
</div>