description = "Section team"
==
<div class="team container" id="team">
	<div class="background-img">
		<picture>
			<source type="image/webp" srcset="{{ 'assets/images/site/background/team.webp'| theme }}" />
			<img loading="lazy" src="{{ 'assets/images/site/background/team.png'| theme }}" alt="background-img" />
		</picture>
	</div>
	<div class="block-header">
		<h2 class="primary-header">Team</h2>
		<h3 class="secondary-header">A team of highly qualified specialists:</h3>
	</div>
	<div class="tabs">
		<input id="tab-btn-1" type="radio" name="tab-btn" checked="checked" />
		<label class="tabs-label" for="tab-btn-1">Development</label>
		<input id="tab-btn-2" type="radio" name="tab-btn" />
		<label class="tabs-label" for="tab-btn-2">Managment</label>
		<div class="scroll">
			<div class="team__development-tab team__content content">
				<div class="tab-content content-1 content-tab">
					<div class="content__card">
						<picture>
							<source type="image/webp" srcset="{{ 'assets/images/site/team/team-dev-1-min.webp'| theme }}" />
							<img loading="lazy" src="{{ 'assets/images/site/team/team-dev-1-min.png'| theme }}" alt="Maksim Strenk" />
						</picture>
						<h3 class="content__card__post">Backend Team Lead</h3>
						<h4 class="content__card__name">Maksim Strenk</h4>
						<div class="content__card__exp">
							<DIV>
								<h5 class="content__card__exp__title">Experience:</h5>
								<ul class="content__card__exp__list">
									<li class="content__card__exp__list__item">Development experience 6 years, in blockchain 4 years</li>
									<li class="content__card__exp__list__item">MyWish Backend (4 years)</li>
									<li class="content__card__exp__list__item">Implementation of UTREEXO and HTLC for the Bitcoin network</li>
									<li class="content__card__exp__list__item">Made the current Ducatus Exchange</li>
									<li class="content__card__exp__list__item">Experienced in deploying and syncing Ethereum and Bitcoin full nodes</li>
								</ul>
							</DIV>
							<div class="content__card__exp__stacks stacks">
								<h5 class="stacks__title">Stack:</h5>
								<ul class="gray-list">
									<li class="stacks__item gray-list__item">Python</li>
									<li class="stacks__item gray-list__item">Solidity</li>
									<li class="stacks__item gray-list__item">JavaScript</li>
									<li class="stacks__item gray-list__item">C</li>
									<li class="stacks__item gray-list__item">OpenZeppelin</li>
									<li class="stacks__item gray-list__item">GSN</li>
									<li class="stacks__item gray-list__item">NPM</li>
									<li class="stacks__item gray-list__item">Docker Hub</li>
									<li class="stacks__item gray-list__item">Gunicorn</li>
									<li class="stacks__item gray-list__item">Supervisord</li>
									<li class="stacks__item gray-list__item">PyPi</li>
									<li class="stacks__item gray-list__item">USWSGI</li>
									<li class="stacks__item gray-list__item">PostgreSQL</li>
									<li class="stacks__item gray-list__item">MongoDB</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="content__card">
						<picture>
							<source type="image/webp" srcset="{{ 'assets/images/site/team/team-dev-2-min.webp'| theme }}" />
							<img loading="lazy" src="{{ 'assets/images/site/team/team-dev-2-min.png'| theme }}" alt="Rita Tsepeleva" />
						</picture>
						<h3 class="content__card__post">Blockchain Team Lead</h3>
						<h4 class="content__card__name">Rita Tsepeleva</h4>
						<div class="content__card__exp">
							<DIV>
								<h5 class="content__card__exp__title">Experience:</h5>
								<ul class="content__card__exp__list">
									<li class="content__card__exp__list__item">smart contract development collaterized stable coin</li>
									<li class="content__card__exp__list__item">Anonymizer powered by ZK proof</li>
									<li class="content__card__exp__list__item">development of OTC exchange</li>
									<li class="content__card__exp__list__item">yeild-farming / staking contracts development</li>
								</ul>
							</DIV>
							<div class="content__card__exp__stacks stacks">
								<h5 class="stacks__title">Stack:</h5>
								<ul class="gray-list">
									<li class="stacks__item gray-list__item">Solidity</li>
									<li class="stacks__item gray-list__item">OpenZeppelin</li>
									<li class="stacks__item gray-list__item">Truffle</li>
									<li class="stacks__item gray-list__item">npm</li>
									<li class="stacks__item gray-list__item">C++</li>
									<li class="stacks__item gray-list__item">web3</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="content__card">
						<picture>
							<source type="image/webp" srcset="{{ 'assets/images/site/team/team-dev-3-min.webp'| theme }}" />
							<img loading="lazy" src="{{ 'assets/images/site/team/team-dev-3-min.png'| theme }}" alt="Nikita Sireishikov" />
						</picture>
						<h3 class="content__card__post">Frontend Team Lead</h3>
						<h4 class="content__card__name">Nikita Sireishikov</h4>
						<div class="content__card__exp">
							<DIV>
								<h5 class="content__card__exp__title">Experience:</h5>
								<ul class="content__card__exp__list">
									<li class="content__card__exp__list__item">manual compilation of transactions to send for Bitcoin and Ethereum networks on node.js </li>
									<li class="content__card__exp__list__item">development of nodes for interacting with the blockchain on node.js</li>
									<li class="content__card__exp__list__item">development of web-wallets in Angular</li>
									<li class="content__card__exp__list__item">frontend development for interacting with smart contracts through the backend</li>
								</ul>
							</DIV>
							<div class="content__card__exp__stacks stacks">
								<h5 class="stacks__title">Stack:</h5>
								<ul class="gray-list">
									<li class="stacks__item gray-list__item">Express</li>
									<li class="stacks__item gray-list__item">Apollo</li>
									<li class="stacks__item gray-list__item">TypeScript</li>
									<li class="stacks__item gray-list__item">GraphQL</li>
									<li class="stacks__item gray-list__item">Angular</li>
									<li class="stacks__item gray-list__item">Vue</li>
									<li class="stacks__item gray-list__item">JS</li>
									<li class="stacks__item gray-list__item">MobX</li>
									<li class="stacks__item gray-list__item">NodeJS</li>
									<li class="stacks__item gray-list__item">Vuex</li>
									<li class="stacks__item gray-list__item">iOS Developing (Swiftui)</li>
									<li class="stacks__item gray-list__item">web3</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-content content-2 content-tab">
					<div class="content__card content__card__mng">
						<picture>
							<source type="image/webp" srcset="{{ 'assets/images/site/team/team-mng-1-min.webp'| theme }}" />
							<img loading="lazy" src="{{ 'assets/images/site/team/team-mng-1-min.png'| theme }}" alt="image of manager" />
						</picture>
						<div class="description">
							<div class="description__name">Dmitry Ershov</div>
							<div class="description__post">CEO</div>
						</div>
					</div>
					<div class="content__card content__card__mng">
						<picture>
							<source type="image/webp" srcset="{{ 'assets/images/site/team/team-mng-2-min.webp'| theme }}" />
							<img loading="lazy" src="{{ 'assets/images/site/team/team-mng-2-min.png'| theme }}" alt="image of manager" />
						</picture>
						<div class="description">
							<div class="description__name">Alex Tkachev</div>
							<div class="description__post">CBDO</div>
						</div>
					</div>
					<div class="content__card content__card__mng">
						<picture>
							<source type="image/webp" srcset="{{ 'assets/images/site/team/team-mng-3-min.webp'| theme }}" />
							<img loading="lazy" src="{{ 'assets/images/site/team/team-mng-3-min.png'| theme }}" alt="image of manager" />
						</picture>
						<div class="description">
							<div class="description__name">Olya Kulakova</div>
							<div class="description__post">CMO</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<ul class="team__overview">
		<li class="team__overview__item">
			<div class="team__overview__item__number">23</div>
			<div class="team__overview__item__primary-text text">Backend team</div>
		</li>
		<li class="team__overview__item">
			<div class="team__overview__item__number">27</div>
			<div class="team__overview__item__primary-text text">Frontend team</div>
		</li>
		<li class="team__overview__item">
			<div class="team__overview__item__number">19</div>
			<div class="team__overview__item__primary-text text">Smart Contracts team</div>
		</li>
		<li class="team__overview__item">
			<div class="team__overview__item__number">13</div>
			<div class="team__overview__item__primary-text text">Project managers</div>
		</li>
		<li class="team__overview__item">
			<div class="team__overview__item__number">5</div>
			<div class="team__overview__item__primary-text text">Designers</div>
		</li>
		<li class="team__overview__item">
			<div class="team__overview__item__number">3</div>
			<div class="team__overview__item__primary-text text">Analysts</div>
		</li>
	</ul>
</div>