description = "Section What we do Best"
==
<div class="what-we-do-best container">
  <div class="block-header">
    <h2 class="primary-header">What we do Best</h2>
    <h3 class="secondary-header">We are ready to take on a blockchain project of any complexity, from the stage of idea development to final implementation. Here are the most popular requests we receive regularly: </h3>
  </div>
  <div class="scroll">
    <div class="what-we-do-best__cards">
      <div class="what-we-do-best__card">
        <picture class="icon">
          <source type="image/webp" srcset="{{ 'assets/images/site/icons/icon-do-best-smart-contracts.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/icons/icon-do-best-smart-contracts.png'| theme }}" alt="crypto icons" />
        </picture>
        <p class="what-we-do-best__description">Smart contracts on various blockchains</p>
      </div>
      <div class="what-we-do-best__card">
        <picture class="icon">
          <source type="image/webp" srcset="{{ 'assets/images/site/icons/icon-do-best-bank.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/icons/icon-do-best-bank.png'| theme }}" alt="bank icon" />
        </picture>
        <p class="what-we-do-best__description">Custom token creation (incl. NFTs)</p>
      </div>
      <div class="what-we-do-best__card">
        <picture class="icon">
          <source type="image/webp" srcset="{{ 'assets/images/site/icons/icon-do-best-swap.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/icons/icon-do-best-swap.png'| theme }}" alt="swap icon" />
        </picture>
        <p class="what-we-do-best__description">Token SWAP</p>
      </div>
      <div class="what-we-do-best__card">
        <picture class="icon">
          <source type="image/webp" srcset="{{ 'assets/images/site/icons/icon-do-best-rock.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/icons/icon-do-best-rock.png'| theme }}" alt="rock sign icon" />
        </picture>
        <p class="what-we-do-best__description">Airdrop</p>
      </div>
      <div class="what-we-do-best__card">
        <picture class="icon">
          <source type="image/webp" srcset="{{ 'assets/images/site/icons/icon-do-best-bridges.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/icons/icon-do-best-bridges.png'| theme }}" alt="Bridges icon" />
        </picture>
        <p class="what-we-do-best__description">Bridges development</p>
      </div>
      <div class="what-we-do-best__card">
        <picture class="icon">
          <source type="image/webp" srcset="{{ 'assets/images/site/icons/icon-do-best-l2.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/icons/icon-do-best-l2.png'| theme }}" alt="L2 icon" />
        </picture>
        <p class="what-we-do-best__description">L2 implementation</p>
      </div>
      <div class="what-we-do-best__card">
        <picture class="icon">
          <source type="image/webp" srcset="{{ 'assets/images/site/icons/icon-do-best-tangem.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/icons/icon-do-best-tangem.png'| theme }}" alt="phone with card icon" />
        </picture>
        <p class="what-we-do-best__description">NFT card support</p>
      </div>
      <div class="what-we-do-best__card">
        <picture class="icon">
          <source type="image/webp" srcset="{{ 'assets/images/site/icons/icon-do-best-DAPPs.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/icons/icon-do-best-DAPPs.png'| theme }}" alt="DAPPs icon" />
        </picture>
        <p class="what-we-do-best__description">DAPPs development</p>
      </div>
      <div class="what-we-do-best__card">
        <picture class="icon">
          <source type="image/webp" srcset="{{ 'assets/images/site/icons/icon-do-best-moon.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/icons/icon-do-best-moon.png'| theme }}" alt="moon icon" />
        </picture>
        <p class="what-we-do-best__description">Fiat On-Ramp Integration</p>
      </div>
      <div class="what-we-do-best__card">
        <picture class="icon">
          <source type="image/webp" srcset="{{ 'assets/images/site/icons/icon-do-best-OTC.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/icons/icon-do-best-OTC.png'| theme }}" alt="graph icon" />
        </picture>
        <p class="what-we-do-best__description">Decentralized OTC development</p>
      </div>
      <div class="what-we-do-best__card">
        <picture class="icon">
          <source type="image/webp" srcset="{{ 'assets/images/site/icons/icon-do-best-wallet.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/icons/icon-do-best-wallet.png'| theme }}" alt="wallet icon" />
        </picture>
        <p class="what-we-do-best__description">Multiple wallets management tool</p>
      </div>
      <div class="what-we-do-best__card">
        <picture class="icon">
          <source type="image/webp" srcset="{{ 'assets/images/site/icons/icon-do-best-anon.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/icons/icon-do-best-anon.png'| theme }}" alt="anon icon" />
        </picture>
        <p class="what-we-do-best__description">Anonymized exchange</p>
      </div>
      <div class="what-we-do-best__card">
        <picture class="icon">
          <source type="image/webp" srcset="{{ 'assets/images/site/icons/icon-do-best-contract.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/icons/icon-do-best-contract.png'| theme }}" alt="contract icon" />
        </picture>
        <p class="what-we-do-best__description">Smart contract audit</p>
      </div>
      <div class="what-we-do-best__card">
        <picture class="icon">
          <source type="image/webp" srcset="{{ 'assets/images/site/icons/icon-do-best-phone.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/icons/icon-do-best-phone.png'| theme }}" alt="phone icon" />
        </picture>
        <p class="what-we-do-best__description">iOS / Android App development</p>
      </div>
      <div class="what-we-do-best__card">
        <picture class="icon">
          <source type="image/webp" srcset="{{ 'assets/images/site/icons/icon-do-best-shield.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/icons/icon-do-best-shield.png'| theme }}" alt="shield icon" />
        </picture>
        <p class="what-we-do-best__description">Explorers for private blockchain</p>
      </div>
    </div>
  </div>
</div>