description = "About section"
==
<section class="staking__about-us">
	<h2 class="staking__about-us_title">숫자로 보는 Rock'n'Block</h2>
	<div class="staking__about-us_container">
		<DIV style="max-width: 970px;display: flex;flex-wrap: wrap;justify-content: space-between;margin:0 auto;">
			<div class="staking__about-us_container_item">
				<div class="staking__about-us_container_item_img"><img src="{{ 'assets/images/site/icons/icon-card-rocket.svg'| theme }}" alt="rocket" /></div>
				<div class="staking__about-us_container_item_text">
					<h2>250+</h2>
					<h3>턴키(TURN-KEY) 기반 프로젝트 진행</h3>
				</div>
			</div>
			<div class="staking__about-us_container_item">
				<div class="staking__about-us_container_item_img"><img src="{{ 'assets/images/site/icons/icon-card-paper.svg'| theme }}" alt="paper" /></div>
				<div class="staking__about-us_container_item_text">
					<h2>15 000+ </h2>
					<h3>스마트 컨트랙트 배포</h3>
				</div>
			</div>
			<div class="staking__about-us_container_item">
				<div class="staking__about-us_container_item_img"><img src="{{ 'assets/images/site/icons/icon-card-user.svg'| theme }}" alt="user" /></div>
				<div class="staking__about-us_container_item_text">
					<h2>팀원 130명+</h2>
					<h3>개발자 100명+</h3>
				</div>
			</div>
			<div class="staking__about-us_container_item">
				<div class="staking__about-us_container_item_img"><img src="{{ 'assets/images/site/icons/icon-card-money-bag.svg'| theme }}" alt="money" /></div>
				<div class="staking__about-us_container_item_text">
					<h2>10억불 이상</h2>
					<h3>자사 고객 자산 관리 금액</h3>
				</div>
			</div>
			<div class="staking__about-us_container_item">
				<div class="staking__about-us_container_item_img"><img src="{{ 'assets/images/site/icons/icon-card-support.svg'| theme }}" alt="support" /></div>
				<div class="staking__about-us_container_item_text">
					<h2>15년 이상</h2>
					<h3>개발 경력</h3>
				</div>
			</div>
			<div class="staking__about-us_container_item">
				<div class="staking__about-us_container_item_img"><img src="{{ 'assets/images/site/icons/icon-card-blockchain.svg'| theme }}" alt="blockchain" /></div>
				<div class="staking__about-us_container_item_text">
					<h2>다양한 종류의 블록체인</h2>
					<h3>개발 완료</h3>
				</div>
			</div>
		</DIV>
	</div>
</section>