description = "Action section"
==
<section>
	<div class="staking__call-to-action">
		<div class="staking__call-to-action_text">
			<h2>ROCK'N'BLOCK과 함께 당신의 스테이킹(Staking) 플랫폼을 구축해보세요</h2>
			<h3>Rock'n'Block은 자동화된 스테이킹 작업과 수익을 실행할 수 있는 입증된 스테이킹 엔진을 제공합니다. 스테이킹 플랫폼 개발 경험과 블록체인의 발전을 바탕으로 간편하고 전문적인 스테이킹 서비스 제공을 목표로 하고 있습니다.</h3></div>
		<div class="staking__call-to-action_picture">
			<picture>
				<source srcSet="{{ 'assets/images/site/rock-n-block-img.webp'| theme }}" media="(min-width: 768px)" type="image/webp" />
				<source srcSet="{{ 'assets/images/site/rock-n-block-img-mobile.webp'| theme }}" media="(max-width: 768px)" type="image/webp" /><img class="staking__call-to-action_picture_bg" src="{{ 'assets/images/site/rock-n-block-img.png'| theme }}" alt="Rock n Block staking platform" /></picture>
		</div>
	</div>
	<div class="staking__banner">
		<div class="staking__banner_container">
			<p>지금 Rock'n'Block의 스테이킹 개발 전문가와 연락하여 간편하게 방식으로 스테이킹 플랫폼을 출시하십시오.</p><a class="button staking__buttons-order" href="#contact-us">개발 문의<img loading="lazy" src="{{ 'assets/images/site/icons/icon-arrow-right-mask.svg'| theme }}" alt="arrow right"/></a></div>
	</div>
</section>