description = "Action section"
==
<section>
	<div class="staking__call-to-action">
		<div class="staking__call-to-action_text">
			<h2>Build your staking platform with Rock’n’Block</h2>
			<h3>Rock'n'Block offers a proven staking engine with which you can run
automated staking operations and profit. Using experience in
developing staking platforms and advances in blockchain, it also
aims to provide simple and professional staking services.</h3></div>
		<div class="staking__call-to-action_picture">
			<picture>
				<source srcSet="{{ 'assets/images/site/rock-n-block-img.webp'| theme }}" media="(min-width: 768px)" type="image/webp" />
				<source srcSet="{{ 'assets/images/site/rock-n-block-img-mobile.webp'| theme }}" media="(max-width: 768px)" type="image/webp" /><img class="staking__call-to-action_picture_bg" src="{{ 'assets/images/site/rock-n-block-img.png'| theme }}" alt="Rock n Block staking platform" /></picture>
		</div>
	</div>
	<div class="staking__banner">
		<div class="staking__banner_container">
			<p>Connect with our staking development experts today and launch your staking product in a hassle-free manner.</p><a class="button staking__buttons-order" href="#contact-us">Get a quote<img loading="lazy" src="{{ 'assets/images/site/icons/icon-arrow-right-mask.svg'| theme }}" alt="arrow right"/></a></div>
	</div>
</section>