description = "Hero section"
==
<section class="w1000px">
	<div class="staking__container_block_1"><img class="bg-1" src="{{ 'assets/images/site/background/header-1.png'| theme }}" alt="bg" /><img class="bg-2" src="{{ 'assets/images/site/background/header-2.png'| theme }}" alt="bg" />
		<div class="pd15px">
			<h1>스테이킹(STAKING) 플랫폼 개발</h1>
			<h2>독점적 스테이킹 솔루션 제작을 한번에 하는 원스탑(One-stop) 서비스</h2>
			<section class="staking__buttons"><a class="button" href="#contact-us">개발 문의<img loading="lazy" src="{{ 'assets/images/site/icons/icon-arrow-right-mask.svg'| theme }}" alt="arrow right"/></a></section>
		</div>
		<picture>
			<source srcSet="{{ 'assets/images/site/staking/staking-coins.webp'| theme }}" type="image/webp" /><img src="{{ 'assets/images/site/staking/staking-coins.png'| theme }}" alt="staking coins" /></picture>
	</div>
	<div class="staking__container_block_2 pd15px">
		<picture>
			<source srcSet="{{ 'assets/images/site/staking/staking-tablet.webp'| theme }}" type="image/webp" /><img src="{{ 'assets/images/site/staking/staking-tablet.png'| theme }}" alt="staking tablet" /></picture><img class="staking__container_block_2_bg" src="{{ 'assets/images/site/background/background-2.png'| theme }}" alt="bg" />
		<h2>스테이킹 플랫폼 개발함으로써 스테이킹 보상을 귀사의 사용자에게 돌아 갈 수 있도록 도와드립니다. 이더리움이 최고의 네트워크 중 하나지만 DeFi 스테이킹 플랫폼은 클라이언트의 요청에 따라 모든 블록체인 네트워크에서 구축할 수 있습니다.</h2></div>
</section>