@import "../../style/common/fonts";

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  transition: 0.4s ease;

  &:active {
    transform: scale(0.95);
  }

  &.progress,
  &:disabled {
    opacity: 0.5;

    &:hover {
      opacity: 0.5;
      transform: none !important;
      box-shadow: none !important;
    }

    &:active {
      transform: scale(1);
    }
  }

  &-circle {
    border-radius: 60px;
  }

  &-rounded {
    border-radius: 46px;
  }

  &-center {
    margin: 0 auto;
  }

  &-border {
    background-color: transparent;
  }

  &-fill {
    border-color: transparent;
  }

  &-hollow {
    border: 1px solid #DC2C2C;
  }

  &-orange {
    color: var(--button-orange-color);
    border: 2px solid #DC2C2C;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.25);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%), #DC2C2C;

    &-cl-solid {
      background: #DC2C2C;
    }
  }

  &-white {
    color: var(--button-white-color);
    border: 2px solid var(--button-white-border-color);
    background-color: var(--button-white-background-color);

    &.btn-border {
      color: var(--button-white-border-text-color);
    }
  }
}
