description = "Bridges block"
==
<section class="bridges" id="bridges">
	<div class="container">
		<h2 class="title">Bridges we've built</h2></div>
	<div class="bridges__items">
		<div class="bridges__item"><img class="bridges__img" src="{{'assets/images/site/bridge/bridges/quarashi.svg' | theme }}" alt="QUARASHI" />
			<p class="bridges__title">QUARASHI</p>
		</div>
		<div class="bridges__item"><img class="bridges__img" src="{{'assets/images/site/bridge/bridges/name.svg" ' | theme }}alt="Name" />
			<p class="bridges__title">Name</p>
		</div>
		<div class="bridges__item"><img class="bridges__img" src="{{'assets/images/site/bridge/bridges/less.svg" ' | theme }}alt="Less" />
			<p class="bridges__title">Less</p>
		</div>
		<div class="bridges__item"><img class="bridges__img" src="{{'assets/images/site/bridge/bridges/chipz.svg' | theme }}" alt="CHIPZ" />
			<p class="bridges__title">CHIPZ</p>
		</div>
		<div class="bridges__item"><img class="bridges__img" src="{{'assets/images/site/bridge/bridges/bscgirl.svg' | theme }}" alt="BSCGIRL" />
			<p class="bridges__title">BSCGIRL</p>
		</div>
	</div>
	<div class="container">
		<p class="bridges__text">Rock'n'Block helps to bridge smaller chains to other networks, to develop business models around the transfer and building trust with the users through bridge dashboards.</p>
	</div>
</section>