description = "How it works block"
==
<section class="how" id="how">
	<div class="container how__container">
		<h2 class="how__title title">How it works</h2>
		<div class="how__steps">
			<div class="step">
				<div class="step__circle"><span>1</span></div>
				<p class="step__description">Tx is sent from user to the swap contract in Network A</p>
			</div>
			<div class="step">
				<div class="step__circle"><span>2</span></div>
				<p class="step__description">The tokens are locked in the swap contract in Network A</p>
			</div>
			<div class="step">
				<div class="step__circle"><span>3</span></div>
				<p class="step__description">Tokens are sent from the swap contract in Network B to the user</p>
			</div>
		</div>
		<div class="how__img">
			<picture>
				<source type="image/webp" srcset="{{'assets/images/site/bridge/how-it-works/chain-bridge.webp' | theme }}" /><img loading="lazy" src="{{'assets/images/site/bridge/how-it-works/chain-bridge.png' | theme }}" alt="chain-bridge" /></picture>
		</div>
	</div>
</section>