description = "Why block"
==
<section class="why" id="why">
	<div class="container why__container">
		<h2 class="why__title title">Why going Cross-Chain with <span style="color: #DC2C2C; display: block;">ROCK'N'BLOCK?</span></h2>
		<div class="why__items">
			<div class="item"><img class="item__img" src="{{'assets/images/site/bridge/why/icon-1.svg' | theme }}" alt="Have full control of your bridge" />
				<p class="item__text">Have full control of your bridge</p>
			</div>
			<div class="item"><img class="item__img" src="{{'assets/images/site/bridge/why/icon-2.svg' | theme }}" alt="Discover new trading platforms" />
				<p class="item__text">Discover new trading platforms</p>
			</div>
			<div class="item"><img class="item__img" src="{{'assets/images/site/bridge/why/icon-3.svg' | theme }}" alt="Reach new audiences" />
				<p class="item__text">Reach new audiences</p>
			</div>
			<div class="item"><img class="item__img" src="{{'assets/images/site/bridge/why/icon-4.svg' | theme }}" alt="Escape high gas fees" />
				<p class="item__text">Escape high gas fees</p>
			</div>
			<div class="item"><img class="item__img" src="{{'assets/images/site/bridge/why/icon-5.svg' | theme }}" alt="Set your commission" />
				<p class="item__text">Set your commission</p>
			</div>
		</div><a class="button" href="#contact-us">REQUEST BRIDGE<img loading="lazy" src="{{'assets/images/site/icons/icon-arrow-right-mask.svg' | theme }}" alt="arrow right"/></a></div>
</section>