description = "Benefits section"
==
<section class="contentWrapper sectionBenefits">
    <div class="contentInner">
        <section class="content">
            <h2 class="title title_theme_h1 title_align_left title_transform_uppercase sectionBenefits__title">YIELD FARMING의 혜택은<br /> 무엇인가요?</h2>
            <p class="paragraph paragraph_align_left sectionBenefits__paragraph sectionBenefits__paragraph_indent_bottom">YIELD FARMING혜택은 단 한가지 목표를 위한 것입니다-바로 고객의 이익입니다. 새로운 프로젝트에 먼저 참여한 파머(Farmer)는 토큰으로 보상을 받으며 해당 토큰의 가치는 매우 빠르게 상승합니다.</p>
            <p class="paragraph paragraph_align_left sectionBenefits__paragraph">이렇게 지급받은 토큰을 적절한 타이밍에 매도하면, 상당한 수익을 볼 수 있습니다. 이렇게 얻은 수익을 다시 다른 DeFi 프로젝트(DeFi project)에 재투자하여 훨씬 더 많은 수익을 창출할 수 있습니다.</p>
            <div class="sectionBenefits__imageWrapper"><img class="sectionBenefits__image" src="{{ 'assets/images/site/farming/img-flower.png'| theme }}" alt="What are the benefits?" /></div>
            <section class="sectionBenefits__question">
                <h4 class="sectionBenefits__questionTitle">탈중앙화금융(DEFI)의 YIELD FARMING을 통한 이익을 계산하는 방법은?</h4>
                <p>유동성 공급자의 수익을 계산할 때 다음 지표가 중요한 역할을 합니다.</p>
            </section>
            <ul class="sectionBenefits__benefitsWrapper">
                <li class="sectionBenefits__benefit">
                    <article class="benefit">
                        <figure class="benefit__imageWrapper"><img class="benefit__image" src="{{ 'assets/images/site/farming/icon-tvl.png'| theme }}" alt="Total Value Locked (TVL)" /></figure>
                        <h4 class="benefit__title">총 예치 금액 <br> (TOTAL VALUE LOCKED,TVL)</h4>
                        <p class="benefit__description">TVL은 탈중앙화 금융(DeFi)대출 및 기타 시장에 예치된 코인을 측정하는 매개변수 값입니다. 다양한 플랫폼의 스마트 계약을 통해 예치된 자산의 총 가치 추적을 통하여 전체 자산을 한 번에 확인이 가능합니다. </p>
                    </article>
                </li>
                <li class="sectionBenefits__benefit">
                    <article class="benefit">
                        <figure class="benefit__imageWrapper"><img class="benefit__image" src="{{ 'assets/images/site/farming/icon-apy.png'| theme }}" alt="Annual Percentage Yield (APY)" /></figure>
                        <h4 class="benefit__title">연간 수익율 <br> (ANNUAL PERCENTAGE YIELD, APY)</h4>
                        <p class="benefit__description">차용자에게 부과되고 이후에 제공자에게 지급되는 연간 수익률을 나타냅니다.</p>
                    </article>
                </li>
                <li class="sectionBenefits__benefit">
                    <article class="benefit">
                        <figure class="benefit__imageWrapper"><img class="benefit__image" src="{{ 'assets/images/site/farming/icon-apr.png'| theme }}" alt="Annual Percentage Rate (APR)" /></figure>
                        <h4 class="benefit__title">연간이율 <br> (ANNUAL PERCENTAGE RATE, APR)</h4>
                        <p class="benefit__description">자본 차용자에게 부과되지만 자본 제공자에게 지급되는 연간 수익률을 나타냅니다.</p>
                    </article>
                </li>
            </ul>
        </section>
    </div>
</section>