description = "Benefits section"
==
<section class="contentWrapper sectionBenefits">
    <div class="contentInner">
        <section class="content">
            <h2 class="title title_theme_h1 title_align_left title_transform_uppercase sectionBenefits__title"> What are the<br />benefits?</h2>
            <p class="paragraph paragraph_align_left sectionBenefits__paragraph sectionBenefits__paragraph_indent_bottom">The benefits of yield farming are obvious - profit. Farmers who start a new project early can be rewarded with tokens, the value of which can rise quickly.</p>
            <p class="paragraph paragraph_align_left sectionBenefits__paragraph">If they sell these tokens at the right time, a significant profit can be made. These profits can be reinvested in other DeFi projects to generate even more income.</p>
            <div class="sectionBenefits__imageWrapper"><img class="sectionBenefits__image" src="{{ 'assets/images/site/farming/img-flower.png'| theme }}" alt="What are the benefits?" /></div>
            <section class="sectionBenefits__question">
                <h4 class="sectionBenefits__questionTitle">How to calculate returns in DeFi yield farming?</h4>
                <p>When it comes to calculating returns for liquidity providers, the following metrics play a crucial role.</p>
            </section>
            <ul class="sectionBenefits__benefitsWrapper">
                <li class="sectionBenefits__benefit">
                    <article class="benefit">
                        <figure class="benefit__imageWrapper"><img class="benefit__image" src="{{ 'assets/images/site/farming/icon-tvl.png'| theme }}" alt="Total Value Locked (TVL)" /></figure>
                        <h4 class="benefit__title">Total Value <br> Locked (TVL)</h4>
                        <p class="benefit__description">TVL is a parametric value that measures crypto locked in DeFi lending and other marketplaces. Tracking the total value of cryptocurrencies locked in smart contracts of various platforms provides a complete overview of their performance. </p>
                    </article>
                </li>
                <li class="sectionBenefits__benefit">
                    <article class="benefit">
                        <figure class="benefit__imageWrapper"><img class="benefit__image" src="{{ 'assets/images/site/farming/icon-apy.png'| theme }}" alt="Annual Percentage Yield (APY)" /></figure>
                        <h4 class="benefit__title">Annual Percentage <br> Yield (APY)</h4>
                        <p class="benefit__description">It represents the annual rate of return imposed on borrowers and paid to providers subsequently.</p>
                    </article>
                </li>
                <li class="sectionBenefits__benefit">
                    <article class="benefit">
                        <figure class="benefit__imageWrapper"><img class="benefit__image" src="{{ 'assets/images/site/farming/icon-apr.png'| theme }}" alt="Annual Percentage Rate (APR)" /></figure>
                        <h4 class="benefit__title">Annual Percentage <br> Rate (APR)</h4>
                        <p class="benefit__description">It represents the annual rate of return imposed on the capital borrowers but paid to the capital providers.</p>
                    </article>
                </li>
            </ul>
        </section>
    </div>
</section>