description = "Build section"
==
<section class="contentWrapper sectionBuild">
    <div class="contentInner">
        <section class="content">
            <div class="sectionBuild__imageWrapper"><img class="sectionBuild__image" src="{{ 'assets/images/site/farming/img-coin.png'| theme }}" alt="How to build a DeFi yield farming dApp?" /></div>
            <h2 class="title title_theme_h1 title_align_center title_transform_uppercase"> How to build a DeFi<br /><span class="text text_color_alizarinCrimson">yield farming</span>dApp?</h2>
            <p class="paragraph paragraph_align_center sectionBuild__paragraph">As a leading DeFi Development Company, Rock'n'Block have experts in delivering a
                <br />complete Yield Farming development services & solutions to people across the globe!
                <br />We offer the outstanding features and functionalities and assuring you to provide
                <br />highly innovative and immutable DeFi solutions, the team of blockchain developers
                <br />helps offer you the best services to launch your own Yield Farming platform.
            </p><a class="sectionBuild__link" href="#contact-us">Get a Free Quote<img loading="lazy" src="{{ 'assets/images/site/farming/icon-arrow.png'| theme }}" alt="arrow" /></a>
        </section>
    </div>
</section>