description = "Role section"
==
<section class="contentWrapper sectionRole">
	<div class="contentInner">
		<section class="content">
			<h2 class="title title_theme_h2 title_align_center title_transform_uppercase sectionRole__title"> YIELD FARMING 에서 <br />공급자의 역할:</h2>
			<p class="paragraph paragraph_align_center sectionRole__description">YIELD FARMING은 유동성 풀에서 보증금을 관리하고 있는 유동성 공급자 없이는 불가능합니다.
				<br />이러한 유동성 풀은 구매자와 판매자가 동의가 체결되고 탈 중앙화 된 블록체인 상에서 
				<br />사용이 가능하도록 하는 스마트계약 역할을 합니다.
			</p>
			<ul class="sectionRole__platformsWrapper">
				<li class="sectionRole__platform">
					<article class="card">
						<figure class="card__logotypeWrapper"><img class="card__logotype" src="{{ 'assets/images/site/farming/icon-compound.png'| theme }}" alt="Compound" /></figure><img class="card__logotypeName" src="{{ 'assets/images/site/farming/logo-compound.png'| theme }}" alt="Compound" />
					</article>
				</li>
				<li class="sectionRole__platform">
					<article class="card">
						<figure class="card__logotypeWrapper"><img class="card__logotype" src="{{ 'assets/images/site/farming/icon-yearn.png'| theme }}" alt="Yearn" /></figure><img class="card__logotypeName" src="{{ 'assets/images/site/farming/logo-yearn.png'| theme }}" alt="Yearn" />
					</article>
				</li>
				<li class="sectionRole__platform">
					<article class="card">
						<figure class="card__logotypeWrapper"><img class="card__logotype" src="{{ 'assets/images/site/farming/icon-dao.png'| theme }}" alt="Dao Maker" /></figure><img class="card__logotypeName" src="{{ 'assets/images/site/farming/logo-dao.png'| theme }}" alt="Dao Maker" />
					</article>
				</li>
				<li class="sectionRole__platform">
					<article class="card">
						<figure class="card__logotypeWrapper"><img class="card__logotype" src="{{ 'assets/images/site/farming/icon-uniswap.png'| theme }}" alt="Uniswap" /></figure><img class="card__logotypeName" src="{{ 'assets/images/site/farming/logo-uniswap.png'| theme }}" alt="Uniswap" />
					</article>
				</li>
			</ul>
			<div class="sectionRole__more">
				<div class="sectionRole__moreText">and more</div>
			</div>
		</section>
	</div>
</section>