description = "What is section"
==
<section class="contentWrapper sectionWhatIs">
	<div class="contentInner">
		<section class="content">
			<h2 class="title title_theme_h1 title_align_center title_transform_uppercase sectionWhatIs__title"> YIELD <span class="text text_color_alizarinCrimson">FARMING</span>은 <br/>무엇인가요?</h2>
			<p class="paragraph sectionWhatIs__description paragraph_align_center">인컴 파밍(Income farming)은 토큰을 일정기간 잠그고 그에 대한 보상을 받는 것 입니다.
				<br/>투자에 있어서 회수는 일반적인 것이지만, “YIELD FARMING”의
				<br/>일반적 개념은 탈중앙화 금융 분야에서 나온 용어입니다.</p>
			<div class="sectionWhatIs__imageRoadWrapper"><img class="sectionWhatIs__imageRoad" src="{{ 'assets/images/site/farming/img-road.png'| theme }}" alt="What is Yield Farming" /></div>
			<div class="sectionWhatIs__imageRaysWrapper"><img class="sectionWhatIs__imageRays" src="{{ 'assets/images/site/farming/img-rays.png'| theme }}" alt="What is Yield Farming" /></div>
		</section>
	</div>
</section>