description = "What is section"
==
<section class="contentWrapper sectionWhatIs">
	<div class="contentInner">
		<section class="content">
			<h2 class="title title_theme_h1 title_align_center title_transform_uppercase sectionWhatIs__title"> What is<br/>Yield<span class="text text_color_alizarinCrimson">Farming</span>?</h2>
			<p class="paragraph sectionWhatIs__description paragraph_align_center">Income farming is the practice of placing or locking in cryptocurrency in
				<br/>exchange for rewards. While the expectation of return on investment is
				<br/>nothing new, the general concept of "yield farming" emerged from the
				<br/>decentralized financial sector.</p>
			<div class="sectionWhatIs__imageRoadWrapper"><img class="sectionWhatIs__imageRoad" src="{{ 'assets/images/site/farming/img-road.png'| theme }}" alt="What is Yield Farming" /></div>
			<div class="sectionWhatIs__imageRaysWrapper"><img class="sectionWhatIs__imageRays" src="{{ 'assets/images/site/farming/img-rays.png'| theme }}" alt="What is Yield Farming" /></div>
		</section>
	</div>
</section>