description = "Work section"
==
<section class="contentWrapper sectionWork">
	<div class="contentInner">
		<section class="content">
			<h2 class="title title_theme_h1 title_align_center title_transform_uppercase sectionWork__title"> YIELD FARMING은 <br/>어떤 원리인가요?</h2>
			<div class="sectionWork__imageWrapper">
				<picture class="sectionWork__picture">
					<source class="sectionWork__image" srcSet="{{ 'assets/images/site/farming/img-work-mobile.png'| theme }}" media="(max-width: 991px)" /><img class="sectionWork__image" src="{{ 'assets/images/site/farming/img-work-desktop.png'| theme }}" alt="How does DeFi yield farming work?" /></picture>
			</div>
		</section>
	</div>
</section>