==
<footer>
	<div class="containe footer">
		<nav class="social-links">
			<ul class="social-links__list">
				<li class="social-links__link">
					<a class="icon" href="https://twitter.com/RocknBlockDev" rel="noreferrer" target="_blank"><img src="../../img/social/icon-footer-tw-mask.svg" alt="tw"></a>
				</li>
				<li class="social-links__link">
					<a class="icon" href="https://t.me/joinchat/WG1xLuqY2uUgc_HH" rel="noreferrer" target="_blank">
						<img src="../../img/social/icon-footer-tg-mask.svg" alt="tg">
					</a>
				</li>
				<li class="social-links__link">
					<a class="icon" href="https://www.facebook.com/RocknBlockDev/?ref=br_rs" rel="noreferrer" target="_blank">
						<img src="../../img/social/icon-footer-fb-mask.svg" alt="fb">
					</a>
				</li>
				<li class="social-links__link">
					<a class="icon" href="https://rocknblock.medium.com/" rel="noreferrer" target="_blank">
						<img src="../../img/social/icon-footer-medium-mask.svg" alt="medium">
					</a>
				</li>
				<li class="social-links__link">
					<a class="icon" href="https://www.linkedin.com/authwall?trk=ripf&amp;trkInfo=AQHvgveZGbs93QAAAXggz85o2_gQEyTCero1KbSW_FNCIX1sjFUjvezZQqiUuu2cVmo2lj4adoTCg0J8Rvb-V8pKjpQj8U3C5-qT4igU957ofdXB7BvLt6ctemMUWideBHjsZLg=&amp;originalReferer=https://rocknblock.io/&amp;sessionRedirect=https%3A%2F%2Fwww.linkedin.com%2Fcompany%2F13060149" rel="noreferrer" target="_blank">
						<img src="../../img/social/icon-footer-in-mask.svg" alt="in">
					</a>
				</li>
				<li class="social-links__link">
					<a class="icon" href="mailto:alex.t@mywish.io" rel="noreferrer" target="_blank">
						<img src="../../img/social/icon-footer-mail-mask.svg" alt="mail">
					</a>
				</li>
			</ul>
		</nav>
		<div class="bottom">
			<div class="links">
				<p class="bottom__copyright-desktop">© Copyright Rock’n’Block 2021</p> <a href="/privacy-policy" target="_top">Privacy
               Policy</a><a href="/terms-of-service" target="_top">Terms
               of Service</a><a href="/company" target="_top">Company</a> </div>
			<p class="bottom__copyright-mobile">© Copyright Rock’n’Block 2021</p>
		</div>
	</div>
</footer>