description = "Website header section"
==
<?php
function onStart()
{
    $this['backendUrl'] = Backend::url('/');
}
?>
==
<div class="container">
	<nav class="main-nav">
		<section class="main-nav__mobile">
			<a class="logo" href="/">
				<img src="{{ 'assets/images/site/logo.svg'| theme }}" alt="Rock'n'Block logo">
			</a>
		</section>
		<section class="nav-pages" id="nav-pages">
			<a class="nav-pages__link" href="/#services">Services</a>
			<a class="nav-pages__link" href="/#cases">Cases</a>
			<a class="nav-pages__link" href="/#team">Team</a>
			<a class="nav-pages__link" href="/#partners">Partners</a>
			<a class="nav-pages__link" href="/blog">Blog</a>
			<a class="nav-pages__contact-button nav-pages__link__contact-us" href="#contact-us">CONTACTUS</a>
		</section>
	</nav>
</div>