description = "Build section"
==
<section class="build">
	<div class="block">
		<div class="backgroundTop"></div>
		<div class="background" style="background-image: url('{{ 'assets/images/site/vesting/image535.png'| theme }}');"></div>
		<div class="container">
			<h1 class="title">VESTING</h1>
			<div class="description">Build a Token Vesting Contract</div><a class="button" href="#contact-us">Try Vesting<img loading="lazy" src="{{ 'assets/images/site/icons/icon-arrow-right-mask.svg'| theme }}" alt="arrow right"/></a></div>
	</div>
</section>