description = "Business section"
==
<section class="business">
	<div class="block">
		<div class="ellipse"></div>
		<div class="background" style="background-image: url('{{ 'assets/images/site/vesting/bgBusinesses.png'| theme }}');"></div>
		<h2 class="title">Why do businesses need vesting</h2>
		<div class="descriptions">Following increased exit scams and rug pulls in the crypto space, crypto players have developed several ways of protecting crypto investors from such scams. One such means of protecting investors is using liquidity lockers integrating several features, including token vesting. Token vesting refers to locking up investors’ tokens for a specific period to maintain a stable long-term value of a particular digital asset. Token vesting essentially prevents token holders from selling their tokens at once following the listing of a crypto project's coin or token, causing the market price to tank quickly.</div>
		<div class="businessesImg"></div>
	</div>
</section>