description = "Custom contract section"
==
<section class="customsmartcontract">
	<div class="block">
		<div class="ellipse"></div>
		<h2 class="title">Сreate a custom vesting smart contract</h2>
		<div class="sliderContainerWrapper">
			<div class="sliderContainer">
				<div class="slide"><img class="slideImg" src="{{ 'assets/images/site/vesting/pologon.png'| theme }}" alt="Polygon" />
					<div class="slideName">Polygon</div>
				</div>
				<div class="slide"><img class="slideImg" src="{{ 'assets/images/site/vesting/ethereum.png'| theme }}" alt="Ethereum" />
					<div class="slideName">Ethereum</div>
				</div>
				<div class="slide"><img class="slideImg" src="{{ 'assets/images/site/vesting/union.png'| theme }}" alt="Binance Smart Chain" />
					<div class="slideName">Binance Smart Chain</div>
				</div>
				<div class="slide"><img class="slideImg" src="{{ 'assets/images/site/vesting/neo.png'| theme }}" alt="NEO" />
					<div class="slideName">NEO</div>
				</div>
			</div>
		</div>
		<div class="descriptions">Token vesting is necessary to prevent such occurrences and boost confidence in the potential participants of a token sale. The process involves locking up certain amounts/percentage of tokens for a particular period, usually one or two years. For instance, if a startup creates a cryptocurrency project and launches it through an ICO or crowdfunding event, they may set up a lockup period.
			<br/>
			<br/>Rock'n'Block is set to launch a token vesting service following the completion of its new webpage. Token vesting service will be made available on all chains the platform is currently deployed, i.e. Ethereum, Binance Smart Chain, Polygon, and others.</div><a class="button" href="#contact-us">ORDER VESTING<img loading="lazy" src="{{ 'assets/images/site/icons/icon-arrow-right-mask.svg'| theme }}" alt="arrow right"/></a></div>
</section>