description = "Smart contract section"
==
<section class="smartcontract">
	<div class="block">
		<div class="background"></div>
		<div class="ellipse"></div>
		<div class="blockInfo">
			<h2 class="title">ROCK'NBLOCK DEVELOPS Vesting Smart Contract</h2>
			<div class="descriptions"> A smart contract allowing to be time-vested on a continuous schedule.
				<br/>
				<br/>There are several publicly available smart contracts allowing for tokens (for example those given to founders during a crowdsale) to be vested over time.</div>
		</div>
	</div>
</section>