description = "Term section"
==
<section class="termsvesting">
	<div class="block">
		<h2 class="title">Enable long-term relationships with members of a token ecosystem</h2>
		<div class="descriptions">Vesting is a term used to describe the fact that an asset is fully under the ownership of an investor. Crypto projects often use long-term token release vesting schedules for token sale investors. This effectively locks an investor into their given tokens for a lengthy period of time.</div><a class="button" href="#contact-us">Contact blockchain experts<img loading="lazy" src="{{ 'assets/images/site/icons/icon-arrow-right-mask.svg/'| theme }}" alt="arrow right"/></a></div>
</section>