description = "Token section"
==
<section class="token">
	<div class="block">
		<div class="ellipse"></div>
		<h2 class="title">Token Vesting Options:</h2>
		<div class="descriptions">There are two primary token vesting options:</div>
		<div class="cardContainer">
			<div class="card"><img class="cardImg" src="{{ 'assets/images/site/vesting/optionCard1.png'| theme }}" alt="Reverse Vesting" />
				<div class="cardTitle">Reverse Vesting</div>
				<div class="cardDescription">primarily concerned with limiting the speed or quickness with which project founders, teams and large investors can liquidate (sell) tokens. In this token vesting option, projects can shorten the vesting period to two years but increase the selling schedule to up to 4 years.</div>
			</div>
			<div class="card"><img class="cardImg" src="{{ 'assets/images/site/vesting/optionCard2.png'| theme }}" alt="Normal Vesting" />
				<div class="cardTitle">Normal Vesting</div>
				<div class="cardDescription">the tokens are locked up in a smart contract for a predetermined period. A project's founder(s) can decide to lock up a particular percentage of the tokens and release them periodically, say 20% after 6 months, 50% after 1 year, and the other 50% in the 2nd year.</div>
			</div>
		</div>
	</div>
</section>