description = "Crowdsale section"
==
<section class="crowdsale">
	<h2 class="crowdsale__title">What is <span>Crowdsale</span></h2>
	<h3 class="crowdsale__desc">Оne of the best ways for startups to raise initial capital for their
crypto-based business opportunity. It has all the benefits of blockchain
technology embedded into it. The funds are used to provide financial
support for a cryptocurrency project through crowdfunding.{' '}</h3>
	<div class="crowdsale__img"><img src="{{ 'assets/images/site/crowdsale/what-is-crowdsale-img.png'| theme }}" alt="crowdsale img" />
		<h3>Rock'n'Block helps to Increase fundraising opportunities for your
project with crowdsale development. We help in every single step of
crowdsale pack, managing, whitepaper creation, and managing &
developing the backend. Rock'n'Block also develops new tokes using
different Blockchain communities with launch platforms and smart
contracts.</h3></div>
	<div class="crowdsale__cards">
		<DIV><img src="{{ 'assets/images/site/icons/shield.svg'| theme }}" alt="shield icon" />
			<h2>borderless</h2></DIV>
		<DIV><img src="{{ 'assets/images/site/icons/fist.svg'| theme }}" alt="fist icon" />
			<h2>trustfull</h2></DIV>
		<DIV><img src="{{ 'assets/images/site/icons/speedometer.svg'| theme }}" alt="speedometer icon" />
			<h2>quick</h2></DIV>
	</div>
</section>