description = "Dev section"
==
<section class="dev">
	<h2 class="dev__title">Rock'n'Block <span>Development</span> Services</h2>
	<h3 class="dev__desc">We have a wide range of Crowdsale Development Services. It includes,</h3>
	<div class="dev__cards">
		<div class="dev__cards_item">
			<DIV><img src="{{ 'assets/images/site/icons/icon-card-creation.svg'| theme }}" alt="creation icon" /></DIV>
			<h2>Creation</h2>
		</div>
		<div class="dev__cards_item">
			<DIV><img src="{{ 'assets/images/site/icons/icon-card-dashboard.svg'| theme }}" alt="dashboard icon" /></DIV>
			<h2>Dashboard</h2>
		</div>
		<div class="dev__cards_item">
			<DIV><img src="{{ 'assets/images/site/icons/icon-card-token.svg'| theme }}" alt="token development icon" /></DIV>
			<h2>Token development</h2>
		</div>
		<div class="dev__cards_item">
			<DIV><img src="{{ 'assets/images/site/icons/icon-card-logic.svg'| theme }}" alt="business logic icon" /></DIV>
			<h2>Business Logic Guidance</h2>
		</div>
		<div class="dev__cards_item">
			<DIV><img src="{{ 'assets/images/site/icons/icon-card-paper-consulting.svg'| theme }}" alt="White paper &amp; Light paper Consulting icon" /></DIV>
			<h2>White paper & Light paper Consulting</h2>
		</div>
		<div class="dev__cards_item">
			<DIV><img src="{{ 'assets/images/site/icons/icon-card-landing-design.svg'| theme }}" alt="business logic icon" /></DIV>
			<h2>Landing Page Designing</h2>
		</div>
		<div class="dev__cards_item">
			<DIV><img src="{{ 'assets/images/site/icons/icon-card-crypto-wallet.svg'| theme }}" alt="Crypto Wallet Development icon" /></DIV>
			<h2>Crypto Wallet Development</h2>
		</div>
		<div class="dev__cards_item">
			<DIV><img src="{{ 'assets/images/site/icons/icon-card-blockchain.svg'| theme }}" alt="Blockchain Integration and more icon" /></DIV>
			<h2>Blockchain Integration and more</h2>
		</div>
	</div>
	<div class="dev__mobile">
		<h2> Why Choose Rock'n'Block For Your <span>Crowdsale Development?</span></h2>
		<h3>Rock'n'Block is the perfect place for your Crowdsale Development, our
			team of developers is expertise in blockchain technology that enables
			us to provide optimized and stable Crowdsale Development solutions as
			per your requirements. We also have an expert who can work dedicatedly
			to provide you with consultation services on each step of your
			Crowdsale process.</h3>
	</div>
</section>