description = "Unique section"
==
<section class="unique">
	<h2 class="unique__title">What Stands us apart From Other <span>Crowdsale Solution </span>Providers?</h2>
	<h3 class="unique__desc">With Rock'n'Block it is easy to launch a Crowdsale from your innovative
ideas</h3>
	<div class="unique__cards">
		<DIV><img src="{{ 'assets/images/site/icons/icon-card-security.svg'| theme }}" alt="Utmost Security and Confidentiality icon" />
			<h2>Utmost Security and Confidentiality</h2>
			<h3>We completely understand the importance of your business and also offer security solutions.</h3></DIV>
		<DIV><img src="{{ 'assets/images/site/icons/icon-card-trading.svg'| theme }}" alt="Trading and liquidity strategies icon" />
			<h2>Trading and liquidity strategies</h2>
			<h3>Rock'n'Block maintaining the constant liquidity for your projects, and also offers custom exchanges, so the coins can be traded.</h3></DIV>
		<DIV><img src="{{ 'assets/images/site/icons/icon-card-coins.svg'| theme }}" alt="Protection Against Token loss icon" />
			<h2>Protection Against Token loss</h2>
			<h3>We are safeguarding your project from token loss aspects.</h3></DIV>
		<DIV><img src="{{ 'assets/images/site/icons/icon-card-currency.svg'| theme }}" alt="Multi-Currency Funding icon" />
			<h2>Multi-Currency Funding</h2>
			<h3>We also design wallets that support funding with multiple currencies and also ensure your transactions.</h3></DIV>
		<DIV><img src="{{ 'assets/images/site/icons/icon-card-verification.svg'| theme }}" alt="KYC Verification icon" />
			<h2>KYC Verification</h2>
			<h3>Rock'n'Block is careful in setting up user authorization strategies to avoid security conflicts.</h3></DIV>
	</div>
</section>