description = "FAQ section"
==
<section class="contentWrapper sectionFaq">
    <div class="contentInner">
        <div class="sectionFaq__inner">
            <section class="content">
                <h2 class="title title_theme_h1 title_align_center title_transform_uppercase">Faq</h2>
                <ul class="sectionFaq__questionsWrapper">
                    <li class="sectionFaq__question">
                        <article class="faq">
                            <h4 class="faq__title">How much capital do I need to get started?</h4>
                            <p class="faq__description">There are no minimum capital requirements to partake in any of these opportunities. With that being said, meaningful returns are largely earned with capital contributions starting from ~$1000 in value. You should also take into account the transaction (“gas”) costs of the strategy you wish to implement.</p>
                        </article>
                    </li>
                    <li class="sectionFaq__question">
                        <article class="faq">
                            <h4 class="faq__title">Are these passive income opportunities safe?</h4>
                            <p class="faq__description">All of these opportunities are using highly reputable DeFi products. All smart contracts have been audited which largely mitigates risk. However, with any DeFi product, there is always a very small chance of loss – meaning that no user should use more capital than they would be willing to use.</p>
                        </article>
                    </li>
                    <li class="sectionFaq__question sectionFaq__question_width_full">
                        <article class="faq">
                            <h4 class="faq__title">Are these all the passive income opportunities in DeFi?</h4>
                            <p class="faq__description">Absolutely not. We’ve chosen to cover a suite of tutorials which we find easy enough to grasp as a non-technical user with low barriers to entry. This list will be updated over time to include more income opportunities which you should know about.</p>
                        </article>
                    </li>
                </ul>
            </section>
        </div>
        <div class="ellipseContainer">
            <div class="ellipse"></div>
        </div>
    </div>
</section>