description = "Farming section"
==
<section class="contentWrapper sectionFarming">
	<div class="contentInner">
		<section class="content">
			<h1 class="title title_theme_h1 title_align_center title_transform_uppercase sectionFarming__title"><span class="text text_color_alizarinCrimson">Yield Farming</span><br/>Development Services</h1>
			<div class="sectionFarming__imageWrapper"><img class="sectionFarming__image" src="{{ 'assets/images/site/farming/img-farming.png'| theme }}" alt="Yield Farming Development Services" /></div>
		</section>
	</div>
</section>