description = "Role section"
==
<section class="contentWrapper sectionRole">
	<div class="contentInner">
		<section class="content">
			<h2 class="title title_theme_h2 title_align_center title_transform_uppercase sectionRole__title"> The Role of Liquidity<br/>provider in Yield Farming:</h2>
			<p class="paragraph paragraph_align_center sectionRole__description">Yield Farming is not achievable without the liquidity providers who stake their deposit in
				<br/>liquidity pools. The pools act as a smart contract where a buyer and seller agreement is
				<br/>coded and made available in the decentralized blockchain platform!. Some of the leading
				<br/>mining platforms are</p>
			<ul class="sectionRole__platformsWrapper">
				<li class="sectionRole__platform">
					<article class="card">
						<figure class="card__logotypeWrapper"><img class="card__logotype" src="{{ 'assets/images/site/farming/icon-compound.png'| theme }}" alt="Compound" /></figure><img class="card__logotypeName" src="{{ 'assets/images/site/farming/logo-compound.png'| theme }}" alt="Compound" /></article>
				</li>
				<li class="sectionRole__platform">
					<article class="card">
						<figure class="card__logotypeWrapper"><img class="card__logotype" src="{{ 'assets/images/site/farming/icon-yearn.png'| theme }}" alt="Yearn" /></figure><img class="card__logotypeName" src="{{ 'assets/images/site/farming/logo-yearn.png'| theme }}" alt="Yearn" /></article>
				</li>
				<li class="sectionRole__platform">
					<article class="card">
						<figure class="card__logotypeWrapper"><img class="card__logotype" src="{{ 'assets/images/site/farming/icon-dao.png'| theme }}" alt="Dao Maker" /></figure><img class="card__logotypeName" src="{{ 'assets/images/site/farming/logo-dao.png'| theme }}" alt="Dao Maker" /></article>
				</li>
				<li class="sectionRole__platform">
					<article class="card">
						<figure class="card__logotypeWrapper"><img class="card__logotype" src="{{ 'assets/images/site/farming/icon-uniswap.png'| theme }}" alt="Uniswap" /></figure><img class="card__logotypeName" src="{{ 'assets/images/site/farming/logo-uniswap.png'| theme }}" alt="Uniswap" /></article>
				</li>
			</ul>
			<div class="sectionRole__more">
				<div class="sectionRole__moreText">and more</div>
			</div>
		</section>
	</div>
</section>