description = "Section areas of expertise"
==
<div class="areas-of-expertise container" id="services">
	<div class="background-img">
		<picture>
			<source type="image/webp" srcset="{{ 'assets/images/site/background/areas.webp'| theme }}" />
			<img loading="lazy" src="{{ 'assets/images/site/background/areas.png'| theme }}" alt="areas" />
		</picture>
	</div>
	<div class="block-header">
		<h2 class="primary-header">전문 분야</h2> </div>
	<div class="areas-of-expertise__cards">
		<div class="areas-of-expertise__cards__scroll">
			<div class="areas-of-expertise__card">
				<div class="icon-container">
					<img class="icon" src="{{ 'assets/images/site/icons/icon-area-blockchain-mask.svg'| theme }}" alt="blockchain" />
				</div>
				<h3 class="areas-of-expertise__card-name">블록체인</h3>
				<p class="areas-of-expertise__card-description">
					주문형 토큰(Custom token)부터 턴키 방식의 탈중앙화 분산형 암호화폐 거래소에 이르기까지 모든 토큰의 복잡성이 요구되는 스마트 컨트랙트(Smart Contract)구현 가능.
				</p>
			</div>
			<div class="areas-of-expertise__card">
				<div class="icon-container">
					<img class="icon" src="{{ 'assets/images/site/icons/icon-area-bridge-mask.svg'| theme }}" alt="bridge" />
				</div>
				<h3 class="areas-of-expertise__card-name">레이어2(LAYER TWO)</h3>
				<p class="areas-of-expertise__card-description">
					다중 블록체인 브릿지(Bridges)부터 레이어2및 고객 맞춤형 솔루션 개발
				</p>
			</div>
			<div class="areas-of-expertise__card">
				<div class="icon-container">
					<img class="icon" src="{{ 'assets/images/site/icons/icon-area-mobile-mask.svg'| theme }}" alt="mobile" />
				</div>
				<h3 class="areas-of-expertise__card-name">모바일 웹(MOBILE AND WEB)</h3>
				<p class="areas-of-expertise__card-description">
					Android/iOS 어플리케이션, 프로젝트 관리 인터페이스, 투자자 캐비닛(Investors cabinets), 최고의 UX/UI 서비스 제공 등.
				</p>
			</div>
			<div class="areas-of-expertise__card">
				<div class="icon-container">
					<img class="icon" src="{{ 'assets/images/site/icons/icon-area-wallet-mask.svg'| theme }}" alt="wallet" />
				</div>
				<h3 class="areas-of-expertise__card-name">지갑(WALLET)</h3>
				<p class="areas-of-expertise__card-description">
					생성 시스템, 개인키 저장, 안정적인(기타 유형) 코인 개발지원 및 암호화/화폐 획득 기능이 있는 높은 보안 수준의 브라우저 및 모바일 암호화 지갑.
				</p>
			</div>
			<div class="areas-of-expertise__card">
				<div class="icon-container">
					<img class="icon" src="{{ 'assets/images/site/icons/icon-area-audit-mask.svg'| theme }}" alt="audit" />
				</div>
				<h3 class="areas-of-expertise__card-name">보안감사(AUDIT)</h3>
				<p class="areas-of-expertise__card-description">
					고객이 요구하는 시스템 구조 및 코드베이스를 철저히 검토하여 실제로 구현.
				</p>
			</div>
			<div class="areas-of-expertise__card">
				<div class="icon-container">
					<img class="icon" src="{{ 'assets/images/site/icons/icon-area-documentation-mask.svg'| theme }}" alt="documentaton" /> 
				</div>
				<h3 class="areas-of-expertise__card-name">문서(DOCUMENTATION)</h3>
				<p class="areas-of-expertise__card-description">
					프로젝트 아키텍처 개발. 기술 사양 및 아이디어의 분할. 백서, 라이트 페이퍼.
				</p>
			</div>
		</div>
	</div>
</div>