description = "Section clients feedback"
==
<div class="clients-feedback container">
	<h2 class="clients-feedback__title">Rock'n'Block의 고객 후기</h2>
	<div class="swiper swiper-feedback">
		<div class="swiper-wrapper">
			<div class="swiper-slide clients-feedback__cards">
				<a class="clients-feedback__cards_item" rel="noreferrer nofollow" target="_blank" href="https://twitter.com/DucatusX/status/1448162748370620423">
					<div class="clients-feedback__cards_item_images">
						<img loading="lazy" src="{{ 'assets/images/site/logo/icon-client-feedback-ducatusx.svg'| theme }}" alt="client feedback" />
						<img loading="lazy" src="{{ 'assets/images/site/social/icon-twitter.svg'| theme }}" alt="twitter" />
					</div>
					<div class="clients-feedback__cards_item_desc">
						<h2>DucatusX</h2>
						<h3>블록체인 및 스마트 컨트랙트의 개발의뢰시 전문가가 신뢰하는 업체를 선정하는 것이 중요하다고 저희는 생각합니다. Ducatus 지갑 및 DucatusX 블록체인 개발자 Rock'N'Block은 전세계 전문가들이 인정하는 기업 입니다. #blockchain #rocknblock #ducatus #technology </h3>
					</div>
				</a>
			</div>
			<div class="swiper-slide clients-feedback__cards">
				<a class="clients-feedback__cards_item" rel="noreferrer nofollow" target="_blank" href="https://twitter.com/KephiGallery/status/1428363220645933061">
					<div class="clients-feedback__cards_item_images">
						<img loading="lazy" src="{{ 'assets/images/site/logo/icon-client-feedback-kephi.svg'| theme }}" alt="client kephi" />
						<img loading="lazy" src="{{ 'assets/images/site/social/icon-twitter.svg'| theme }}" alt="twitter" />
					</div>
					<div class="clients-feedback__cards_item_desc">
						<h2>Kephi</h2>
						<h3>@binance @0xPolygon @Tronfoundation @Changelly_team와 같은 큰 프로젝트와 파트너 관계로 있는 블록체인 개발회사 @RocknBlockDev 덕분에 멋진 NFT마켓플레이스를 만들었네요! 감사합니다! </h3>
					</div>
				</a>
			</div>
			<div class="swiper-slide clients-feedback__cards">
				<a class="clients-feedback__cards_item" rel="noreferrer nofollow" target="_blank" href="https://twitter.com/mywishplatform/status/1441070124274884617">
					<div class="clients-feedback__cards_item_images">
						<img loading="lazy" src="{{ 'assets/images/site/logo/icon-client-feedback-mywish.svg'| theme }}" alt="client mywish" />
						<img loading="lazy" src="{{ 'assets/images/site/social/icon-twitter.svg'| theme }}" alt="twitter" />
					</div>
					<div class="clients-feedback__cards_item_desc">
						<h2>MyWish</h2>
						<h3>블록체인 프로젝트 아이디어를 실현하세요! @RocknBlockDev 기업은 맞춤형 토큰 생성에서 NFT 마켓플레이스 등 복잡하고 다양한 블록체인 개발을 해주네요. 💪 프로젝트에 대한 솔루션을 얻으려면 https://rocknblock.co.kr를 방문하시는걸 추천합니다!! </h3>
					</div>
				</a>
			</div>
			<div class="swiper-slide clients-feedback__cards">
				<a class="clients-feedback__cards_item" rel="noreferrer nofollow" target="_blank" href="https://twitter.com/SHNDcoin/status/1447757903977455621">
					<div class="clients-feedback__cards_item_images">
						<img loading="lazy" src="{{ 'assets/images/site/logo/icon-client-feedback-stronghands.svg'| theme }}" alt="client stronghands" />
						<img loading="lazy" src="{{ 'assets/images/site/social/icon-twitter.svg'| theme }}" alt="twitter" />
					</div>
					<div class="clients-feedback__cards_item_desc">
						<h2>StrongHands</h2>
						<h3>#iSHND 프로젝트가 오픈 전부터 이미 감사를 받은걸 알고 계셨나요? 감사 리포트를 잘 만들어준 @RocknBlockDev에게 진심으로 감사합니다. </h3>
					</div>
				</a>
			</div>
		</div>
		<div class="swiper-button-next"></div>
		<div class="swiper-button-prev"></div>
	</div>
</div>