description = "Section clients feedback"
==
<div class="clients-feedback container">
	<h2 class="clients-feedback__title">Rock'n'Block의 고객 후기</h2>
	<div class="swiper swiper-feedback">
		<div class="swiper-wrapper">
			<div class="swiper-slide clients-feedback__cards">
				<a class="clients-feedback__cards_item" rel="noreferrer nofollow" target="_blank" href="https://twitter.com/DucatusX/status/1448162748370620423">
					<div class="clients-feedback__cards_item_images">
						<img loading="lazy" src="{{ 'assets/images/site/logo/icon-client-feedback-ducatusx.svg'| theme }}" alt="client feedback" />
						<img loading="lazy" src="{{ 'assets/images/site/social/icon-twitter.svg'| theme }}" alt="twitter" />
					</div>
					<div class="clients-feedback__cards_item_desc">
						<h2>DucatusX</h2>
						<h3>블록체인 및 스마트 계약의 개발과 관련하여 우리는 전문가가 신뢰하는 사람만을 신뢰합니다. 전세계 업계 전문가들이 인정하는 Ducatus 지갑 및 DucatusX 블록체인 개발자 Rock'N'Block. #blockchain #rocknblock #ducatus #technology </h3>
					</div>
				</a>
			</div>
			<div class="swiper-slide clients-feedback__cards">
				<a class="clients-feedback__cards_item" rel="noreferrer nofollow" target="_blank" href="https://twitter.com/KephiGallery/status/1428363220645933061">
					<div class="clients-feedback__cards_item_images">
						<img loading="lazy" src="{{ 'assets/images/site/logo/icon-client-feedback-kephi.svg'| theme }}" alt="client kephi" />
						<img loading="lazy" src="{{ 'assets/images/site/social/icon-twitter.svg'| theme }}" alt="twitter" />
					</div>
					<div class="clients-feedback__cards_item_desc">
						<h2>Kephi</h2>
						<h3>차세대 #NFT마켓플레이스가 된다는 목표로 우리는 @binance @0xPolygon @Tronfoundation @Changelly_team과 같은 플레이어와 파트너 관계로 성장한 블록체인 거물 @RocknBlock2와 파트너입니다. </h3>
					</div>
				</a>
			</div>
			<div class="swiper-slide clients-feedback__cards">
				<a class="clients-feedback__cards_item" rel="noreferrer nofollow" target="_blank" href="https://twitter.com/mywishplatform/status/1441070124274884617">
					<div class="clients-feedback__cards_item_images">
						<img loading="lazy" src="{{ 'assets/images/site/logo/icon-client-feedback-mywish.svg'| theme }}" alt="client mywish" />
						<img loading="lazy" src="{{ 'assets/images/site/social/icon-twitter.svg'| theme }}" alt="twitter" />
					</div>
					<div class="clients-feedback__cards_item_desc">
						<h2>MyWish</h2>
						<h3>블록체인 프로젝트 아이디어를 실현하세요! @RocknBlock2의 친구들은 맞춤형 토큰 생성에서 NFT 마켓플레이스 등에 이르기까지 모든 복잡성의 블록체인 개발 전문가 입니다. 💪 https://rocknblock.co.kr로 방문해서 당신의 프로젝트에 딱 맞는 솔루션을 받아보세요. </h3>
					</div>
				</a>
			</div>
			<div class="swiper-slide clients-feedback__cards">
				<a class="clients-feedback__cards_item" rel="noreferrer nofollow" target="_blank" href="https://twitter.com/SHNDcoin/status/1447757903977455621">
					<div class="clients-feedback__cards_item_images">
						<img loading="lazy" src="{{ 'assets/images/site/logo/icon-client-feedback-stronghands.svg'| theme }}" alt="client stronghands" />
						<img loading="lazy" src="{{ 'assets/images/site/social/icon-twitter.svg'| theme }}" alt="twitter" />
					</div>
					<div class="clients-feedback__cards_item_desc">
						<h2>StrongHands</h2>
						<h3>#iSHND가 이미 증명되었다는 사실을 눈치채셨나요?@RocknBlockDev 보고서를 보고 우리가 어떻게 시작하는지 확인하세요! https://github.com/stronghands-of… </h3>
					</div>
				</a>
			</div>
		</div>
		<div class="swiper-button-next"></div>
		<div class="swiper-button-prev"></div>
	</div>
</div>