description = "Section links slider v1"
==
<div class="sliderWrapper slider-v1">
	<div class="swiper swiper-slider">
		<div class="swiper-wrapper">
			<div class="swiper-slide slide">
				<article class="site">
					<figure class="site__imageWrapper">
						<picture class="site__image">
							<source type="image/webp" srcset="{{ 'assets/images/site/farming/icon-site1.webp'| theme }}" />
							<img loading="lazy" src="{{ 'assets/images/site/farming/icon-site1.png'| theme }}" alt="NFT Marketplace" />
						</picture>
					</figure>
					<h4 class="site__title">NFT 마켓플레이스</h4>
					<a class="site__link" href="/marketplace">NFT 마켓플레이스 <i class="site__linkIcon">
							<img loading="lazy" src="{{ 'assets/images/site/icons/icon-arrow-right-mask.svg'| theme }}" alt="arrow right" />
						</i>
					</a>
				</article>
			</div>
			<div class="swiper-slide slide">
				<article class="site">
					<figure class="site__imageWrapper">
						<picture class="site__image">
							<source type="image/webp" srcset="{{ 'assets/images/site/farming/icon-site2.webp'| theme }}" />
							<img loading="lazy" src="{{ 'assets/images/site/farming/icon-site2.png'| theme }}" alt="Farming" />
						</picture>
					</figure>
					<h4 class="site__title">파밍</h4>
					<a class="site__link" href="/farming">파밍 <i class="site__linkIcon">
							<img loading="lazy" src="{{ 'assets/images/site/icons/icon-arrow-right-mask.svg'| theme }}" alt="arrow right" />
						</i>
					</a>
				</article>
			</div>
			<div class="swiper-slide slide">
				<article class="site">
					<figure class="site__imageWrapper">
						<picture class="site__image">
							<source type="image/webp" srcset="{{ 'assets/images/site/farming/icon-site3.webp'| theme }}" />
							<img loading="lazy" src="{{ 'assets/images/site/farming/icon-site3.png'| theme }}" alt="10k nft generator" />
						</picture>
					</figure>
					<h4 class="site__title">10k NFT 생성기</h4>
					<a class="site__link" href="/10knft">10k NFT 생성기 <i class="site__linkIcon">
							<img loading="lazy" src="{{ 'assets/images/site/icons/icon-arrow-right-mask.svg'| theme }}" alt="arrow right" />
						</i>
					</a>
				</article>
			</div>
			<div class="swiper-slide slide">
				<article class="site">
					<figure class="site__imageWrapper">
						<picture class="site__image">
							<source type="image/webp" srcset="{{ 'assets/images/site/farming/icon-site4.webp'| theme }}" />
							<img loading="lazy" src="{{ 'assets/images/site/farming/icon-site4.png'| theme }}" alt="Crowdsale" />
						</picture>
					</figure>
					<h4 class="site__title">크라우드세일</h4>
					<a class="site__link" href="/crowdsale">크라우드세일 <i class="site__linkIcon">
							<img loading="lazy" src="{{ 'assets/images/site/icons/icon-arrow-right-mask.svg'| theme }}" alt="arrow right" />
						</i>
					</a>
				</article>
			</div>
			<div class="swiper-slide slide">
				<article class="site">
					<figure class="site__imageWrapper">
						<picture class="site__image">
							<source type="image/webp" srcset="{{ 'assets/images/site/farming/icon-site5.webp'| theme }}" />
							<img loading="lazy" src="{{ 'assets/images/site/farming/icon-site5.png'| theme }}" alt="Vesting" />
						</picture>
					</figure>
					<h4 class="site__title">베스팅</h4>
					<a class="site__link" href="/vesting">베스팅 <i class="site__linkIcon">
							<img loading="lazy" src="{{ 'assets/images/site/icons/icon-arrow-right-mask.svg'| theme }}" alt="arrow right" />
						</i>
					</a>
				</article>
			</div>
			<div class="swiper-slide slide">
				<article class="site">
					<figure class="site__imageWrapper">
						<picture class="site__image">
							<source type="image/webp" srcset="{{ 'assets/images/site/farming/icon-site6.webp'| theme }}" />
							<img loading="lazy" src="{{ 'assets/images/site/farming/icon-site6.png'| theme }}" alt="Staking" />
						</picture>
					</figure>
					<h4 class="site__title">스테이킹</h4>
					<a class="site__link" href="/staking">스테이킹 <i class="site__linkIcon">
							<img loading="lazy" src="{{ 'assets/images/site/icons/icon-arrow-right-mask.svg'| theme }}" alt="arrow right" />
						</i>
					</a>
				</article>
			</div>
			<div class="swiper-slide slide">
				<article class="site">
					<figure class="site__imageWrapper">
						<picture class="site__image">
							<source type="image/webp" srcset="{{ 'assets/images/site/farming/icon-site7.webp'| theme }}" />
							<img loading="lazy" src="{{ 'assets/images/site/farming/icon-site7.png'| theme }}" alt="Bridge" />
						</picture>
					</figure>
					<h4 class="site__title">브릿지</h4>
					<a class="site__link" href="/bridge">브릿지 <i class="site__linkIcon">
							<img loading="lazy" src="{{ 'assets/images/site/icons/icon-arrow-right-mask.svg'| theme }}" alt="arrow right" />
						</i>
					</a>
				</article>
			</div>
		</div>
	</div>
</div>