description = "Section partners"
==
<div class="our-partners container" id="partners">
	<div class="block-header">
		<h2 class="primary-header">파트너</h2>
		<ul class="our-partners__partners">
			<li class="our-partners__partner">
				<div class="img-container">
					<picture>
						<source type="image/webp" srcset="{{ 'assets/images/site/logo/logo-partners-binance.webp'| theme }}" />
						<img loading="lazy" src="{{ 'assets/images/site/logo/logo-partners-binance.png'| theme }}" alt="binance" />
					</picture>
				</div>
			</li>
			<li class="our-partners__partner">
				<div class="img-container">
					<picture>
						<source type="image/webp" srcset="{{ 'assets/images/site/logo/logo-partners-quras.webp'| theme }}" />
						<img loading="lazy" src="{{ 'assets/images/site/logo/logo-partners-quras.png'| theme }}" alt="quras" />
					</picture>
				</div>
			</li>
			<li class="our-partners__partner">
				<div class="img-container">
					<picture>
						<source type="image/webp" srcset="{{ 'assets/images/site/logo/logo-partners-changelly.webp'| theme }}" />
						<img loading="lazy" src="{{ 'assets/images/site/logo/logo-partners-changelly.png'| theme }}" alt="changelly" />
					</picture>
				</div>
			</li>
			<li class="our-partners__partner">
				<div class="img-container">
					<picture>
						<source type="image/webp" srcset="{{ 'assets/images/site/logo/logo-partners-polygon.webp'| theme }}" />
						<img loading="lazy" src="{{ 'assets/images/site/logo/logo-partners-polygon.png'| theme }}" alt="polygon" />
					</picture>
				</div>
			</li>
			<li class="our-partners__partner">
				<div class="img-container">
					<picture>
						<source type="image/webp" srcset="{{ 'assets/images/site/logo/logo-partners-axion.webp'| theme }}" />
						<img loading="lazy" src="{{ 'assets/images/site/logo/logo-partners-axion.png'| theme }}" alt="axion" />
					</picture>
				</div>
			</li>
			<li class="our-partners__partner">
				<div class="img-container">
					<picture>
						<source type="image/webp" srcset="{{ 'assets/images/site/logo/logo-partners-okex.webp'| theme }}" />
						<img loading="lazy" src="{{ 'assets/images/site/logo/logo-partners-okex.png'| theme }}" alt="okex" />
					</picture>
				</div>
			</li>
			<li class="our-partners__partner">
				<div class="img-container">
					<picture>
						<source type="image/webp" srcset="{{ 'assets/images/site/logo/logo-partners-neo.webp'| theme }}" />
						<img loading="lazy" src="{{ 'assets/images/site/logo/logo-partners-neo.png'| theme }}" alt="neo" />
					</picture>
				</div>
			</li>
			<li class="our-partners__partner">
				<div class="img-container">
					<picture>
						<source type="image/webp" srcset="{{ 'assets/images/site/logo/logo-partners-waves.webp'| theme }}" />
						<img loading="lazy" src="{{ 'assets/images/site/logo/logo-partners-waves.png'| theme }}" alt="waves" />
					</picture>
				</div>
			</li>
			<li class="our-partners__partner">
				<div class="img-container">
					<picture>
						<source type="image/webp" srcset="{{ 'assets/images/site/logo/logo-partners-ducatus.webp'| theme }}" />
						<img loading="lazy" src="{{ 'assets/images/site/logo/logo-partners-ducatus.png'| theme }}" alt="ducatus" />
					</picture>
				</div>
			</li>
			<li class="our-partners__partner">
				<div class="img-container">
					<picture>
						<source type="image/webp" srcset="{{ 'assets/images/site/logo/logo-partners-enq.webp'| theme }}" />
						<img loading="lazy" src="{{ 'assets/images/site/logo/logo-partners-enq.png'| theme }}" alt="enq" />
					</picture>
				</div>
			</li>
			<li class="our-partners__partner">
				<div class="img-container">
					<picture>
						<source type="image/webp" srcset="{{ 'assets/images/site/logo/logo-partners-tron.webp'| theme }}" />
						<img loading="lazy" src="{{ 'assets/images/site/logo/logo-partners-tron.png'| theme }}" alt="tron" />
					</picture>
				</div>
			</li>
			<li class="our-partners__partner">
				<div class="img-container">
					<picture>
						<source type="image/webp" srcset="{{ 'assets/images/site/logo/logo-partners-bw.webp'| theme }}" />
						<img loading="lazy" src="{{ 'assets/images/site/logo/logo-partners-bw.png'| theme }}" alt="bw" />
					</picture>
				</div>
			</li>
			<li class="our-partners__partner">
				<div class="img-container">
					<picture>
						<source type="image/png" srcset="{{ 'assets/images/site/logo/logo-partners-microtuber.png'| theme }}" />
						<img loading="lazy" src="{{ 'assets/images/site/logo/logo-partners-microtuber.png'| theme }}" alt="microtuber" style="max-width:160px" />
					</picture>
				</div>
			</li>
		</ul>
		<div class="achievements">
			<a class="achieve" href="https://techreviewer.co/companies/rock-n-block" rel="noreferrer nofollow" target="_blank">
				<picture>
					<source type="image/webp" srcset="{{ 'assets/images/site/achievements/achieve-1.webp'| theme }}" />
					<img loading="lazy" src="{{ 'assets/images/site/achievements/achieve-1.png'| theme }}" alt="techreviewer rock-n-block" />
				</picture>
			</a>
			<a class="achieve" href="https://topappdevelopmentcompanies.com/ru/directory/blockchain-developers/russia" rel="noreferrer nofollow" target="_blank">
				<picture>
					<source type="image/webp" srcset="{{ 'assets/images/site/achievements/achieve-2.webp'| theme }}" />
					<img loading="lazy" src="{{ 'assets/images/site/achievements/achieve-2.png'| theme }}" alt="topappdevelopmentcompanies blockchain developers russia" />
				</picture>
			</a>
			<a class="achieve" href="https://entethalliance.org/eea-members/" rel="noreferrer nofollow" target="_blank">
				<picture>
					<source type="image/webp" srcset="{{ 'assets/images/site/achievements/achieve-5.webp'| theme }}" />
					<img loading="lazy" src="{{ 'assets/images/site/achievements/achieve-5.webp'| theme }}" alt="topappdevelopmentcompanies blockchain developers russia" />
				</picture>
			</a>
			<a class="achieve" href="https://www.itfirms.co/top-blockchain-development-companies/" rel="noreferrer nofollow" target="_blank">
				<picture>
					<source type="image/webp" srcset="{{ 'assets/images/site/achievements/achieve-3.webp'| theme }}" />
					<img loading="lazy" src="{{ 'assets/images/site/achievements/achieve-3.png'| theme }}" alt="itfirms top blockchain development companies" />
				</picture>
			</a>
			<a class="achieve" href="https://www.designrush.com/agency/blockchain-development-companies" rel="noreferrer nofollow" target="_blank">
				<picture>
					<source type="image/webp" srcset="{{ 'assets/images/site/achievements/achieve-4.webp'| theme }}" />
					<img loading="lazy" src="{{ 'assets/images/site/achievements/achieve-4.png'| theme }}" alt="designrush blockchain development companies" />
				</picture>
			</a>
		</div>
	</div>
</div>