description = "Section team"
==
<div class="team container" id="team">
	<div class="background-img">
		<picture>
			<source type="image/webp" srcset="{{ 'assets/images/site/background/team.webp'| theme }}" />
			<img loading="lazy" src="{{ 'assets/images/site/background/team.png'| theme }}" alt="background-img" />
		</picture>
	</div>
	<div class="block-header">
		<h2 class="primary-header">팀</h2>
		<h3 class="secondary-header">최고의 전문가들로 구성된 Rock'n'Block팀:</h3>
	</div>
	<div class="tabs">
		<input id="tab-btn-1" type="radio" name="tab-btn" checked="checked" />
		<label class="tabs-label" for="tab-btn-1">개발자</label>
		<input id="tab-btn-2" type="radio" name="tab-btn" />
		<label class="tabs-label" for="tab-btn-2">해외 책임자</label>
		<div class="scroll">
			<div class="team__development-tab team__content content">
				<div class="tab-content content-1 content-tab">
					<div class="content__card">
						<picture>
							<source type="image/webp" srcset="{{ 'assets/images/site/team/team-dev-1-min.webp'| theme }}" />
							<img loading="lazy" src="{{ 'assets/images/site/team/team-dev-1-min.png'| theme }}" alt="Maksim Strenk" />
						</picture>
						<h3 class="content__card__post">백엔드 팀 리더</h3>
						<h4 class="content__card__name">막심 스트렝크(Maksim Strenk)</h4>
						<div class="content__card__exp">
							<DIV>
								<h5 class="content__card__exp__title">경력:</h5>
								<ul class="content__card__exp__list">
									<li class="content__card__exp__list__item">개발자 경력6년, 블록체인 분야 개발 4 년</li>
									<li class="content__card__exp__list__item">MyWish백엔드 개발자 4년근무</li>
									<li class="content__card__exp__list__item">비트코인 네트워크용 UTREEXO 및 HTLC 구현</li>
									<li class="content__card__exp__list__item">Ducatus Exchange 개발</li>
									<li class="content__card__exp__list__item">Ethereum 및 Bitcoin 전체 노드 배포 및 동기화 작업 참여</li>
								</ul>
							</DIV>
							<div class="content__card__exp__stacks stacks">
								<h5 class="stacks__title">Stack:</h5>
								<ul class="gray-list">
									<li class="stacks__item gray-list__item">Python</li>
									<li class="stacks__item gray-list__item">Solidity</li>
									<li class="stacks__item gray-list__item">JavaScript</li>
									<li class="stacks__item gray-list__item">C</li>
									<li class="stacks__item gray-list__item">OpenZeppelin</li>
									<li class="stacks__item gray-list__item">GSN</li>
									<li class="stacks__item gray-list__item">NPM</li>
									<li class="stacks__item gray-list__item">Docker Hub</li>
									<li class="stacks__item gray-list__item">Gunicorn</li>
									<li class="stacks__item gray-list__item">Supervisord</li>
									<li class="stacks__item gray-list__item">PyPi</li>
									<li class="stacks__item gray-list__item">USWSGI</li>
									<li class="stacks__item gray-list__item">PostgreSQL</li>
									<li class="stacks__item gray-list__item">MongoDB</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="content__card">
						<picture>
							<source type="image/webp" srcset="{{ 'assets/images/site/team/team-dev-2-min.webp'| theme }}" />
							<img loading="lazy" src="{{ 'assets/images/site/team/team-dev-2-min.png'| theme }}" alt="Rita Tsepeleva" />
						</picture>
						<h3 class="content__card__post">블록체인 팀 리더</h3>
						<h4 class="content__card__name">리타 레첼레바(Rita Tsepeleva)</h4>
						<div class="content__card__exp">
							<DIV>
								<h5 class="content__card__exp__title">경력:</h5>
								<ul class="content__card__exp__list">
									<li class="content__card__exp__list__item">스테이블 코인의 스마트 컨트랙트 개발</li>
									<li class="content__card__exp__list__item">ZK Proof 바탕으로 한 웹 프록시 개발</li>
									<li class="content__card__exp__list__item">OTC exchange 개발</li>
									<li class="content__card__exp__list__item">Yield-farming 및 스테이킹 컨트랙트 개발</li>
								</ul>
							</DIV>
							<div class="content__card__exp__stacks stacks">
								<h5 class="stacks__title">Stack:</h5>
								<ul class="gray-list">
									<li class="stacks__item gray-list__item">Solidity</li>
									<li class="stacks__item gray-list__item">OpenZeppelin</li>
									<li class="stacks__item gray-list__item">Truffle</li>
									<li class="stacks__item gray-list__item">npm</li>
									<li class="stacks__item gray-list__item">C++</li>
									<li class="stacks__item gray-list__item">web3</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="content__card">
						<picture>
							<source type="image/webp" srcset="{{ 'assets/images/site/team/team-dev-3-min.webp'| theme }}" />
							<img loading="lazy" src="{{ 'assets/images/site/team/team-dev-3-min.png'| theme }}" alt="Nikita Sireishikov" />
						</picture>
						<h3 class="content__card__post">프론트엔드 팀 리더</h3>
						<h4 class="content__card__name">니키타 시레이시코프(Nikita Sireishikov)</h4>
						<div class="content__card__exp">
							<DIV>
								<h5 class="content__card__exp__title">경력:</h5>
								<ul class="content__card__exp__list">
									<li class="content__card__exp__list__item">node.js에서 비트코인 및 이더리움 네트워크용 거래 수동 컴파일 개발</li>
									<li class="content__card__exp__list__item">node.js용 블록체인과 상호작용 목적 노드 개발</li>
									<li class="content__card__exp__list__item">Angular에서 웹 지갑 개발</li>
									<li class="content__card__exp__list__item">백엔드를 통해 스마트 컨트랙트 호환용 프론트엔드 개발</li>
								</ul>
							</DIV>
							<div class="content__card__exp__stacks stacks">
								<h5 class="stacks__title">Stack:</h5>
								<ul class="gray-list">
									<li class="stacks__item gray-list__item">Express</li>
									<li class="stacks__item gray-list__item">Apollo</li>
									<li class="stacks__item gray-list__item">TypeScript</li>
									<li class="stacks__item gray-list__item">GraphQL</li>
									<li class="stacks__item gray-list__item">Angular</li>
									<li class="stacks__item gray-list__item">Vue</li>
									<li class="stacks__item gray-list__item">JS</li>
									<li class="stacks__item gray-list__item">MobX</li>
									<li class="stacks__item gray-list__item">NodeJS</li>
									<li class="stacks__item gray-list__item">Vuex</li>
									<li class="stacks__item gray-list__item">iOS Developing (Swiftui)</li>
									<li class="stacks__item gray-list__item">web3</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-content content-2 content-tab">
					<div class="content__card content__card__mng">
						<picture>
							<source type="image/webp" srcset="{{ 'assets/images/site/team/team-mng-1-min.webp'| theme }}" />
							<img loading="lazy" src="{{ 'assets/images/site/team/team-mng-1-min.png'| theme }}" alt="image of manager" />
						</picture>
						<div class="description">
							<div class="description__name">드미트리 얼쇼브(Dmitry Ershov)</div>
							<div class="description__post">CEO</div>
						</div>
					</div>
					<div class="content__card content__card__mng">
						<picture>
							<source type="image/webp" srcset="{{ 'assets/images/site/team/team-mng-2-min.webp'| theme }}" />
							<img loading="lazy" src="{{ 'assets/images/site/team/team-mng-2-min.png'| theme }}" alt="image of manager" />
						</picture>
						<div class="description">
							<div class="description__name">알렉스 트카체브(Alex Tkachev)</div>
							<div class="description__post">CBDO</div>
						</div>
					</div>
					<div class="content__card content__card__mng">
						<picture>
							<source type="image/webp" srcset="{{ 'assets/images/site/team/team-mng-3-min.webp'| theme }}" />
							<img loading="lazy" src="{{ 'assets/images/site/team/team-mng-3-min.png'| theme }}" alt="image of manager" />
						</picture>
						<div class="description">
							<div class="description__name">올랴 쿨라코바(Olya Kulakova)</div>
							<div class="description__post">CMO</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<ul class="team__overview">
		<li class="team__overview__item">
			<div class="team__overview__item__number">23</div>
			<div class="team__overview__item__primary-text text">백엔드 개발자</div>
		</li>
		<li class="team__overview__item">
			<div class="team__overview__item__number">27</div>
			<div class="team__overview__item__primary-text text">프론트엔드 개발자</div>
		</li>
		<li class="team__overview__item">
			<div class="team__overview__item__number">19</div>
			<div class="team__overview__item__primary-text text">스마트 컨트랙트 개발자</div>
		</li>
		<li class="team__overview__item">
			<div class="team__overview__item__number">13</div>
			<div class="team__overview__item__primary-text text">프로젝트 매니저</div>
		</li>
		<li class="team__overview__item">
			<div class="team__overview__item__number">5</div>
			<div class="team__overview__item__primary-text text">디자이너</div>
		</li>
		<li class="team__overview__item">
			<div class="team__overview__item__number">3</div>
			<div class="team__overview__item__primary-text text">품질 분석가</div>
		</li>
	</ul>
</div>