description = "Section What we do Best"
==
<div class="what-we-do-best container">
  <div class="block-header">
    <h2 class="primary-header">전문 분야</h2>
    <h3 class="secondary-header">Rock'n'Block은 아이디어 개발 단계에서 최종 구현에 이르기까지 복잡한 블록체인 프로젝트를 수행할 준비가 되어 있습니다. 자사 고객들이 많이 선호하시는 서비스는 다음과 같습니다:</h3>
  </div>
  <div class="scroll">
    <div class="what-we-do-best__cards">
      <a href="/blog" target="_blank" class="what-we-do-best__card">
        <picture class="icon">
          <source type="image/webp" srcset="{{ 'assets/images/site/icons/icon-do-best-smart-contracts.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/icons/icon-do-best-smart-contracts.png'| theme }}" alt="crypto icons" />
        </picture>
        <p class="what-we-do-best__description">다양한 블록체인의 스마트 컨트랙트</p>
      </a>
      <div class="what-we-do-best__card">
        <picture class="icon">
          <source type="image/webp" srcset="{{ 'assets/images/site/icons/icon-do-best-bank.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/icons/icon-do-best-bank.png'| theme }}" alt="bank icon" />
        </picture>
        <p class="what-we-do-best__description">NFT비롯한 고객 맞춤형 토큰 제작</p>
      </div>
      <div class="what-we-do-best__card">
        <picture class="icon">
          <source type="image/webp" srcset="{{ 'assets/images/site/icons/icon-do-best-swap.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/icons/icon-do-best-swap.png'| theme }}" alt="swap icon" />
        </picture>
        <p class="what-we-do-best__description">토큰 스왑(Token SWAP)</p>
      </div>
      <div class="what-we-do-best__card">
        <picture class="icon">
          <source type="image/webp" srcset="{{ 'assets/images/site/icons/icon-do-best-rock.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/icons/icon-do-best-rock.png'| theme }}" alt="rock sign icon" />
        </picture>
        <p class="what-we-do-best__description">코인 에어 드랍(Airdrop)</p>
      </div>
      <div class="what-we-do-best__card">
        <picture class="icon">
          <source type="image/webp" srcset="{{ 'assets/images/site/icons/icon-do-best-bridges.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/icons/icon-do-best-bridges.png'| theme }}" alt="Bridges icon" />
        </picture>
        <p class="what-we-do-best__description">브릿지(Bridge) 개발</p>
      </div>
      <div class="what-we-do-best__card">
        <picture class="icon">
          <source type="image/webp" srcset="{{ 'assets/images/site/icons/icon-do-best-l2.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/icons/icon-do-best-l2.png'| theme }}" alt="L2 icon" />
        </picture>
        <p class="what-we-do-best__description">레이어2 구현(L2 Implementation)</p>
      </div>
      <div class="what-we-do-best__card">
        <picture class="icon">
          <source type="image/webp" srcset="{{ 'assets/images/site/icons/icon-do-best-tangem.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/icons/icon-do-best-tangem.png'| theme }}" alt="phone with card icon" />
        </picture>
        <p class="what-we-do-best__description">NFT 카드 개발</p>
      </div>
      <div class="what-we-do-best__card">
        <picture class="icon">
          <source type="image/webp" srcset="{{ 'assets/images/site/icons/icon-do-best-DAPPs.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/icons/icon-do-best-DAPPs.png'| theme }}" alt="DAPPs icon" />
        </picture>
        <p class="what-we-do-best__description">댑(DAPPs)개발</p>
      </div>
      <div class="what-we-do-best__card">
        <picture class="icon">
          <source type="image/webp" srcset="{{ 'assets/images/site/icons/icon-do-best-moon.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/icons/icon-do-best-moon.png'| theme }}" alt="moon icon" />
        </picture>
        <p class="what-we-do-best__description">Fiat On-Ramp 통합</p>
      </div>
      <div class="what-we-do-best__card">
        <picture class="icon">
          <source type="image/webp" srcset="{{ 'assets/images/site/icons/icon-do-best-OTC.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/icons/icon-do-best-OTC.png'| theme }}" alt="graph icon" />
        </picture>
        <p class="what-we-do-best__description">메타버스 개발</p>
      </div>
      <div class="what-we-do-best__card">
        <picture class="icon">
          <source type="image/webp" srcset="{{ 'assets/images/site/icons/icon-do-best-wallet.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/icons/icon-do-best-wallet.png'| theme }}" alt="wallet icon" />
        </picture>
        <p class="what-we-do-best__description">다중 지갑 관리 도구</p>
      </div>
      <div class="what-we-do-best__card">
        <picture class="icon">
          <source type="image/webp" srcset="{{ 'assets/images/site/icons/icon-do-best-anon.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/icons/icon-do-best-anon.png'| theme }}" alt="anon icon" />
        </picture>
        <p class="what-we-do-best__description">익명성을 보장한 트레이드</p>
      </div>
      <div class="what-we-do-best__card">
        <picture class="icon">
          <source type="image/webp" srcset="{{ 'assets/images/site/icons/icon-do-best-contract.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/icons/icon-do-best-contract.png'| theme }}" alt="contract icon" />
        </picture>
        <p class="what-we-do-best__description">스마트 컨트랙트 감사</p>
      </div>
      <div class="what-we-do-best__card">
        <picture class="icon">
          <source type="image/webp" srcset="{{ 'assets/images/site/icons/icon-do-best-phone.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/icons/icon-do-best-phone.png'| theme }}" alt="phone icon" />
        </picture>
        <p class="what-we-do-best__description">iOS 및 Android용 앱 개발</p>
      </div>
      <div class="what-we-do-best__card">
        <picture class="icon">
          <source type="image/webp" srcset="{{ 'assets/images/site/icons/icon-do-best-shield.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/icons/icon-do-best-shield.png'| theme }}" alt="shield icon" />
        </picture>
        <p class="what-we-do-best__description">전용 블록체인 탐색기능</p>
      </div>
    </div>
  </div>
</div>