description = "Section why us"
==
<div class="why-us container">
	<div class="block-header">
		<h2 class="primary-header">회사 경력</h2> </div>
	<div class="why-us__content">
		<div class="why-us__card">
			<p class="why-us__card__primary">
				<span class="why-us__card-numbers">300+</span>
				<span class="why-us__card-units"></span>
			</p>
			<p class="why-us__card__secondary">턴키(TURN-KEY) 기반 프로젝트 진행</p>
		</div>
		<div class="why-us__card">
			<p class="why-us__card__primary">
				<span class="why-us__card-numbers">15 000+</span>
				<span class="why-us__card-units"></span>
			</p>
			<p class="why-us__card__secondary">스마트 컨트랙트 배포</p>
		</div>
		<div class="why-us__card">
			<p class="why-us__card__primary">
				<span class="why-us__card-numbers">130명+</span>
				<span class="why-us__card-units"></span>
			</p>
			<p class="why-us__card__secondary">팀원 중 100명+ 개발자</p>
		</div>
		<div class="why-us__card">
			<p class="why-us__card__primary">
				<span class="why-us__card-numbers">10억불</span>
				<span class="why-us__card-units"></span>
			</p>
			<p class="why-us__card__secondary">이상 고객 자산 관리 금액</p>
		</div>
		<div class="why-us__card">
			<p class="why-us__card__primary">
				<span class="why-us__card-numbers">15년+</span>
				<span class="why-us__card-units"></span>
			</p>
			<p class="why-us__card__secondary">개발 경력</p>
		</div>
		<div class="why-us__card">
			<p class="why-us__card__primary">
				<span class="why-us__card-numbers">모든</span>
				<span class="why-us__card-units"></span>
			</p>
			<p class="why-us__card__secondary">종류의 블록체인 개발</p>
		</div>
	</div>
</div>