description = "Section why us"
==
<div class="why-us container">
	<div class="block-header">
		<h2 class="primary-header">Why us?</h2> </div>
	<div class="why-us__content">
		<div class="why-us__card">
			<p class="why-us__card__primary">
				<span class="why-us__card-numbers">250+</span>
				<span class="why-us__card-units">Projects</span>
			</p>
			<p class="why-us__card__secondary">created on a turn-key basis</p>
		</div>
		<div class="why-us__card">
			<p class="why-us__card__primary">
				<span class="why-us__card-numbers">15 000+</span>
				<span class="why-us__card-units"></span>
			</p>
			<p class="why-us__card__secondary">smart contracts deployed</p>
		</div>
		<div class="why-us__card">
			<p class="why-us__card__primary">
				<span class="why-us__card-numbers">100+</span>
				<span class="why-us__card-units">Team</span>
			</p>
			<p class="why-us__card__secondary">60+ developers</p>
		</div>
		<div class="why-us__card">
			<p class="why-us__card__primary">
				<span class="why-us__card-numbers">1Bn+</span>
				<span class="why-us__card-units">Dollars</span>
			</p>
			<p class="why-us__card__secondary">capitalization of built projects</p>
		</div>
		<div class="why-us__card">
			<p class="why-us__card__primary">
				<span class="why-us__card-numbers">15+</span>
				<span class="why-us__card-units">Years</span>
			</p>
			<p class="why-us__card__secondary">of development experience</p>
		</div>
		<div class="why-us__card">
			<p class="why-us__card__primary">
				<span class="why-us__card-numbers">ANY</span>
				<span class="why-us__card-units">Blockchain</span>
			</p>
			<p class="why-us__card__secondary">integration and development</p>
		</div>
	</div>
</div>